In [375]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [376]:
import pandas as pd
import numpy as np

path01 = '/content/drive/MyDrive/Dados P2/scenario01/'
path02 = '/content/drive/MyDrive/Dados P2/scenario02/'

patients01 = pd.read_csv(path01 + 'patients.csv')
patients01['BIRTHDATE'] = pd.to_datetime(patients01['BIRTHDATE'])
patients01['DEATHDATE'] = pd.to_datetime(patients01['DEATHDATE'])

conditions01 = pd.read_csv(path01 + 'conditions.csv')
conditions01['START'] = pd.to_datetime(conditions01['START'])
conditions01['STOP'] = pd.to_datetime(conditions01['STOP'])

encounters01 = pd.read_csv(path01 + 'encounters.csv')
encounters01['START'] = pd.to_datetime(encounters01['START'])
encounters01['STOP'] = pd.to_datetime(encounters01['STOP'])

medications01 = pd.read_csv(path01 + 'medications.csv')
medications01['START'] = pd.to_datetime(medications01['START'])
medications01['STOP'] = pd.to_datetime(medications01['STOP'])

procedures01 = pd.read_csv(path01 + 'procedures.csv')
procedures01['START'] = pd.to_datetime(procedures01['START'])
procedures01['STOP'] = pd.to_datetime(procedures01['STOP'])

allergies01 = pd.read_csv(path01 + 'allergies.csv')
allergies01['START'] = pd.to_datetime(allergies01['START'])
allergies01['STOP'] = pd.to_datetime(allergies01['STOP'])

careplans01 = pd.read_csv(path01 + 'careplans.csv')
careplans01['START'] = pd.to_datetime(careplans01['START'])
careplans01['STOP'] = pd.to_datetime(careplans01['STOP'])

devices01 = pd.read_csv(path01 + 'devices.csv')
devices01['START'] = pd.to_datetime(devices01['START'])
devices01['STOP'] = pd.to_datetime(devices01['STOP'])

immunizations01 = pd.read_csv(path01 + 'immunizations.csv')
immunizations01['DATE'] = pd.to_datetime(immunizations01['DATE'])

observations01 = pd.read_csv(path01 + 'observations.csv')
observations01['DATE'] = pd.to_datetime(observations01['DATE'])

supplies01 = pd.read_csv(path01 + 'supplies.csv')
supplies01['DATE'] = pd.to_datetime(supplies01['DATE'])


patients02 = pd.read_csv(path02 + 'patients.csv')
patients02['BIRTHDATE'] = pd.to_datetime(patients02['BIRTHDATE'])
patients02['DEATHDATE'] = pd.to_datetime(patients02['DEATHDATE'])

conditions02 = pd.read_csv(path02 + 'conditions.csv')
conditions02['START'] = pd.to_datetime(conditions02['START'])
conditions02['STOP'] = pd.to_datetime(conditions02['STOP'])

encounters02 = pd.read_csv(path02 + 'encounters.csv')
encounters02['START'] = pd.to_datetime(encounters02['START'])
encounters02['STOP'] = pd.to_datetime(encounters02['STOP'])

medications02 = pd.read_csv(path02 + 'medications.csv')
medications02['START'] = pd.to_datetime(medications02['START'])
medications02['STOP'] = pd.to_datetime(medications02['STOP'])

procedures02 = pd.read_csv(path02 + 'procedures.csv')
procedures02['START'] = pd.to_datetime(procedures02['START'])
procedures02['STOP'] = pd.to_datetime(procedures02['STOP'])

allergies02 = pd.read_csv(path02 + 'allergies.csv')
allergies02['START'] = pd.to_datetime(allergies02['START'])
allergies02['STOP'] = pd.to_datetime(allergies02['STOP'])

careplans02 = pd.read_csv(path02 + 'careplans.csv')
careplans02['START'] = pd.to_datetime(careplans02['START'])
careplans02['STOP'] = pd.to_datetime(careplans02['STOP'])

devices02 = pd.read_csv(path02 + 'devices.csv')
devices02['START'] = pd.to_datetime(devices02['START'])
devices02['STOP'] = pd.to_datetime(devices02['STOP'])

immunizations02 = pd.read_csv(path02 + 'immunizations.csv')
immunizations02['DATE'] = pd.to_datetime(immunizations02['DATE'])

observations02 = pd.read_csv(path02 + 'observations.csv')
observations02['DATE'] = pd.to_datetime(observations02['DATE'])

supplies02 = pd.read_csv(path02 + 'supplies.csv')
supplies02['DATE'] = pd.to_datetime(supplies02['DATE'])

In [377]:
#Condições únicas
conditions01_desc = conditions01['DESCRIPTION'].value_counts()

#Imprimindo todas
for d in conditions01_desc.index:
  print(d)

Full-time employment (finding)
Stress (finding)
Part-time employment (finding)
Limited social contact (finding)
Viral sinusitis (disorder)
Social isolation (finding)
Not in labor force (finding)
Victim of intimate partner abuse (finding)
Acute viral pharyngitis (disorder)
Acute bronchitis (disorder)
Received higher education (finding)
Reports of violence in the environment (finding)
Normal pregnancy
Body mass index 30+ - obesity (finding)
Risk activity involvement (finding)
Anemia (disorder)
Prediabetes
Received certificate of high school equivalency (finding)
Hypertension
Has a criminal record (finding)
Chronic sinusitis (disorder)
Chronic low back pain (finding)
Otitis media
Unhealthy alcohol drinking behavior (finding)
Miscarriage in first trimester
Streptococcal sore throat (disorder)
Acute myeloid leukemia  disease (disorder)
Metabolic syndrome X (disorder)
Housing unsatisfactory (finding)
Febrile neutropenia (disorder)
Chronic neck pain (finding)
Severe anxiety (panic) (finding
Sprain of ankle
Lack of access to transportation (finding)
Hyperlipidemia
Transport problems (finding)
Misuses drugs (finding)
Suspected COVID-19
COVID-19
Coronary Heart Disease
Only received primary school education (finding)
Polyp of colon
Unemployed (finding)
Fever (finding)
Concussion with no loss of consciousness
Sinusitis (disorder)
Diabetes
Hypertriglyceridemia (disorder)
Osteoarthritis of knee
Cough (finding)
Sprain of wrist
Acute bacterial sinusitis (disorder)
Refugee (person)
Served in armed forces (finding)
Osteoporosis (disorder)
Drug overdose
Whiplash injury to neck
Appendicitis
History of appendectomy
Fracture of forearm
History of cardiac arrest (situation)
Cardiac Arrest
Chronic pain
Impacted molars
Stroke
Sleep disorder (disorder)
Loss of taste (finding)
Hyperglycemia (disorder)
Chronic intractable migraine without aura
History of single seizure (situation)
Seizure disorder
Bacteremia (finding)
Laceration of thigh
Childhood asthma
Fatigue (finding)
Fracture of clavicle
Laceration of forearm
Escherichia coli urinary tract infection
Perennial allergic rhinitis
Laceration of hand
Myocardial Infarction
Sepsis (disorder)
History of myocardial infarction (situation)
Fetus with unknown complication
Fracture subluxation of wrist
Atrial Fibrillation
Tubal pregnancy
Fracture of ankle
Diabetic renal disease (disorder)
Obstructive sleep apnea syndrome (disorder)
Neutropenia (disorder)
Atopic dermatitis
Facial laceration
Laceration of foot
Antepartum eclampsia
Neuropathy due to type 2 diabetes mellitus (disorder)
Child attention deficit disorder
Sputum finding (finding)
Recurrent rectal polyp
Chronic kidney disease stage 1 (disorder)
Pneumonia (disorder)
Fibromyalgia (disorder)
Acute allergic reaction
Chronic congestive heart failure (disorder)
Concussion with loss of consciousness
Body mass index 40+ - severely obese (finding)
Preeclampsia
Epilepsy
Alzheimer's disease (disorder)
Opioid abuse (disorder)
Perennial allergic rhinitis with seasonal variation
Diabetic retinopathy associated with type II diabetes mellitus (disorder)
Neoplasm of prostate
Respiratory distress (finding)
Hypoxemia (disorder)
First degree burn
Carcinoma in situ of prostate (disorder)
Osteoarthritis of hip
Cystitis
Pathological fracture due to osteoporosis (disorder)
Sore throat symptom (finding)
Joint pain (finding)
Pulmonary emphysema (disorder)
Injury of tendon of the rotator cuff of shoulder
Malignant neoplasm of breast (disorder)
Muscle pain (finding)
Sleep apnea (disorder)
Fracture of rib
Pneumonia
Suspected lung cancer (situation)
Dyspnea (finding)
Idiopathic atrophic hypothyroidism
Blighted ovum
Closed fracture of hip
Acute pulmonary embolism (disorder)
Localized  primary osteoarthritis of the hand
Wheezing (finding)
Second degree burn
Headache (finding)
Acute respiratory failure (disorder)
Nonproliferative diabetic retinopathy due to type 2 diabetes mellitus (disorder)
Chronic obstructive bronchitis (disorder)
Non-small cell lung cancer (disorder)
Non-small cell carcinoma of lung  TNM stage 1 (disorder)
Homeless (finding)
Rupture of appendix
Bullet wound
Alcoholism
Familial Alzheimer's disease of early onset (disorder)
Septic shock (disorder)
Chill (finding)
Sepsis caused by virus (disorder)
Malignant tumor of colon
Transformed migraine (disorder)
Cerebral palsy (disorder)
Gout
Gastroesophageal reflux disease (disorder)
Primary fibromyalgia syndrome
Nasal congestion (finding)
Overlapping malignant neoplasm of colon
Concussion injury of brain
Spasticity (finding)
Smokes tobacco daily
Recurrent urinary tract infection
Contact dermatitis
Major depression disorder
Brain damage - traumatic
Acute respiratory distress syndrome (disorder)
Proliferative diabetic retinopathy due to type II diabetes mellitus (disorder)
Dribbling from mouth (finding)
Excessive salivation (disorder)
Rupture of patellar tendon
Seasonal allergic rhinitis
Nausea (finding)
Microalbuminuria due to type 2 diabetes mellitus (disorder)
Chronic kidney disease stage 2 (disorder)
Heart failure (disorder)
Injury of medial collateral ligament of knee
Poor muscle tone (finding)
Vomiting symptom (finding)
Bacterial infectious disease (disorder)
Acquired coagulation disorder (disorder)
Asthma
Bleeding from anus
Protracted diarrhea
Macular edema and retinopathy due to type 2 diabetes mellitus (disorder)
Injury of heart (disorder)
Rheumatoid arthritis
Metastasis from malignant tumor of prostate (disorder)
Tear of meniscus of knee
Small cell carcinoma of lung (disorder)
Acute Cholecystitis
Cholelithiasis
Epilepsy (disorder)
Primary small cell malignant neoplasm of lung  TNM stage 1 (disorder)
Intellectual disability (disorder)
History of amputation of foot (situation)
Injury of anterior cruciate ligament
Pain (finding)
Traumatic brain injury (disorder)
Pyelonephritis
Shock (disorder)
Unable to swallow saliva (finding)
Fracture of vertebral column without spinal cord injury
Dystonia (disorder)
Third degree burn
Social migrant (finding)
Retention of urine (disorder)
Lupus erythematosus
Fracture of the vertebral column with spinal cord injury
Proteinuria due to type 2 diabetes mellitus (disorder)
Chronic kidney disease stage 3 (disorder)
Primary malignant neoplasm of colon
Pressure ulcer (disorder)
Urinary tract infectious disease (disorder)
Allergy to latex (finding)
Hydrocephalus (disorder)
Scoliosis deformity of spine (disorder)
Congenital deformity of foot (disorder)
Chiari malformation type II (disorder)
Meningomyelocele (disorder)
Attempted suicide - suffocation
Acute deep venous thrombosis (disorder)
Injury of kidney (disorder)

In [378]:
#Quantos pacientes com NF?
conditions01_desc["Febrile neutropenia (disorder)"]

139

In [379]:
#Pegando os dados de condição para os pacientes com NF
nf01 = conditions01.loc[conditions01['CODE'] == 409089005]
nf01

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION
156,2012-07-12,2012-07-12,4288f90b-4774-c329-3176-c1482e824c04,7478a188-6e9b-6e3b-6f6c-b4f761647917,409089005,Febrile neutropenia (disorder)
314,2018-07-08,2018-07-08,f03f50be-20b1-3eae-2ed1-bb478bceb320,3952605e-1f86-c0ca-2cd4-526690fa035e,409089005,Febrile neutropenia (disorder)
526,2020-07-14,2020-07-14,11089781-c268-6838-642e-2c2c9edbb694,23f44790-ea99-7c28-af8d-9cdd2ac28a79,409089005,Febrile neutropenia (disorder)
583,2016-10-16,2016-10-16,d7b9725d-889f-d178-cf41-dbf8b373eda9,302a121f-18bc-ce22-5d53-d300b676318a,409089005,Febrile neutropenia (disorder)
600,2020-04-06,2020-04-06,ed2bb6aa-1f3c-b72b-46a6-54f05cac7da7,340d5009-b1c2-6b4e-b723-61e729c0c49f,409089005,Febrile neutropenia (disorder)
...,...,...,...,...,...,...
33588,2013-06-16,2013-06-16,7d87bdff-2df1-8162-80e4-2e406304515d,28aabf74-2e03-26ef-d05c-6620789247a8,409089005,Febrile neutropenia (disorder)
33698,2020-10-04,2020-10-04,d5c0cc48-5f8a-4533-325c-25a9c3284185,159e09f4-e928-9b74-046a-c7a05e56e404,409089005,Febrile neutropenia (disorder)
33824,2020-09-20,2020-09-20,a4cabcbc-8282-5599-6b69-01e28e69c045,10cd460d-c8fe-415e-53c8-d4474b6a3b2e,409089005,Febrile neutropenia (disorder)
35039,2020-03-02,2020-03-02,eca28495-500f-ab7e-356b-176f31382569,5989068e-8c3b-61a3-acb8-49773e26e4bc,409089005,Febrile neutropenia (disorder)
36265,1948-05-19,NaT,c815ffa4-2917-2c09-1569-e90d5a89eeb2,6f119a9d-c2cb-97b3-4233-0fcee24f6bc5,409089005,Febrile neutropenia (disorder)

In [380]:
#Transformando o identificador do paciente em lista pra usar no query
nf01_p_l = nf01['PATIENT'].value_counts().index

In [381]:
#Dados dos pacientes de interesse (que tiveram NF)
interesse01 = patients01.query("Id in @nf01_p_l")
interesse01

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,...,BIRTHPLACE,ADDRESS,CITY,STATE,COUNTY,ZIP,LAT,LON,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE
10,4288f90b-4774-c329-3176-c1482e824c04,2010-07-13,NaT,999-56-2259,NaN,NaN,NaN,Noah480,Rohan584,NaN,...,Yarmouth Massachusetts US,206 Kunze Camp,Melrose,Massachusetts,Middlesex County,2176.0,42.479439,-71.103581,290447.9400,1645.5300
15,f03f50be-20b1-3eae-2ed1-bb478bceb320,2002-07-12,NaT,999-48-8037,S99959365,NaN,Mr.,Morgan564,Reichel38,NaN,...,Westfield Massachusetts US,210 Gleichner Bridge,Randolph,Massachusetts,Norfolk County,2368.0,42.192188,-71.067986,96832.7390,486232.4010
24,11089781-c268-6838-642e-2c2c9edbb694,2011-07-17,NaT,999-92-3821,NaN,NaN,NaN,Lurline371,Sauer652,NaN,...,Everett Massachusetts US,759 Wolf Dam,Fall River,Massachusetts,Bristol County,2723.0,41.590621,-71.046056,270692.3500,240.6000
26,d7b9725d-889f-d178-cf41-dbf8b373eda9,2010-10-18,NaT,999-32-6865,NaN,NaN,NaN,Goldie436,Barrows492,NaN,...,Brookline Massachusetts US,799 Reinger Boulevard,Gloucester,Massachusetts,Essex County,1930.0,42.605526,-70.729913,290433.7125,2733.5775
27,ed2bb6aa-1f3c-b72b-46a6-54f05cac7da7,2008-04-09,NaT,999-89-9645,NaN,NaN,NaN,Hyman89,Ward668,NaN,...,Andover Massachusetts US,423 Herman Passage,Westford,Massachusetts,Middlesex County,NaN,42.549733,-71.400191,395100.9475,73806.3525
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1101,7d87bdff-2df1-8162-80e4-2e406304515d,2011-06-17,NaT,999-76-3115,NaN,NaN,NaN,Damian46,Cremin516,NaN,...,Boston Massachusetts US,230 Dickinson Harbor,Framingham,Massachusetts,Middlesex County,1701.0,42.368424,-71.473417,281142.1900,3744.1200
1104,d5c0cc48-5f8a-4533-325c-25a9c3284185,2017-10-05,NaT,999-28-7887,NaN,NaN,NaN,Meggan475,Ernser583,NaN,...,Rutland Massachusetts US,892 Cremin Esplanade Apt 96,Dracut,Massachusetts,Middlesex County,NaN,42.694810,-71.318830,114328.0700,90.6000
1107,a4cabcbc-8282-5599-6b69-01e28e69c045,2004-09-24,NaT,999-43-4976,S99979973,NaN,NaN,Sammie902,Kessler503,NaN,...,Millville Massachusetts US,564 Conroy Common Apt 12,Everett,Massachusetts,Middlesex County,2148.0,42.397333,-71.068659,438992.3675,1515.0225
1139,eca28495-500f-ab7e-356b-176f31382569,2017-03-03,NaT,999-20-2598,NaN,NaN,NaN,Kristan816,Kilback373,NaN,...,Williamsburg Massachusetts US,117 Dibbert Arcade Suite 80,New Bedford,Massachusetts,Bristol County,2740.0,41.556199,-71.008947,22223.6800,0.0000
1169,c815ffa4-2917-2c09-1569-e90d5a89eeb2,1933-05-23,1948-05-19,999-84-8049,NaN,NaN,NaN,Olen518,Hammes673,NaN,...,Arlington Massachusetts US,541 Lakin Promenade,Northampton,Massachusetts,Hampshire County,1053.0,42.284637,-72.589066,40604.6685,7632.8415

In [382]:
#Dos pacientes de interesse, aqueles que morreram (se for NaN, ou seja, não morreu, a igualdade não vai ser respeitada)
mortos01 = interesse01.loc[interesse01['DEATHDATE'] == interesse01['DEATHDATE']]
mortos01

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,...,BIRTHPLACE,ADDRESS,CITY,STATE,COUNTY,ZIP,LAT,LON,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE
31,205fa58e-7fd3-9e1f-4ae6-c0673d46a765,1952-06-03,1955-09-02,999-79-9438,NaN,NaN,NaN,Michale231,Lindgren255,NaN,...,Peabody Massachusetts US,815 Schmeler Crossing,Montague,Massachusetts,Franklin County,NaN,42.566907,-72.471121,1.066543e+05,0.0000
55,dd16c8be-ba56-aabc-fbea-5a842a415075,1968-10-28,1979-11-01,999-63-8040,NaN,NaN,NaN,Vergie176,Moen819,NaN,...,Stow Massachusetts US,453 Ratke Knoll,Springfield,Massachusetts,Hampden County,1020.0,42.156911,-72.629973,2.891677e+05,68.3025
75,160a53cf-63b1-790d-5e95-307e88c1dc9c,1968-11-30,1989-11-25,999-29-2747,S99918212,X67912201X,Ms.,Liz413,Witting912,NaN,...,Lynn Massachusetts US,976 Braun Green,Marshfield,Massachusetts,Plymouth County,NaN,42.087159,-70.661361,6.115567e+05,100564.4215
116,b60922aa-a536-e6a8-9e4b-d523d17b6929,1919-11-01,1924-10-30,999-64-9457,NaN,NaN,NaN,Chantell995,Konopelski743,NaN,...,Boston Massachusetts US,513 Langworth Fort Suite 51,Chelsea,Massachusetts,Suffolk County,2149.0,42.433081,-71.008570,7.836780e+03,0.0000
123,158fffa4-6613-055b-3d43-d88fc9860894,1958-12-05,1960-12-04,999-73-2650,NaN,NaN,NaN,Tomika243,Hickle134,NaN,...,Andover Massachusetts US,722 Walker Row Apt 45,Hopedale,Massachusetts,Worcester County,NaN,42.101596,-71.573367,4.975663e+04,0.0000
129,738a5bc6-78c7-2b05-d185-9741920b0497,1961-06-08,1965-05-25,999-24-2264,NaN,NaN,NaN,Guy979,Marquardt819,NaN,...,Palermo Sicily IT,226 Dickinson Grove Apt 41,Gloucester,Massachusetts,Essex County,1930.0,42.619121,-70.704763,1.109308e+04,0.0000
162,5d3c03b8-74cd-941f-3df6-00c45864f1c2,2014-06-05,2014-06-05,999-25-7453,NaN,NaN,NaN,Dino214,Heathcote539,NaN,...,Andover Massachusetts US,850 Okuneva Avenue,Newton,Massachusetts,Middlesex County,2462.0,42.392149,-71.158809,2.810218e+03,105.6525
283,e90e1bfc-18af-2b1b-e4a2-c4fc60d8e18a,2002-08-25,2005-08-25,999-90-3907,NaN,NaN,NaN,Jospeh459,Russel238,NaN,...,Newton Massachusetts US,994 Larson Manor,Fall River,Massachusetts,Bristol County,2723.0,41.707916,-71.179469,5.420054e+04,0.0000
300,3075db0f-918e-3d24-0782-5b359d23e357,1929-04-11,1941-04-08,999-94-5842,NaN,NaN,NaN,César846,Llamas954,NaN,...,Caguas Puerto Rico PR,945 Pacocha Estate Apt 47,Natick,Massachusetts,Middlesex County,NaN,42.333483,-71.312769,3.081917e+05,1154.8425
327,3fe4eb84-cd88-aa94-fa92-e8b6c0858d94,2001-12-14,2003-12-14,999-89-9242,NaN,NaN,NaN,Lavette209,Thompson596,NaN,...,North Reading Massachusetts US,1049 Schulist Arcade Unit 63,Maynard,Massachusetts,Middlesex County,NaN,42.461705,-71.500795,5.396033e+04,0.0000
332,59541c40-a53e-37c0-9703-d88038b6eced,1929-04-11,1932-04-10,999-20-3780,NaN,NaN,NaN,Eduardo902,Montalvo564,NaN,...,Salisbury Saint Joseph Parish DM,858 Prohaska Corner,Natick,Massachusetts,Middlesex County,NaN,42.244476,-71.383153,8.730627e+04,0.0000
337,8a9517bb-bd45-da96-f962-668c905ceecb,1936-10-14,1943-10-13,999-47-9151,NaN,NaN,NaN,Adán600,Cerda549,NaN,...,Guatemala City Guatemala GT,602 Rolfson Station,Natick,Massachusetts,Middlesex County,NaN,42.290634,-71.362783,1.726514e+05,909.4725
350,c9176ee2-d94c-6930-d132-0120cf1eff92,1989-01-16,1994-01-15,999-92-5768,NaN,NaN,NaN,Seymour882,Stanton715,NaN,...,Natick Massachusetts US,280 Berge Street Unit 36,Arlington,Massachusetts,Middlesex County,2476.0,42.454762,-71.163943,1.251316e+05,255.8025
363,6ada49d6-cce2-faea-781d-5f4c282c49b4,1987-11-10,1996-11-07,999-73-1407,NaN,NaN,NaN,Jaime666,Anderson154,NaN,...,Quincy Massachusetts US,975 Bruen Fort,Cambridge,Massachusetts,Middlesex County,2472.0,42.394787,-71.222632,1.900391e+05,1871.8800
365,7bbcd20f-8d90-2c04-06be-e7918684239f,1977-03-22,1989-03-28,999-57-1879,NaN,NaN,NaN,Colby655,Lesch175,NaN,...,Boston Massachusetts US,745 Schinner Parade Suite 7,Medford,Massachusetts,Middlesex County,2155.0,42.425366,-71.071935,3.893477e+04,13200.5730
376,ccecb758-0a9b-9670-23e6-9e405f69a690,1974-06-02,1986-05-30,999-53-6136,NaN,NaN,NaN,Jessie665,Collier206,NaN,...,Boston Massachusetts US,840 Feest Course Unit 38,Marion,Massachusetts,Plymouth County,NaN,41.693662,-70.773401,3.734448e+05,0.0000
503,4b115fe6-e241-6571-e959-e9340b298d75,1940-05-10,1962-08-12,999-15-4142,S99910490,X1827953X,Mr.,Will178,Auer97,NaN,...,Westwood Massachusetts US,146 Kautzer Port Unit 90,Yarmouth,Massachusetts,Barnstable County,NaN,41.695297,-70.235698,1.160002e+06,0.0000
520,4d85bedc-5949-08c7-ed4b-6a46a6f34b91,1987-09-08,1989-09-07,999-44-4781,NaN,NaN,NaN,Porsha375,Ryan260,NaN,...,Springfield Massachusetts US,337 Abbott Gardens,Mansfield,Massachusetts,Bristol County,NaN,42.051139,-71.169211,6.018071e+04,0.0000
553,2dc56646-2a96-6181-cbe4-58047d1bdb28,1991-10-17,1992-10-16,999-86-6220,NaN,NaN,NaN,Altha90,Schuppe920,NaN,...,Newburyport Massachusetts US,580 Quigley Viaduct Apt 72,Springfield,Massachusetts,Hampden County,1128.0,42.221442,-72.518913,3.214770e+03,0.0000
566,17a9abd9-10dc-e261-54b7-5c441f9cb756,1983-03-10,1985-03-09,999-46-4625,NaN,NaN,NaN,Collen405,Thompson596,NaN,...,Westfield Massachusetts US,1040 Tromp Frontage road,Winchester,Massachusetts,Middlesex County,1890.0,42.472939,-71.157764,5.323066e+04,0.0000
613,dd902384-4955-83d4-4b52-7909f0f91e51,1992-07-11,2005-07-08,999-30-6263,NaN,NaN,NaN,Lynn917,Sanford861,NaN,...,Carver Massachusetts US,1060 Runolfsdottir Avenue,Bliss Corner,Massachusetts,Bristol County,NaN,41.584123,-70.959008,3.293015e+05,15352.6650
659,c9e0aadd-a5b9-e1d2-eb34-2d9bdb872a73,1957-02-22,1960-02-22,999-88-3543,NaN,NaN,NaN,Fredia307,Dietrich576,NaN,...,Buzzards Bay Massachusetts US,940 Farrell Boulevard,North Andover,Massachusetts,Essex County,NaN,42.704305,-71.068997,8.179830e+04,0.0000
709,ac3634cb-cfcd-6cf8-26c2-3e6436a0504a,2006-01-07,2007-01-07,999-63-7830,NaN,NaN,NaN,Alonzo487,Altenwerth646,NaN,...,Lowell Massachusetts US,450 McKenzie Loaf,North Andover,Massachusetts,Essex County,NaN,42.705257,-71.126677,2.870878e+04,90.6000
746,eabfa666-29b5-64f3-105a-e8ea7653ae70,1956-01-04,1969-01-01,999-89-8336,NaN,NaN,NaN,Antonia30,Méndez913,NaN,...,La Paz Baja California MX,1082 Goodwin Club,Fall River,Massachusetts,Bristol County,2723.0,41.712085,-71.151231,3.236083e+05,62.2725
823,adf63106-46a4-e19c-349a-f0a3eec09e33,1959-12-22,1959-12-22,999-35-9770,NaN,NaN,NaN,Evelyne208,Towne435,NaN,...,Marshfield Massachusetts US,978 Terry Approach,Yarmouth,Massachusetts,Barnstable County,NaN,41.665475,-70.216150,4.730490e+03,0.0000
875,331b91fb-bca6-ab76-2671-1bf22def011e,1954-10-21,1954-10-21,999-75-5240,NaN,NaN,NaN,Frank378,Lubowitz58,NaN,...,Marlborough Massachusetts US,447 Kovacek Rapid,Chatham,Massachusetts,Barnstable County,2633.0,41.691318,-69.922814,6.505245e+02,579.9655
909,810044da-b075-dd80-c4ba-f933f31d9403,1972-08-06,1975-08-06,999-51-6169,NaN,NaN,NaN,Laverne101,Reynolds644,NaN,...,Uxbridge Massachusetts US,297 Rippin Boulevard Apt 84,North Attleborough,Massachusetts,Bristol County,NaN,42.017710,-71.377824,8.132699e+04,0.0000
1041,ad1d7304-5425-7263-fc59-62cfc78051e1,1995-04-18,1997-04-17,999-98-4286,NaN,NaN,NaN,Eve68,Botsford977,NaN,...,Falmouth Massachusetts US,384 Muller Common Apt 54,Dudley,Massachusetts,Worcester County,NaN,42.100268,-71.968662,5.363995e+04,0.0000
1044,689e11ec-675a-8dd6-ccfa-f8e52182ad80,2002-03-09,2019-03-05,999-53-1778,S99943442,NaN,NaN,Ray930,Reilly981,NaN,...,Lawrence Massachusetts US,249 Lubowitz Track Apt 66,Boston,Massachusetts,Suffolk County,2131.0,42.306613,-71.065827,5.437819e+04,25235.6670
1075,e56f117c-fa07-9c70-8c90-6114807c4e41,1956-04-19,1959-04-19,999-93-6425,NaN,NaN,NaN,Becky854,Hayes766,NaN,...,Newton Massachusetts US,684 Schroeder Meadow Unit 27,North Adams,Massachusetts,Berkshire County,NaN,42.715359,-73.082137,6.902395e+04,757.6425
1169,c815ffa4-2917-2c09-1569-e90d5a89eeb2,1933-05-23,1948-05-19,999-84-8049,NaN,NaN,NaN,Olen518,Hammes673,NaN,...,Arlington Massachusetts US,541 Lakin Promenade,Northampton,Massachusetts,Hampshire County,1053.0,42.284637,-72.589066,4.060467e+04,7632.8415

In [383]:
#Transformando a coluna de 'Id' numa lista pro query
mortos01_id = mortos01['Id'].tolist()

In [384]:
#Vendo os dados de NF pros que morreram
nf01.query('PATIENT in @mortos01_id')

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION
643,1954-06-03,1954-06-03,205fa58e-7fd3-9e1f-4ae6-c0673d46a765,15afa0c5-3dd6-47d8-14b2-aacd94ca2bdf,409089005,Febrile neutropenia (disorder)
1508,1972-10-27,1972-10-27,dd16c8be-ba56-aabc-fbea-5a842a415075,27398013-e276-4169-b695-ad9e346263f5,409089005,Febrile neutropenia (disorder)
2147,1989-11-25,NaT,160a53cf-63b1-790d-5e95-307e88c1dc9c,ae477fc8-9f89-04ce-c3b9-3e4001e9003f,409089005,Febrile neutropenia (disorder)
3549,1924-10-30,NaT,b60922aa-a536-e6a8-9e4b-d523d17b6929,fbbd7b01-1387-5869-5c12-2fe616a90e03,409089005,Febrile neutropenia (disorder)
3755,1960-12-04,NaT,158fffa4-6613-055b-3d43-d88fc9860894,0c79fa73-01aa-344f-6e6b-07b0b5796f42,409089005,Febrile neutropenia (disorder)
3910,1962-06-08,1962-06-08,738a5bc6-78c7-2b05-d185-9741920b0497,3c888040-5939-3dc2-0a3d-d723249feecc,409089005,Febrile neutropenia (disorder)
4887,2014-06-05,NaT,5d3c03b8-74cd-941f-3df6-00c45864f1c2,28a3ce22-6a9c-cf17-2240-9c9b2af4d5f5,409089005,Febrile neutropenia (disorder)
8697,2005-08-25,NaT,e90e1bfc-18af-2b1b-e4a2-c4fc60d8e18a,2ddccfe1-993d-f356-9813-aee5856982ef,409089005,Febrile neutropenia (disorder)
9150,1941-04-08,NaT,3075db0f-918e-3d24-0782-5b359d23e357,7bd93514-bfb1-17b0-94dc-60b8f5266a56,409089005,Febrile neutropenia (disorder)
9849,2003-12-14,NaT,3fe4eb84-cd88-aa94-fa92-e8b6c0858d94,f3c13d47-a466-9587-09f1-5249178d25f1,409089005,Febrile neutropenia (disorder)
10069,1932-04-10,NaT,59541c40-a53e-37c0-9703-d88038b6eced,163c97b5-d59d-2458-14af-633eea0f2c06,409089005,Febrile neutropenia (disorder)
10189,1943-10-13,NaT,8a9517bb-bd45-da96-f962-668c905ceecb,f3e90b02-7b6d-6664-7df2-b9af62f40f64,409089005,Febrile neutropenia (disorder)
10681,1994-01-15,NaT,c9176ee2-d94c-6930-d132-0120cf1eff92,6583f5d2-18aa-bd75-2a67-11ccff7f1e7f,409089005,Febrile neutropenia (disorder)
11215,1996-11-07,NaT,6ada49d6-cce2-faea-781d-5f4c282c49b4,f4e71edd-6a50-cf4f-14ae-fa04e896becc,409089005,Febrile neutropenia (disorder)
11234,1980-03-21,1980-03-21,7bbcd20f-8d90-2c04-06be-e7918684239f,f5c77b51-d190-1f42-3038-eab4cf28c841,409089005,Febrile neutropenia (disorder)
11504,1986-05-30,NaT,ccecb758-0a9b-9670-23e6-9e405f69a690,2c93b8cf-084e-9d40-451e-e16ed43dcb8d,409089005,Febrile neutropenia (disorder)
15451,1961-05-05,1961-05-05,4b115fe6-e241-6571-e959-e9340b298d75,b0a29281-ab82-bace-b3f5-c817e0f5f5c1,409089005,Febrile neutropenia (disorder)
16184,1989-09-07,NaT,4d85bedc-5949-08c7-ed4b-6a46a6f34b91,a73d1c44-8021-66cd-a84d-20f7ac413234,409089005,Febrile neutropenia (disorder)
17357,1992-10-16,NaT,2dc56646-2a96-6181-cbe4-58047d1bdb28,3304f9a7-919d-99c5-e706-a089798747f7,409089005,Febrile neutropenia (disorder)
17697,1985-03-09,NaT,17a9abd9-10dc-e261-54b7-5c441f9cb756,890a969f-074d-2a97-1496-fed8fb70fdf9,409089005,Febrile neutropenia (disorder)
18991,2005-07-08,NaT,dd902384-4955-83d4-4b52-7909f0f91e51,36504f2f-75de-77dd-d15d-7edbba4e0b67,409089005,Febrile neutropenia (disorder)
20191,1960-02-22,NaT,c9e0aadd-a5b9-e1d2-eb34-2d9bdb872a73,a128b8c6-9da0-616b-7e48-e686c3427fb6,409089005,Febrile neutropenia (disorder)
21409,2007-01-07,NaT,ac3634cb-cfcd-6cf8-26c2-3e6436a0504a,51e568b5-e413-7525-1d45-b633fdcba92a,409089005,Febrile neutropenia (disorder)
22459,1968-12-31,NaT,eabfa666-29b5-64f3-105a-e8ea7653ae70,ec30f432-108f-0a27-52b2-47e6ba83e0fa,409089005,Febrile neutropenia (disorder)
25092,1959-12-22,NaT,adf63106-46a4-e19c-349a-f0a3eec09e33,f5efdd23-46e1-2a8c-592a-d8492d81bdb9,409089005,Febrile neutropenia (disorder)
26910,1954-10-21,NaT,331b91fb-bca6-ab76-2671-1bf22def011e,06d42efb-3ed8-1516-2a9e-c0786e7c95b6,409089005,Febrile neutropenia (disorder)
27985,1975-08-06,NaT,810044da-b075-dd80-c4ba-f933f31d9403,4011c077-787a-d757-a80b-ac32d1f0589d,409089005,Febrile neutropenia (disorder)
31704,1997-04-17,NaT,ad1d7304-5425-7263-fc59-62cfc78051e1,b4980795-238e-b29a-0526-7a36d502946f,409089005,Febrile neutropenia (disorder)
31755,2019-03-05,NaT,689e11ec-675a-8dd6-ccfa-f8e52182ad80,a0b9af9e-002a-c3e9-8bdf-d67f35f8da63,409089005,Febrile neutropenia (disorder)
32771,1959-04-19,NaT,e56f117c-fa07-9c70-8c90-6114807c4e41,3a0e850b-734f-47b4-b112-685013776fad,409089005,Febrile neutropenia (disorder)
36265,1948-05-19,NaT,c815ffa4-2917-2c09-1569-e90d5a89eeb2,6f119a9d-c2cb-97b3-4233-0fcee24f6bc5,409089005,Febrile neutropenia (disorder)

Pelo que eu percebi, em geral, os pacientes que a neutropenia não teve um fim (STOP == NaN) morreram no mesmo dia que começou a NF. Os que a neutropenia passou e morreram, morreram só anos depois.

In [385]:
#Vendo os dados de NF pros que não morreram
nf01.query('PATIENT not in @mortos01_id')

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION
156,2012-07-12,2012-07-12,4288f90b-4774-c329-3176-c1482e824c04,7478a188-6e9b-6e3b-6f6c-b4f761647917,409089005,Febrile neutropenia (disorder)
314,2018-07-08,2018-07-08,f03f50be-20b1-3eae-2ed1-bb478bceb320,3952605e-1f86-c0ca-2cd4-526690fa035e,409089005,Febrile neutropenia (disorder)
526,2020-07-14,2020-07-14,11089781-c268-6838-642e-2c2c9edbb694,23f44790-ea99-7c28-af8d-9cdd2ac28a79,409089005,Febrile neutropenia (disorder)
583,2016-10-16,2016-10-16,d7b9725d-889f-d178-cf41-dbf8b373eda9,302a121f-18bc-ce22-5d53-d300b676318a,409089005,Febrile neutropenia (disorder)
600,2020-04-06,2020-04-06,ed2bb6aa-1f3c-b72b-46a6-54f05cac7da7,340d5009-b1c2-6b4e-b723-61e729c0c49f,409089005,Febrile neutropenia (disorder)
...,...,...,...,...,...,...
33569,2013-02-16,2013-02-16,c022272d-ecd2-92b6-32f4-3769ef3514f9,c7d05ed8-8bc6-7688-9005-d4de2af4891f,409089005,Febrile neutropenia (disorder)
33588,2013-06-16,2013-06-16,7d87bdff-2df1-8162-80e4-2e406304515d,28aabf74-2e03-26ef-d05c-6620789247a8,409089005,Febrile neutropenia (disorder)
33698,2020-10-04,2020-10-04,d5c0cc48-5f8a-4533-325c-25a9c3284185,159e09f4-e928-9b74-046a-c7a05e56e404,409089005,Febrile neutropenia (disorder)
33824,2020-09-20,2020-09-20,a4cabcbc-8282-5599-6b69-01e28e69c045,10cd460d-c8fe-415e-53c8-d4474b6a3b2e,409089005,Febrile neutropenia (disorder)
35039,2020-03-02,2020-03-02,eca28495-500f-ab7e-356b-176f31382569,5989068e-8c3b-61a3-acb8-49773e26e4bc,409089005,Febrile neutropenia (disorder)

In [386]:
conditions01_i = conditions01.query("PATIENT in @nf01_p_l")
conditions01_i

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION
155,2012-07-12,2012-07-12,4288f90b-4774-c329-3176-c1482e824c04,25284e90-6574-e762-47c4-d2598d301565,91861009,Acute myeloid leukemia disease (disorder)
156,2012-07-12,2012-07-12,4288f90b-4774-c329-3176-c1482e824c04,7478a188-6e9b-6e3b-6f6c-b4f761647917,409089005,Febrile neutropenia (disorder)
157,2014-06-27,2014-07-20,4288f90b-4774-c329-3176-c1482e824c04,ebb2a42b-2546-c9ea-d779-415a727a38a6,444814009,Viral sinusitis (disorder)
158,2014-12-19,2015-06-23,4288f90b-4774-c329-3176-c1482e824c04,5acd4832-c07d-9cd3-4b01-a65075933fe5,65363002,Otitis media
159,2015-02-20,2015-03-06,4288f90b-4774-c329-3176-c1482e824c04,395a791e-7888-47f1-b509-56e753ed1186,195662009,Acute viral pharyngitis (disorder)
...,...,...,...,...,...,...
36261,1944-04-18,1944-05-10,c815ffa4-2917-2c09-1569-e90d5a89eeb2,9969568f-b1a5-2f9f-92eb-f717ef649622,444814009,Viral sinusitis (disorder)
36262,1946-04-12,1946-04-22,c815ffa4-2917-2c09-1569-e90d5a89eeb2,8bdcc608-35d0-6545-6791-f44564a0a999,43878008,Streptococcal sore throat (disorder)
36263,1947-06-01,1947-06-13,c815ffa4-2917-2c09-1569-e90d5a89eeb2,3074a60d-7ca6-6815-888f-42b8cce8e890,444814009,Viral sinusitis (disorder)
36264,1948-05-19,NaT,c815ffa4-2917-2c09-1569-e90d5a89eeb2,755bf150-56be-50c2-b58e-ac0967d7870d,91861009,Acute myeloid leukemia disease (disorder)
36265,1948-05-19,NaT,c815ffa4-2917-2c09-1569-e90d5a89eeb2,6f119a9d-c2cb-97b3-4233-0fcee24f6bc5,409089005,Febrile neutropenia (disorder)

In [387]:
amld01 = conditions01_i.loc[conditions01_i['CODE'] == 91861009]
amld01

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION
155,2012-07-12,2012-07-12,4288f90b-4774-c329-3176-c1482e824c04,25284e90-6574-e762-47c4-d2598d301565,91861009,Acute myeloid leukemia disease (disorder)
313,2018-07-08,2018-07-08,f03f50be-20b1-3eae-2ed1-bb478bceb320,4a1374d4-2844-fb3d-81d6-76d41420a2cc,91861009,Acute myeloid leukemia disease (disorder)
525,2020-07-14,2020-07-14,11089781-c268-6838-642e-2c2c9edbb694,e1b968f4-59c7-d733-4558-2a8862bb0deb,91861009,Acute myeloid leukemia disease (disorder)
582,2016-10-16,2016-10-16,d7b9725d-889f-d178-cf41-dbf8b373eda9,dad72f66-1b37-db0a-b2a8-898d75c1d722,91861009,Acute myeloid leukemia disease (disorder)
599,2020-04-06,2020-04-06,ed2bb6aa-1f3c-b72b-46a6-54f05cac7da7,73c17c4e-aa14-a2ca-e327-d9c12aaf727f,91861009,Acute myeloid leukemia disease (disorder)
...,...,...,...,...,...,...
33587,2013-06-16,2013-06-16,7d87bdff-2df1-8162-80e4-2e406304515d,4ee473fd-79b7-9ab1-da77-595df745fc18,91861009,Acute myeloid leukemia disease (disorder)
33697,2020-10-04,2020-10-04,d5c0cc48-5f8a-4533-325c-25a9c3284185,b2b09a69-ca8b-b08a-b759-aac52c96f469,91861009,Acute myeloid leukemia disease (disorder)
33823,2020-09-20,2020-09-20,a4cabcbc-8282-5599-6b69-01e28e69c045,3a8226ab-4a94-d097-1d0a-15a3a7087b38,91861009,Acute myeloid leukemia disease (disorder)
35038,2020-03-02,2020-03-02,eca28495-500f-ab7e-356b-176f31382569,ded8e23d-decb-a029-e74d-e8fd54d2c7a0,91861009,Acute myeloid leukemia disease (disorder)
36264,1948-05-19,NaT,c815ffa4-2917-2c09-1569-e90d5a89eeb2,755bf150-56be-50c2-b58e-ac0967d7870d,91861009,Acute myeloid leukemia disease (disorder)

In [388]:
print(amld01['PATIENT'].value_counts())
amld01_p = amld01['PATIENT'].tolist()

4288f90b-4774-c329-3176-c1482e824c04    1
ee42b995-8fc5-d8bf-5c09-205408bb76fd    1
e7e52291-59e3-52f1-310c-a232fd7be114    1
0ecf6b43-7c73-0458-ab56-19de89acf41e    1
49bd843b-b75e-ac60-a452-605e324c9df2    1
                                       ..
e90e1bfc-18af-2b1b-e4a2-c4fc60d8e18a    1
2dfb6d26-2f71-ecc5-6b9d-ea20dc1ae490    1
a259d333-6bb2-30f5-ecb9-d5ff168905b0    1
a12fc6b4-938f-9199-2af7-f478c30c1eac    1
c815ffa4-2917-2c09-1569-e90d5a89eeb2    1
Name: PATIENT, Length: 138, dtype: int64

In [389]:
for p in nf01_p_l:
  if p not in amld01_p:
    print(p)

6ada49d6-cce2-faea-781d-5f4c282c49b4

In [390]:
conditions01[conditions01['PATIENT'] == '6ada49d6-cce2-faea-781d-5f4c282c49b4']

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION
11182,1988-07-07,1988-10-18,6ada49d6-cce2-faea-781d-5f4c282c49b4,7c29fd9f-4567-8b98-0514-5c70eea86710,65363002,Otitis media
11189,1991-03-26,1991-04-15,6ada49d6-cce2-faea-781d-5f4c282c49b4,c177ed4c-b159-ed2a-5c4d-a3b375013972,10509002,Acute bronchitis (disorder)
11192,1992-02-19,1992-03-01,6ada49d6-cce2-faea-781d-5f4c282c49b4,cfe99111-918e-9588-da65-f94fa81b9708,195662009,Acute viral pharyngitis (disorder)
11196,1993-01-02,1993-02-18,6ada49d6-cce2-faea-781d-5f4c282c49b4,3ce69578-815c-4632-e3ef-412ad9f41309,239720000,Tear of meniscus of knee
11198,1994-05-31,1994-06-16,6ada49d6-cce2-faea-781d-5f4c282c49b4,c65404d1-0949-4aa3-4b4b-8ea4ad5869ec,10509002,Acute bronchitis (disorder)
11205,1994-06-22,1994-07-04,6ada49d6-cce2-faea-781d-5f4c282c49b4,dc338e54-1fe7-85de-9b6a-61fca9510b04,195662009,Acute viral pharyngitis (disorder)
11208,1995-10-30,1995-11-18,6ada49d6-cce2-faea-781d-5f4c282c49b4,c3d12eb4-6dc0-63a1-76d6-357ecf3655a2,10509002,Acute bronchitis (disorder)
11215,1996-11-07,NaT,6ada49d6-cce2-faea-781d-5f4c282c49b4,f4e71edd-6a50-cf4f-14ae-fa04e896becc,409089005,Febrile neutropenia (disorder)

Esquisito que só um paciente não foi diagnósticado com "Acute myeloid leukemia disease (disorder)" e nem teve nenhum diagnóstico de câncer, talvez seja um erro do conjunto de dados...

Testando tudo de novo pro cenário 02:

In [391]:
#Condições únicas
conditions02_desc = conditions02['DESCRIPTION'].value_counts()

#Imprimindo todas
for d in conditions02_desc.index:
  print(d)

Full-time employment (finding)
Stress (finding)
Part-time employment (finding)
Viral sinusitis (disorder)
Limited social contact (finding)
Social isolation (finding)
Not in labor force (finding)
Victim of intimate partner abuse (finding)
Acute viral pharyngitis (disorder)
Acute bronchitis (disorder)
Normal pregnancy
Reports of violence in the environment (finding)
Body mass index 30+ - obesity (finding)
Received certificate of high school equivalency (finding)
Risk activity involvement (finding)
Received higher education (finding)
Anemia (disorder)
Hypertension
Prediabetes
Chronic sinusitis (disorder)
Otitis media
Unhealthy alcohol drinking behavior (finding)
Has a criminal record (finding)
Chronic low back pain (finding)
Streptococcal sore throat (disorder)
Only received primary school education (finding)
Metabolic syndrome X (disorder)
Acute myeloid leukemia  disease (disorder)
Miscarriage in first trimester
Severe anxiety (panic) (finding
Chronic neck pain (finding)
Febrile neutropenia (disorder)
Hyperlipidemia
Suspected COVID-19
Sprain of ankle
COVID-19
Fever (finding)
Misuses drugs (finding)
Diabetes
Hypertriglyceridemia (disorder)
Cough (finding)
Acute bacterial sinusitis (disorder)
Polyp of colon
Concussion with no loss of consciousness
Sinusitis (disorder)
Coronary Heart Disease
Loss of taste (finding)
Whiplash injury to neck
Served in armed forces (finding)
Sleep disorder (disorder)
Seizure disorder
History of single seizure (situation)
Escherichia coli urinary tract infection
Hyperglycemia (disorder)
Sputum finding (finding)
Impacted molars
Sprain of wrist
Stroke
Osteoarthritis of knee
Chronic intractable migraine without aura
Drug overdose
Bacteremia (finding)
Fracture of clavicle
Chronic pain
Childhood asthma
Neuropathy due to type 2 diabetes mellitus (disorder)
History of appendectomy
Appendicitis
Fracture of forearm
Laceration of foot
Laceration of forearm
Fatigue (finding)
Epilepsy
Laceration of thigh
History of cardiac arrest (situation)
Fracture subluxation of wrist
Cardiac Arrest
Fetus with unknown complication
Refugee (person)
Diabetic renal disease (disorder)
Atopic dermatitis
Neutropenia (disorder)
Chronic kidney disease stage 1 (disorder)
Sepsis (disorder)
Osteoporosis (disorder)
Diabetic retinopathy associated with type II diabetes mellitus (disorder)
Obstructive sleep apnea syndrome (disorder)
Antepartum eclampsia
Laceration of hand
First degree burn
Fracture of ankle
Myocardial Infarction
History of myocardial infarction (situation)
Atrial Fibrillation
Malignant neoplasm of breast (disorder)
Preeclampsia
Child attention deficit disorder
Chronic congestive heart failure (disorder)
Perennial allergic rhinitis
Nonproliferative diabetic retinopathy due to type 2 diabetes mellitus (disorder)
Dyspnea (finding)
Wheezing (finding)
Pneumonia (disorder)
Hypoxemia (disorder)
Respiratory distress (finding)
Facial laceration
Second degree burn
Perennial allergic rhinitis with seasonal variation
Fibromyalgia (disorder)
Sleep apnea (disorder)
Recurrent rectal polyp
Fracture of rib
Acute allergic reaction
Chill (finding)
Blighted ovum
Tubal pregnancy
Localized  primary osteoarthritis of the hand
Concussion with loss of consciousness
Unemployed (finding)
Pulmonary emphysema (disorder)
Injury of tendon of the rotator cuff of shoulder
Smokes tobacco daily
Chronic obstructive bronchitis (disorder)
Sore throat symptom (finding)
Headache (finding)
Transformed migraine (disorder)
Osteoarthritis of hip
Cystitis
Tear of meniscus of knee
Rupture of appendix
Major depression disorder
Alzheimer's disease (disorder)
Bullet wound
Neoplasm of prostate
Opioid abuse (disorder)
Gout
Concussion injury of brain
Seasonal allergic rhinitis
Carcinoma in situ of prostate (disorder)
Muscle pain (finding)
Joint pain (finding)
Acute deep venous thrombosis (disorder)
Pathological fracture due to osteoporosis (disorder)
Acute respiratory failure (disorder)
Alcoholism
Contact dermatitis
Brain damage - traumatic
Septic shock (disorder)
Idiopathic atrophic hypothyroidism
Macular edema and retinopathy due to type 2 diabetes mellitus (disorder)
Recurrent urinary tract infection
Sepsis caused by virus (disorder)
Acute pulmonary embolism (disorder)
Homeless (finding)
Body mass index 40+ - severely obese (finding)
Suspected lung cancer (situation)
Non-small cell lung cancer (disorder)
Nasal congestion (finding)
Protracted diarrhea
Non-small cell carcinoma of lung  TNM stage 1 (disorder)
Bleeding from anus
Third degree burn
Malignant tumor of colon
Rupture of patellar tendon
Familial Alzheimer's disease of early onset (disorder)
Proliferative diabetic retinopathy due to type II diabetes mellitus (disorder)
Acute respiratory distress syndrome (disorder)
Chronic paralysis due to lesion of spinal cord
Secondary malignant neoplasm of colon
Overlapping malignant neoplasm of colon
Pneumonia
Diarrhea symptom (finding)
Primary malignant neoplasm of colon
Closed fracture of hip
Chronic kidney disease stage 2 (disorder)
Microalbuminuria due to type 2 diabetes mellitus (disorder)
Metastasis from malignant tumor of prostate (disorder)
Primary fibromyalgia syndrome
Posttraumatic stress disorder
Injury of anterior cruciate ligament
Shock (disorder)
Died in hospice (finding)
Injury of medial collateral ligament of knee
Dribbling from mouth (finding)
Excessive salivation (disorder)
Cerebral palsy (disorder)
Spasticity (finding)
Injury of kidney (disorder)
Acquired coagulation disorder (disorder)
Traumatic brain injury (disorder)
Pain (finding)
History of amputation of foot (situation)
Intellectual disability (disorder)
Injury of heart (disorder)
Unable to swallow saliva (finding)
Hemoptysis (finding)
Fracture of the vertebral column with spinal cord injury
Rheumatoid arthritis
Gastroesophageal reflux disease (disorder)
Meningomyelocele (disorder)
Non-low risk pregnancy
Pressure ulcer (disorder)
Urinary tract infectious disease (disorder)
Hydrocephalus (disorder)
Congenital deformity of foot (disorder)
Chiari malformation type II (disorder)
Major depression  single episode
Meningocele (disorder)
Acute Cholecystitis
Dislocation of hip joint (disorder)
Poor muscle tone (finding)
Dystonia (disorder)
Cholelithiasis
Burn injury(morphologic abnormality)
Heart failure (disorder)

In [392]:
#Quantos pacientes com NF?
conditions02_desc["Febrile neutropenia (disorder)"]

117

In [393]:
#Pegando os dados de condição para os pacientes com NF
nf02 = conditions02.loc[conditions02['CODE'] == 409089005]
#Transformando o identificador do paciente em lista pra usar no query
nf02_p_l = nf02['PATIENT'].value_counts().index

In [394]:
#Dados dos pacientes de interesse (que tiveram NF)
interesse02 = patients02.query("Id in @nf02_p_l")
interesse02

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,...,BIRTHPLACE,ADDRESS,CITY,STATE,COUNTY,ZIP,LAT,LON,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE
1,bb37561b-ba65-7c47-db5b-0641bca883b4,2012-02-08,NaT,999-16-2180,NaN,NaN,NaN,Noah480,Leffler128,NaN,...,Anchorage Alaska US,823 Sauer Manor Unit 30,Juneau,Alaska,Juneau City and Borough,NaN,58.363346,-134.215650,269257.170,8385.540
3,678fc07c-1cb1-acc6-3553-d848200626e9,2006-02-11,NaT,999-92-8411,S99990200,NaN,NaN,Odessa199,Pfannerstill264,NaN,...,Anchorage Alaska US,1001 Grimes Bay,Juneau,Alaska,Juneau City and Borough,99801.0,58.364456,-134.151057,398085.560,43.920
16,04efa71e-b8ed-980b-94a1-cd25e94b6015,2018-04-17,NaT,999-22-2539,NaN,NaN,NaN,Marcelene872,Koss676,NaN,...,Anchorage Alaska US,969 Marquardt Hollow,Juneau,Alaska,Juneau City and Borough,99824.0,58.404945,-134.180708,104806.235,913.095
18,1e466cbc-5018-4c1a-b132-cf8a4a4d87cf,1997-02-18,NaT,999-29-6104,S99957096,X49042310X,Ms.,Genesis248,Zieme486,NaN,...,Anchorage Alaska US,364 Nikolaus Knoll Unit 90,Juneau,Alaska,Juneau City and Borough,99824.0,58.368051,-134.180684,377991.772,220187.048
32,8e9d1dd0-085f-a629-3ea6-9033f330b383,1996-03-07,NaT,999-89-2406,S99991245,X80205560X,Ms.,Shakita329,Murazik203,NaN,...,Point MacKenzie Alaska US,194 Miller Trailer,Juneau,Alaska,Juneau City and Borough,99801.0,58.344187,-134.176241,1426054.547,72921.563
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1072,84c9e441-fa88-33c8-5d87-91b863998d26,1944-08-04,1946-08-04,999-78-8012,NaN,NaN,NaN,Chantel847,Schroeder447,NaN,...,Anchorage Alaska US,722 Kuhn Hollow,Juneau,Alaska,Juneau City and Borough,99824.0,58.688187,-134.235804,56766.440,602.580
1078,7837ca92-1dc3-b3ef-a7f9-4207e439775c,1996-01-13,NaT,999-79-3096,S99922031,X21730249X,Mr.,Chauncey770,Ziemann98,NaN,...,Badger Alaska US,1049 Klocko Skyway,Juneau,Alaska,Juneau City and Borough,99824.0,58.219695,-134.352665,693994.230,3224.100
1099,3f3ad6c2-337b-9d48-47b7-b2197a0a0500,1969-07-18,1971-07-18,999-55-4796,NaN,NaN,NaN,Jamee262,Mosciski958,NaN,...,Ketchikan Alaska US,231 Kulas Forge Apt 74,Juneau,Alaska,Juneau City and Borough,NaN,58.620066,-134.255706,49622.845,328.725
1100,32d8410a-cc4b-4d8b-601d-3ad2b8ef912b,2006-08-23,NaT,999-52-2893,NaN,NaN,NaN,Claudio955,Kihn564,NaN,...,Anchorage Alaska US,146 Stracke Vale Apt 12,Juneau,Alaska,Juneau City and Borough,99801.0,58.375140,-134.227025,398060.205,4274.025
1102,2e3402a9-45ff-3558-8450-375f17107ca0,2016-06-25,NaT,999-31-8655,NaN,NaN,NaN,Perry780,Mann644,NaN,...,Anchorage Alaska US,206 Balistreri Lane,Juneau,Alaska,Juneau City and Borough,99824.0,58.287576,-134.379784,1000240.720,0.000

In [395]:
#Dos pacientes de interesse, aqueles que morreram (se for NaN, ou seja, não morreu, a igualdade não vai ser respeitada)
mortos02 = interesse02.loc[interesse02['DEATHDATE'] == interesse02['DEATHDATE']]
mortos02

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,...,BIRTHPLACE,ADDRESS,CITY,STATE,COUNTY,ZIP,LAT,LON,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE
191,87e7b2e1-cbf0-5e1f-d0a9-9a916522221b,1968-05-10,1980-01-04,999-52-7728,NaN,NaN,NaN,Agripina633,Crooks415,NaN,...,Anchorage Alaska US,642 Davis Throughway,Juneau,Alaska,Juneau City and Borough,99801.0,58.643428,-134.274220,316310.5600,8097.1800
212,73bce5aa-52fc-9101-e1f1-a80e84447b25,1981-12-20,1996-12-16,999-15-1915,NaN,NaN,NaN,Rae910,Cruickshank494,NaN,...,Lakes Alaska US,907 Hammes Avenue,Juneau,Alaska,Juneau City and Borough,99801.0,58.628133,-134.330928,290046.7500,2565.1800
227,ea652b8e-8d60-007e-b861-0086ead314ef,1967-05-07,1981-02-20,999-56-4560,NaN,NaN,NaN,Booker670,Goldner995,NaN,...,Unalakleet Alaska US,139 Erdman Well,Juneau,Alaska,Juneau City and Borough,NaN,58.267488,-134.421680,363554.4150,682.4250
318,33469efc-5b9a-e5fe-a3be-b99e946395d3,1977-08-10,1980-08-09,999-47-7559,NaN,NaN,NaN,Lon587,Altenwerth646,NaN,...,Anchorage Alaska US,748 Haley Road,Juneau,Alaska,Juneau City and Borough,99824.0,58.416694,-134.186632,77817.8625,9.6675
321,f4b28b81-0c49-d919-8a75-a7a8912d5556,2015-12-18,2018-12-17,999-47-2691,NaN,NaN,NaN,Hillary281,Zieme486,NaN,...,Anchorage Alaska US,847 Wisozk Lock,Juneau,Alaska,Juneau City and Borough,NaN,58.419693,-134.129905,90493.6850,70.5450
323,81865e6e-7ce5-f2a9-202f-220bf23a3947,2014-04-03,2019-04-02,999-83-7457,NaN,NaN,NaN,Gala823,Lynch190,NaN,...,Steele Creek Alaska US,457 Schumm Landing Suite 93,Juneau,Alaska,Juneau City and Borough,NaN,58.393006,-134.172368,136261.1950,70.5450
326,c3a6a691-c2b9-a81e-3b0e-46362af0d52e,1948-06-03,1955-06-02,999-37-4172,NaN,NaN,NaN,Dulcie148,Hayes766,NaN,...,Juneau Alaska US,593 Glover Dale,Juneau,Alaska,Juneau City and Borough,99801.0,58.236499,-134.380234,195999.4800,0.0000
329,7011f231-ff8e-2605-61da-de2f2d86c68a,1968-02-27,1989-08-29,999-32-1684,S99961331,X42273870X,Mr.,Mitch821,Sporer811,NaN,...,Prudhoe Bay Alaska US,383 Effertz Village,Juneau,Alaska,Juneau City and Borough,NaN,58.338422,-134.141702,602355.8675,1867.4325
342,7191d0ae-428f-da64-469a-82e9fb352db6,2017-08-22,2019-03-12,999-84-9269,NaN,NaN,NaN,Garland107,Parker433,NaN,...,Togiak Alaska US,580 MacGyver Street,Juneau,Alaska,Juneau City and Borough,99801.0,58.291169,-134.445725,86651.3000,0.0000
353,e1b08886-e93d-ff5b-5c80-dacbbd8375c0,1966-10-28,1976-01-17,999-50-2540,NaN,NaN,NaN,Sang383,Kiehn525,NaN,...,Bristol Bay Alaska US,948 Nikolaus Glen,Juneau,Alaska,Juneau City and Borough,99801.0,58.641696,-134.254517,255627.6025,1823.3775
388,86897cba-5e7c-0a47-7833-d0b613f44574,1969-12-30,1988-12-25,999-11-4216,S99961007,NaN,Mr.,Genaro214,Daugherty69,NaN,...,Anchorage Alaska US,905 Dare Bypass Suite 43,Juneau,Alaska,Juneau City and Borough,NaN,58.675107,-134.274773,483165.5300,1061.2500
547,7e92403c-9dbe-241d-45fe-829d15a284bb,1989-02-14,1990-02-14,999-22-1093,NaN,NaN,NaN,Lanny564,Flatley871,NaN,...,Kwigillingok Alaska US,395 Boehm Rapid,Juneau,Alaska,Juneau City and Borough,99801.0,58.609934,-134.324312,24436.3900,0.0000
638,5fc15bd6-a50d-04de-1931-315618b29811,1983-11-05,1984-11-04,999-20-6909,NaN,NaN,NaN,Meta661,Tillman293,NaN,...,Juneau Alaska US,107 Lehner Landing Unit 41,Juneau,Alaska,Juneau City and Borough,99801.0,58.413927,-134.163852,28165.0200,0.0000
643,774dd3ba-4ad9-d7b5-6cc1-1fd279c4a2ba,1968-12-07,1978-08-20,999-79-8228,NaN,NaN,NaN,Ninfa662,McGlynn426,NaN,...,Kalifornsky Alaska US,812 Zulauf Key,Juneau,Alaska,Juneau City and Borough,99801.0,58.330414,-134.175099,248910.4200,0.0000
666,a519942f-78b5-f321-1824-b36cdcde170c,1992-10-20,2008-10-25,999-20-4258,S99990345,NaN,NaN,Son314,Tillman293,NaN,...,Sitka Alaska US,194 Hauck Passage Apt 78,Juneau,Alaska,Juneau City and Borough,99801.0,58.215475,-134.361873,409040.9150,202.4250
739,1748fa10-1d91-69e5-bc0f-2b4041712e11,1977-07-07,1984-07-05,999-78-1004,NaN,NaN,NaN,Quentin28,Adams676,NaN,...,Gateway Alaska US,416 Kuhn Track,Juneau,Alaska,Juneau City and Borough,99824.0,58.594400,-134.252573,177336.9000,0.0000
747,9d220797-afa3-2dbf-d979-ace542e15e86,2000-06-11,2002-06-11,999-94-3426,NaN,NaN,NaN,Bobby524,Morar593,NaN,...,Lakes Alaska US,367 Morissette Drive,Juneau,Alaska,Juneau City and Borough,99824.0,58.616472,-134.290751,49908.3300,7074.9900
827,3c77e517-7aa2-1a38-33f3-ca2b56f7c575,1960-11-01,1962-11-01,999-44-5015,NaN,NaN,NaN,Arden380,Baumbach677,NaN,...,Akutan Alaska US,912 D'Amore Haven Suite 88,Juneau,Alaska,Juneau City and Borough,99801.0,58.408059,-134.222842,53431.7100,0.0000
962,f3c141cf-3c2a-df1b-0be7-71d0e1b0506d,1971-10-02,1990-05-14,999-10-7146,S99924594,NaN,Ms.,Eva64,Sandoval902,NaN,...,San Jose San Jose CR,657 Wehner Run Suite 31,Juneau,Alaska,Juneau City and Borough,NaN,58.250481,-134.417876,376139.4550,24374.8050
1072,84c9e441-fa88-33c8-5d87-91b863998d26,1944-08-04,1946-08-04,999-78-8012,NaN,NaN,NaN,Chantel847,Schroeder447,NaN,...,Anchorage Alaska US,722 Kuhn Hollow,Juneau,Alaska,Juneau City and Borough,99824.0,58.688187,-134.235804,56766.4400,602.5800
1099,3f3ad6c2-337b-9d48-47b7-b2197a0a0500,1969-07-18,1971-07-18,999-55-4796,NaN,NaN,NaN,Jamee262,Mosciski958,NaN,...,Ketchikan Alaska US,231 Kulas Forge Apt 74,Juneau,Alaska,Juneau City and Borough,NaN,58.620066,-134.255706,49622.8450,328.7250

In [396]:
#Transformando a coluna de 'Id' numa lista pro query
mortos02_id = mortos02['Id'].tolist()

In [397]:
#Vendo os dados de NF pros que morreram
nf02.query('PATIENT in @mortos02_id')

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION
5173,1975-05-09,1975-05-09,87e7b2e1-cbf0-5e1f-d0a9-9a916522221b,9d871baa-d6e9-fa2a-1adc-cf5a0ba64b23,409089005,Febrile neutropenia (disorder)
5929,1996-12-16,NaT,73bce5aa-52fc-9101-e1f1-a80e84447b25,ca1ad22a-0727-92d0-cab3-1b8789965e00,409089005,Febrile neutropenia (disorder)
6451,1972-05-05,1972-05-05,ea652b8e-8d60-007e-b861-0086ead314ef,2b374682-db09-68c5-28a8-552fc66f675d,409089005,Febrile neutropenia (disorder)
9485,1980-08-09,NaT,33469efc-5b9a-e5fe-a3be-b99e946395d3,c108b4ab-940c-04ed-c8a5-5c2f4717fe4c,409089005,Febrile neutropenia (disorder)
9588,2018-12-17,NaT,f4b28b81-0c49-d919-8a75-a7a8912d5556,326615da-da71-d2ae-a1be-885528c5f5c2,409089005,Febrile neutropenia (disorder)
9620,2019-04-02,NaT,81865e6e-7ce5-f2a9-202f-220bf23a3947,cabaa232-6e5b-fcfe-4d50-6a275c668b3c,409089005,Febrile neutropenia (disorder)
9672,1955-06-02,NaT,c3a6a691-c2b9-a81e-3b0e-46362af0d52e,70ce0ee1-228c-584a-6aeb-1953c7ff8d45,409089005,Febrile neutropenia (disorder)
9686,1982-02-23,1982-02-23,7011f231-ff8e-2605-61da-de2f2d86c68a,226ec749-6f5d-4d8b-b5a9-9122ffe08ed9,409089005,Febrile neutropenia (disorder)
10138,2018-08-22,2018-08-22,7191d0ae-428f-da64-469a-82e9fb352db6,7a658a28-dd7f-2956-3871-bdcff42e2462,409089005,Febrile neutropenia (disorder)
10354,1971-10-27,1971-10-27,e1b08886-e93d-ff5b-5c80-dacbbd8375c0,78d9dfd4-0869-9ca4-3812-16de570bc64c,409089005,Febrile neutropenia (disorder)
11160,1988-12-25,NaT,86897cba-5e7c-0a47-7833-d0b613f44574,031425df-1334-4c55-9a9a-54976146008e,409089005,Febrile neutropenia (disorder)
16177,1990-02-14,NaT,7e92403c-9dbe-241d-45fe-829d15a284bb,ed9cb503-cb6f-8329-95f1-b5e21a4affd2,409089005,Febrile neutropenia (disorder)
19161,1984-11-04,NaT,5fc15bd6-a50d-04de-1931-315618b29811,192705a2-3c54-3a55-a1a7-7cde4e52fb2d,409089005,Febrile neutropenia (disorder)
19308,1970-12-07,1970-12-07,774dd3ba-4ad9-d7b5-6cc1-1fd279c4a2ba,ad9e6524-7916-9d24-cb6a-8d26b7f2635f,409089005,Febrile neutropenia (disorder)
20029,2005-10-17,2005-10-17,a519942f-78b5-f321-1824-b36cdcde170c,c278bbb0-8d3d-1884-6ab0-0baf98745709,409089005,Febrile neutropenia (disorder)
22223,1984-07-05,NaT,1748fa10-1d91-69e5-bc0f-2b4041712e11,0aaf534f-bafe-7ee4-6810-e00b69a9f087,409089005,Febrile neutropenia (disorder)
22447,2002-06-11,NaT,9d220797-afa3-2dbf-d979-ace542e15e86,4d7278f8-e4df-8a55-24b2-b793fa7bb9f0,409089005,Febrile neutropenia (disorder)
24854,1962-11-01,NaT,3c77e517-7aa2-1a38-33f3-ca2b56f7c575,9ac334a0-9f07-b2bc-3926-7aad89a08fd1,409089005,Febrile neutropenia (disorder)
29639,1984-09-28,1984-09-28,f3c141cf-3c2a-df1b-0be7-71d0e1b0506d,01f2e7ca-9e95-ada1-3ea4-ccdc6a10bcc8,409089005,Febrile neutropenia (disorder)
33273,1946-08-04,NaT,84c9e441-fa88-33c8-5d87-91b863998d26,94679abe-8fc5-27ac-9494-c36aa765f6eb,409089005,Febrile neutropenia (disorder)
34056,1971-07-18,NaT,3f3ad6c2-337b-9d48-47b7-b2197a0a0500,ae91d7a2-204f-62c3-eecc-a13353a190ba,409089005,Febrile neutropenia (disorder)

In [398]:
#Vendo os dados de NF pros que não morreram
nf02.query('PATIENT not in @mortos02_id')

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION
12,2015-02-07,2015-02-07,bb37561b-ba65-7c47-db5b-0641bca883b4,2628ed4a-c240-0c28-0462-84c39c3f1dad,409089005,Febrile neutropenia (disorder)
28,2022-02-07,2022-02-07,678fc07c-1cb1-acc6-3553-d848200626e9,398930ec-d19a-7ac2-5524-673994779f88,409089005,Febrile neutropenia (disorder)
407,2022-04-16,2022-04-16,04efa71e-b8ed-980b-94a1-cd25e94b6015,324892c0-ec71-bce5-2128-77987ec564be,409089005,Febrile neutropenia (disorder)
423,2018-02-13,2018-02-13,1e466cbc-5018-4c1a-b132-cf8a4a4d87cf,8c7ab1db-1c49-1274-e079-6fcdde5c3419,409089005,Febrile neutropenia (disorder)
751,2016-03-02,2016-03-02,8e9d1dd0-085f-a629-3ea6-9033f330b383,d1dd8300-d657-0c65-c8d7-444e8da4339c,409089005,Febrile neutropenia (disorder)
...,...,...,...,...,...,...
32339,2020-10-21,2020-10-21,33dda6d1-bc76-060b-77c4-e278d1a93291,af2a5525-4457-226e-1675-441319008008,409089005,Febrile neutropenia (disorder)
32579,2016-02-11,2016-02-11,0b299455-7c54-03f3-2812-0d6509d5b286,54920eab-b8d9-dbbc-526f-8d464c77b943,409089005,Febrile neutropenia (disorder)
33508,2013-01-08,2013-01-08,7837ca92-1dc3-b3ef-a7f9-4207e439775c,3e67f888-861d-6103-c4fe-9eef191b06b1,409089005,Febrile neutropenia (disorder)
34077,2015-08-21,2015-08-21,32d8410a-cc4b-4d8b-601d-3ad2b8ef912b,dacf6281-6ef4-52f6-de6a-dd7c8271a4a0,409089005,Febrile neutropenia (disorder)
34134,2021-06-24,2021-06-24,2e3402a9-45ff-3558-8450-375f17107ca0,cbaa7912-afba-603a-b66a-5e69d44f2216,409089005,Febrile neutropenia (disorder)

In [399]:
conditions02_i = conditions02.query("PATIENT in @nf02_p_l")
conditions02_i

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION
2,2013-02-08,2013-02-15,bb37561b-ba65-7c47-db5b-0641bca883b4,c9e395f0-b9f5-5b3d-77a1-87a8129132dd,444814009,Viral sinusitis (disorder)
3,2013-04-11,2013-04-11,bb37561b-ba65-7c47-db5b-0641bca883b4,166ccc3e-ed17-9b09-ae58-7fa2fe95c4ff,241929008,Acute allergic reaction
9,2014-10-25,2015-01-14,bb37561b-ba65-7c47-db5b-0641bca883b4,f300c0e0-1ee0-27e1-c7e9-b4a6c1893a62,65363002,Otitis media
10,2014-12-19,2015-01-22,bb37561b-ba65-7c47-db5b-0641bca883b4,6e07750a-8d49-aa3a-1342-384f71e02085,16114001,Fracture of ankle
11,2015-02-07,2015-02-07,bb37561b-ba65-7c47-db5b-0641bca883b4,fc36726b-85ad-6109-621d-bb74e5bf57d7,91861009,Acute myeloid leukemia disease (disorder)
...,...,...,...,...,...,...
34131,2020-05-28,2020-07-26,2e3402a9-45ff-3558-8450-375f17107ca0,0c6ec2d9-f685-c3b6-b731-a517c199a138,263102004,Fracture subluxation of wrist
34132,2021-06-12,2021-08-22,2e3402a9-45ff-3558-8450-375f17107ca0,add0a359-26a2-3ae1-d897-fadffb0c15e4,65966004,Fracture of forearm
34133,2021-06-24,2021-06-24,2e3402a9-45ff-3558-8450-375f17107ca0,add0a359-26a2-3ae1-d897-fadffb0c15e4,91861009,Acute myeloid leukemia disease (disorder)
34134,2021-06-24,2021-06-24,2e3402a9-45ff-3558-8450-375f17107ca0,cbaa7912-afba-603a-b66a-5e69d44f2216,409089005,Febrile neutropenia (disorder)
34135,2021-06-24,2021-06-24,2e3402a9-45ff-3558-8450-375f17107ca0,cbaa7912-afba-603a-b66a-5e69d44f2216,5758002,Bacteremia (finding)

In [400]:
amld02 = conditions02_i.loc[conditions02_i['CODE'] == 91861009]
amld02

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION
11,2015-02-07,2015-02-07,bb37561b-ba65-7c47-db5b-0641bca883b4,fc36726b-85ad-6109-621d-bb74e5bf57d7,91861009,Acute myeloid leukemia disease (disorder)
27,2022-02-07,2022-02-07,678fc07c-1cb1-acc6-3553-d848200626e9,62f08915-2b66-614f-c89d-f3490a60d5e6,91861009,Acute myeloid leukemia disease (disorder)
406,2022-04-16,2022-04-16,04efa71e-b8ed-980b-94a1-cd25e94b6015,dad4ca02-660a-17a0-d8d1-74247c28e312,91861009,Acute myeloid leukemia disease (disorder)
422,2018-02-13,2018-02-13,1e466cbc-5018-4c1a-b132-cf8a4a4d87cf,528f2f47-6d1f-d3d8-c091-e5b1626390d3,91861009,Acute myeloid leukemia disease (disorder)
750,2016-03-02,2016-03-02,8e9d1dd0-085f-a629-3ea6-9033f330b383,c3c93e49-c92b-8a8c-be81-274a7d862b6f,91861009,Acute myeloid leukemia disease (disorder)
...,...,...,...,...,...,...
33272,1946-08-04,NaT,84c9e441-fa88-33c8-5d87-91b863998d26,b27502d0-d643-c0b0-efa0-af5932c297e3,91861009,Acute myeloid leukemia disease (disorder)
33507,2013-01-08,2013-01-08,7837ca92-1dc3-b3ef-a7f9-4207e439775c,aedafa80-a0e3-c5dc-364b-0e4a70304c67,91861009,Acute myeloid leukemia disease (disorder)
34054,1971-07-18,NaT,3f3ad6c2-337b-9d48-47b7-b2197a0a0500,5bd716e4-2d59-4912-7781-404d75982173,91861009,Acute myeloid leukemia disease (disorder)
34076,2015-08-21,2015-08-21,32d8410a-cc4b-4d8b-601d-3ad2b8ef912b,3b672ccb-2f91-b8be-1919-1cdf4464363a,91861009,Acute myeloid leukemia disease (disorder)
34133,2021-06-24,2021-06-24,2e3402a9-45ff-3558-8450-375f17107ca0,add0a359-26a2-3ae1-d897-fadffb0c15e4,91861009,Acute myeloid leukemia disease (disorder)

In [401]:
print(amld02['PATIENT'].value_counts())
amld02_p = amld02['PATIENT'].tolist()

bb37561b-ba65-7c47-db5b-0641bca883b4    1
fe9e8ecf-79e1-545d-a28b-26274781bd97    1
3edd7198-2494-cc95-d844-ab3a3adb562f    1
6b17b083-39c0-f107-e905-ee89ad02d0ed    1
1ac16be4-9c27-bc83-e3cb-1ea35040406f    1
                                       ..
c3a6a691-c2b9-a81e-3b0e-46362af0d52e    1
81865e6e-7ce5-f2a9-202f-220bf23a3947    1
f4b28b81-0c49-d919-8a75-a7a8912d5556    1
33469efc-5b9a-e5fe-a3be-b99e946395d3    1
2e3402a9-45ff-3558-8450-375f17107ca0    1
Name: PATIENT, Length: 117, dtype: int64

In [402]:
for p in nf02_p_l:
  if p not in amld02_p:
    print(p)

No caso do cenário 02, todos os pacientes que tiveram NF foram diagnosticados com "Acute myeloid leukemia disease (disorder)", aumentando as chances de que o paciente que não foi diagnósticado na verdade foi um erro. Talvez seja interessante desconsiderar esse paciente da análise?

In [403]:
#Verificando se todos os pacientes com NaN pro término da NF realmente morreram no dia que a NF começou (cenário 01)
nf01_m = nf01.loc[nf01['STOP'] != nf01['STOP']]
print(len(nf01_m))
nf01_m_pl = nf01_m['PATIENT'].tolist()

cont = 0
for p in nf01_m_pl:
  if nf01_m[nf01_m['PATIENT'] == p]['START'].tolist() == interesse01[interesse01['Id'] == p]['DEATHDATE'].tolist():
    cont += 1
  else:  
    print(p)

print(cont)

26
eabfa666-29b5-64f3-105a-e8ea7653ae70
25

In [404]:
display(nf01_m[nf01_m['PATIENT'] == 'eabfa666-29b5-64f3-105a-e8ea7653ae70'])
display(interesse01[interesse01['Id'] == 'eabfa666-29b5-64f3-105a-e8ea7653ae70'])

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION
22459,1968-12-31,NaT,eabfa666-29b5-64f3-105a-e8ea7653ae70,ec30f432-108f-0a27-52b2-47e6ba83e0fa,409089005,Febrile neutropenia (disorder)

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,...,BIRTHPLACE,ADDRESS,CITY,STATE,COUNTY,ZIP,LAT,LON,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE
746,eabfa666-29b5-64f3-105a-e8ea7653ae70,1956-01-04,1969-01-01,999-89-8336,NaN,NaN,NaN,Antonia30,Méndez913,NaN,...,La Paz Baja California MX,1082 Goodwin Club,Fall River,Massachusetts,Bristol County,2723.0,41.712085,-71.151231,323608.3375,62.2725

In [405]:
#Verificando se todos os pacientes com NaN pro término da NF realmente morreram no dia que a NF começou (cenário 02)
nf02_m = nf02.loc[nf02['STOP'] != nf02['STOP']]
print(len(nf02_m))
nf02_m_pl = nf02_m['PATIENT'].tolist()

cont = 0
for p in nf02_m_pl:
  if nf02_m[nf02_m['PATIENT'] == p]['START'].tolist() == interesse02[interesse02['Id'] == p]['DEATHDATE'].tolist():
    cont += 1
  else:  
    print(p)

print(cont)

13
13

In [406]:
import datetime
from dateutil.relativedelta import relativedelta

#Verificando quanto tempo depois da NF os outros pacientes morreram (cenário 01)
#Todos que tiveram NF e morreram em algum momento
nf01_md = nf01.query('PATIENT in @mortos01_id')
#Filtrando só aqueles que não morreram no momento da NF
nf01_md = nf01_md.loc[nf01_md['STOP'] == nf01_md['STOP']]
nf01_md_pl = nf01_md['PATIENT'].tolist()

#Verificando a diferença de dias entre o término da NF e a morte
for p in nf01_md_pl:
  print((interesse01[interesse01['Id'] == p]['DEATHDATE'].tolist()[0] - nf01_md[nf01_md['PATIENT'] == p]['STOP'].tolist()[0]).days)

456
2561
1082
3294
464

In [407]:
#Verificando quanto tempo depois da NF os outros pacientes morreram (cenário 02)
#Todos que tiveram NF e morreram em algum momento
nf02_md = nf02.query('PATIENT in @mortos02_id')
#Filtrando só aqueles que não morreram no momento da NF
nf02_md = nf02_md.loc[nf02_md['STOP'] == nf02_md['STOP']]
nf02_md_pl = nf02_md['PATIENT'].tolist()

#Verificando a diferença de dias entre o término da NF e a morte
for p in nf02_md_pl:
  print((interesse02[interesse02['Id'] == p]['DEATHDATE'].tolist()[0] - nf02_md[nf02_md['PATIENT'] == p]['STOP'].tolist()[0]).days)

1701
3213
2744
202
1543
2813
1104
2054

Começando a criar as tabelas pra usar no orange.

LEMBRAR DE VERIFICAR DEPOIS OS DADOS CONTIDOS EM CADA UMA DAS COLUNAS! A COLUNA RACE, POR EXEMPLO, TEM ALGUMAS RAÇAS QUE APARECEM MUITO POUCO E TALVEZ ISSO DÊ PROBLEMA QUANDO FOR JOGAR NO MODELO!

In [408]:
scenario01 = patients01.query('Id in @nf01_p_l')[['Id', 'BIRTHDATE', 'RACE', 'ETHNICITY', 'GENDER']]
scenario01 = scenario01.rename(columns={'Id': 'PATIENT'})
#display(scenario01)

scenario02 = patients02.query('Id in @nf02_p_l')[['Id', 'BIRTHDATE', 'RACE', 'ETHNICITY', 'GENDER']]
scenario02 = scenario02.rename(columns={'Id': 'PATIENT'})
#display(scenario02)

scenario01 = scenario01.merge(nf01[['PATIENT', 'START', 'STOP']], on='PATIENT', how='inner')
display(scenario01)

scenario02 = scenario02.merge(nf02[['PATIENT', 'START', 'STOP']], on='PATIENT', how='inner')
display(scenario02)

,PATIENT,BIRTHDATE,RACE,ETHNICITY,GENDER,START,STOP
0,4288f90b-4774-c329-3176-c1482e824c04,2010-07-13,white,nonhispanic,M,2012-07-12,2012-07-12
1,f03f50be-20b1-3eae-2ed1-bb478bceb320,2002-07-12,white,nonhispanic,M,2018-07-08,2018-07-08
2,11089781-c268-6838-642e-2c2c9edbb694,2011-07-17,white,nonhispanic,F,2020-07-14,2020-07-14
3,d7b9725d-889f-d178-cf41-dbf8b373eda9,2010-10-18,black,nonhispanic,F,2016-10-16,2016-10-16
4,ed2bb6aa-1f3c-b72b-46a6-54f05cac7da7,2008-04-09,asian,nonhispanic,M,2020-04-06,2020-04-06
...,...,...,...,...,...,...,...
134,7d87bdff-2df1-8162-80e4-2e406304515d,2011-06-17,white,nonhispanic,M,2013-06-16,2013-06-16
135,d5c0cc48-5f8a-4533-325c-25a9c3284185,2017-10-05,other,nonhispanic,F,2020-10-04,2020-10-04
136,a4cabcbc-8282-5599-6b69-01e28e69c045,2004-09-24,black,nonhispanic,M,2020-09-20,2020-09-20
137,eca28495-500f-ab7e-356b-176f31382569,2017-03-03,white,nonhispanic,F,2020-03-02,2020-03-02
138,c815ffa4-2917-2c09-1569-e90d5a89eeb2,1933-05-23,white,nonhispanic,M,1948-05-19,NaT

,PATIENT,BIRTHDATE,RACE,ETHNICITY,GENDER,START,STOP
0,bb37561b-ba65-7c47-db5b-0641bca883b4,2012-02-08,white,nonhispanic,M,2015-02-07,2015-02-07
1,678fc07c-1cb1-acc6-3553-d848200626e9,2006-02-11,white,nonhispanic,F,2022-02-07,2022-02-07
2,04efa71e-b8ed-980b-94a1-cd25e94b6015,2018-04-17,other,nonhispanic,F,2022-04-16,2022-04-16
3,1e466cbc-5018-4c1a-b132-cf8a4a4d87cf,1997-02-18,white,nonhispanic,F,2018-02-13,2018-02-13
4,8e9d1dd0-085f-a629-3ea6-9033f330b383,1996-03-07,white,nonhispanic,F,2016-03-02,2016-03-02
...,...,...,...,...,...,...,...
112,84c9e441-fa88-33c8-5d87-91b863998d26,1944-08-04,white,nonhispanic,F,1946-08-04,NaT
113,7837ca92-1dc3-b3ef-a7f9-4207e439775c,1996-01-13,white,nonhispanic,M,2013-01-08,2013-01-08
114,3f3ad6c2-337b-9d48-47b7-b2197a0a0500,1969-07-18,white,nonhispanic,F,1971-07-18,NaT
115,32d8410a-cc4b-4d8b-601d-3ad2b8ef912b,2006-08-23,white,nonhispanic,M,2015-08-21,2015-08-21
116,2e3402a9-45ff-3558-8450-375f17107ca0,2016-06-25,white,nonhispanic,M,2021-06-24,2021-06-24

In [409]:
scenario01['DEATH_FN'] = scenario01['STOP'].apply(lambda x: 0 if x == x else 1)
scenario01 = scenario01.drop(['STOP'], axis=1)
display(scenario01)

scenario02['DEATH_FN'] = scenario02['STOP'].apply(lambda x: 0 if x == x else 1)
scenario02 = scenario02.drop(['STOP'], axis=1)
display(scenario02)

,PATIENT,BIRTHDATE,RACE,ETHNICITY,GENDER,START,DEATH_FN
0,4288f90b-4774-c329-3176-c1482e824c04,2010-07-13,white,nonhispanic,M,2012-07-12,0
1,f03f50be-20b1-3eae-2ed1-bb478bceb320,2002-07-12,white,nonhispanic,M,2018-07-08,0
2,11089781-c268-6838-642e-2c2c9edbb694,2011-07-17,white,nonhispanic,F,2020-07-14,0
3,d7b9725d-889f-d178-cf41-dbf8b373eda9,2010-10-18,black,nonhispanic,F,2016-10-16,0
4,ed2bb6aa-1f3c-b72b-46a6-54f05cac7da7,2008-04-09,asian,nonhispanic,M,2020-04-06,0
...,...,...,...,...,...,...,...
134,7d87bdff-2df1-8162-80e4-2e406304515d,2011-06-17,white,nonhispanic,M,2013-06-16,0
135,d5c0cc48-5f8a-4533-325c-25a9c3284185,2017-10-05,other,nonhispanic,F,2020-10-04,0
136,a4cabcbc-8282-5599-6b69-01e28e69c045,2004-09-24,black,nonhispanic,M,2020-09-20,0
137,eca28495-500f-ab7e-356b-176f31382569,2017-03-03,white,nonhispanic,F,2020-03-02,0
138,c815ffa4-2917-2c09-1569-e90d5a89eeb2,1933-05-23,white,nonhispanic,M,1948-05-19,1

,PATIENT,BIRTHDATE,RACE,ETHNICITY,GENDER,START,DEATH_FN
0,bb37561b-ba65-7c47-db5b-0641bca883b4,2012-02-08,white,nonhispanic,M,2015-02-07,0
1,678fc07c-1cb1-acc6-3553-d848200626e9,2006-02-11,white,nonhispanic,F,2022-02-07,0
2,04efa71e-b8ed-980b-94a1-cd25e94b6015,2018-04-17,other,nonhispanic,F,2022-04-16,0
3,1e466cbc-5018-4c1a-b132-cf8a4a4d87cf,1997-02-18,white,nonhispanic,F,2018-02-13,0
4,8e9d1dd0-085f-a629-3ea6-9033f330b383,1996-03-07,white,nonhispanic,F,2016-03-02,0
...,...,...,...,...,...,...,...
112,84c9e441-fa88-33c8-5d87-91b863998d26,1944-08-04,white,nonhispanic,F,1946-08-04,1
113,7837ca92-1dc3-b3ef-a7f9-4207e439775c,1996-01-13,white,nonhispanic,M,2013-01-08,0
114,3f3ad6c2-337b-9d48-47b7-b2197a0a0500,1969-07-18,white,nonhispanic,F,1971-07-18,1
115,32d8410a-cc4b-4d8b-601d-3ad2b8ef912b,2006-08-23,white,nonhispanic,M,2015-08-21,0
116,2e3402a9-45ff-3558-8450-375f17107ca0,2016-06-25,white,nonhispanic,M,2021-06-24,0

In [410]:
scenario01['BIRTHDATE'] = pd.to_datetime(scenario01['BIRTHDATE'])
scenario01['START'] = pd.to_datetime(scenario01['START'])

scenario01['AGE_FN_DAYS'] = (scenario01['START'] - scenario01['BIRTHDATE']).dt.days
scenario01 = scenario01.drop(['START'], axis=1)
display(scenario01)

scenario02['BIRTHDATE'] = pd.to_datetime(scenario02['BIRTHDATE'])
scenario02['START'] = pd.to_datetime(scenario02['START'])

scenario02['AGE_FN_DAYS'] = (scenario02['START'] - scenario02['BIRTHDATE']).dt.days
scenario02 = scenario02.drop(['START'], axis=1)
display(scenario02)

,PATIENT,BIRTHDATE,RACE,ETHNICITY,GENDER,DEATH_FN,AGE_FN_DAYS
0,4288f90b-4774-c329-3176-c1482e824c04,2010-07-13,white,nonhispanic,M,0,730
1,f03f50be-20b1-3eae-2ed1-bb478bceb320,2002-07-12,white,nonhispanic,M,0,5840
2,11089781-c268-6838-642e-2c2c9edbb694,2011-07-17,white,nonhispanic,F,0,3285
3,d7b9725d-889f-d178-cf41-dbf8b373eda9,2010-10-18,black,nonhispanic,F,0,2190
4,ed2bb6aa-1f3c-b72b-46a6-54f05cac7da7,2008-04-09,asian,nonhispanic,M,0,4380
...,...,...,...,...,...,...,...
134,7d87bdff-2df1-8162-80e4-2e406304515d,2011-06-17,white,nonhispanic,M,0,730
135,d5c0cc48-5f8a-4533-325c-25a9c3284185,2017-10-05,other,nonhispanic,F,0,1095
136,a4cabcbc-8282-5599-6b69-01e28e69c045,2004-09-24,black,nonhispanic,M,0,5840
137,eca28495-500f-ab7e-356b-176f31382569,2017-03-03,white,nonhispanic,F,0,1095
138,c815ffa4-2917-2c09-1569-e90d5a89eeb2,1933-05-23,white,nonhispanic,M,1,5475

,PATIENT,BIRTHDATE,RACE,ETHNICITY,GENDER,DEATH_FN,AGE_FN_DAYS
0,bb37561b-ba65-7c47-db5b-0641bca883b4,2012-02-08,white,nonhispanic,M,0,1095
1,678fc07c-1cb1-acc6-3553-d848200626e9,2006-02-11,white,nonhispanic,F,0,5840
2,04efa71e-b8ed-980b-94a1-cd25e94b6015,2018-04-17,other,nonhispanic,F,0,1460
3,1e466cbc-5018-4c1a-b132-cf8a4a4d87cf,1997-02-18,white,nonhispanic,F,0,7665
4,8e9d1dd0-085f-a629-3ea6-9033f330b383,1996-03-07,white,nonhispanic,F,0,7300
...,...,...,...,...,...,...,...
112,84c9e441-fa88-33c8-5d87-91b863998d26,1944-08-04,white,nonhispanic,F,1,730
113,7837ca92-1dc3-b3ef-a7f9-4207e439775c,1996-01-13,white,nonhispanic,M,0,6205
114,3f3ad6c2-337b-9d48-47b7-b2197a0a0500,1969-07-18,white,nonhispanic,F,1,730
115,32d8410a-cc4b-4d8b-601d-3ad2b8ef912b,2006-08-23,white,nonhispanic,M,0,3285
116,2e3402a9-45ff-3558-8450-375f17107ca0,2016-06-25,white,nonhispanic,M,0,1825

In [411]:
print('Cenário 01:')
print(scenario01['AGE_FN_DAYS'].min())
print(scenario01['AGE_FN_DAYS'].max())

print('\nCenário 02:')
print(scenario02['AGE_FN_DAYS'].min())
print(scenario02['AGE_FN_DAYS'].max())

Cenário 01:
0
7665

Cenário 02:
0
7665

In [412]:
scenario01_t = scenario01.merge(amld01[['PATIENT', 'START']], on='PATIENT', how='inner')
display(scenario01_t)

scenario02_t = scenario02.merge(amld02[['PATIENT', 'START']], on='PATIENT', how='inner')
display(scenario02_t)

,PATIENT,BIRTHDATE,RACE,ETHNICITY,GENDER,DEATH_FN,AGE_FN_DAYS,START
0,4288f90b-4774-c329-3176-c1482e824c04,2010-07-13,white,nonhispanic,M,0,730,2012-07-12
1,f03f50be-20b1-3eae-2ed1-bb478bceb320,2002-07-12,white,nonhispanic,M,0,5840,2018-07-08
2,11089781-c268-6838-642e-2c2c9edbb694,2011-07-17,white,nonhispanic,F,0,3285,2020-07-14
3,d7b9725d-889f-d178-cf41-dbf8b373eda9,2010-10-18,black,nonhispanic,F,0,2190,2016-10-16
4,ed2bb6aa-1f3c-b72b-46a6-54f05cac7da7,2008-04-09,asian,nonhispanic,M,0,4380,2020-04-06
...,...,...,...,...,...,...,...,...
133,7d87bdff-2df1-8162-80e4-2e406304515d,2011-06-17,white,nonhispanic,M,0,730,2013-06-16
134,d5c0cc48-5f8a-4533-325c-25a9c3284185,2017-10-05,other,nonhispanic,F,0,1095,2020-10-04
135,a4cabcbc-8282-5599-6b69-01e28e69c045,2004-09-24,black,nonhispanic,M,0,5840,2020-09-20
136,eca28495-500f-ab7e-356b-176f31382569,2017-03-03,white,nonhispanic,F,0,1095,2020-03-02
137,c815ffa4-2917-2c09-1569-e90d5a89eeb2,1933-05-23,white,nonhispanic,M,1,5475,1948-05-19

,PATIENT,BIRTHDATE,RACE,ETHNICITY,GENDER,DEATH_FN,AGE_FN_DAYS,START
0,bb37561b-ba65-7c47-db5b-0641bca883b4,2012-02-08,white,nonhispanic,M,0,1095,2015-02-07
1,678fc07c-1cb1-acc6-3553-d848200626e9,2006-02-11,white,nonhispanic,F,0,5840,2022-02-07
2,04efa71e-b8ed-980b-94a1-cd25e94b6015,2018-04-17,other,nonhispanic,F,0,1460,2022-04-16
3,1e466cbc-5018-4c1a-b132-cf8a4a4d87cf,1997-02-18,white,nonhispanic,F,0,7665,2018-02-13
4,8e9d1dd0-085f-a629-3ea6-9033f330b383,1996-03-07,white,nonhispanic,F,0,7300,2016-03-02
...,...,...,...,...,...,...,...,...
112,84c9e441-fa88-33c8-5d87-91b863998d26,1944-08-04,white,nonhispanic,F,1,730,1946-08-04
113,7837ca92-1dc3-b3ef-a7f9-4207e439775c,1996-01-13,white,nonhispanic,M,0,6205,2013-01-08
114,3f3ad6c2-337b-9d48-47b7-b2197a0a0500,1969-07-18,white,nonhispanic,F,1,730,1971-07-18
115,32d8410a-cc4b-4d8b-601d-3ad2b8ef912b,2006-08-23,white,nonhispanic,M,0,3285,2015-08-21
116,2e3402a9-45ff-3558-8450-375f17107ca0,2016-06-25,white,nonhispanic,M,0,1825,2021-06-24

In [413]:
scenario01_t['START'] = pd.to_datetime(scenario01_t['START'])

scenario01_t['AGE_AMLD_DAYS'] = (scenario01_t['START'] - scenario01_t['BIRTHDATE']).dt.days
scenario01_t = scenario01_t.drop(['START'], axis=1)
display(scenario01_t)

scenario02_t['START'] = pd.to_datetime(scenario02_t['START'])

scenario02_t['AGE_AMLD_DAYS'] = (scenario02_t['START'] - scenario02_t['BIRTHDATE']).dt.days
scenario02_t = scenario02_t.drop(['START'], axis=1)
display(scenario02_t)

,PATIENT,BIRTHDATE,RACE,ETHNICITY,GENDER,DEATH_FN,AGE_FN_DAYS,AGE_AMLD_DAYS
0,4288f90b-4774-c329-3176-c1482e824c04,2010-07-13,white,nonhispanic,M,0,730,730
1,f03f50be-20b1-3eae-2ed1-bb478bceb320,2002-07-12,white,nonhispanic,M,0,5840,5840
2,11089781-c268-6838-642e-2c2c9edbb694,2011-07-17,white,nonhispanic,F,0,3285,3285
3,d7b9725d-889f-d178-cf41-dbf8b373eda9,2010-10-18,black,nonhispanic,F,0,2190,2190
4,ed2bb6aa-1f3c-b72b-46a6-54f05cac7da7,2008-04-09,asian,nonhispanic,M,0,4380,4380
...,...,...,...,...,...,...,...,...
133,7d87bdff-2df1-8162-80e4-2e406304515d,2011-06-17,white,nonhispanic,M,0,730,730
134,d5c0cc48-5f8a-4533-325c-25a9c3284185,2017-10-05,other,nonhispanic,F,0,1095,1095
135,a4cabcbc-8282-5599-6b69-01e28e69c045,2004-09-24,black,nonhispanic,M,0,5840,5840
136,eca28495-500f-ab7e-356b-176f31382569,2017-03-03,white,nonhispanic,F,0,1095,1095
137,c815ffa4-2917-2c09-1569-e90d5a89eeb2,1933-05-23,white,nonhispanic,M,1,5475,5475

,PATIENT,BIRTHDATE,RACE,ETHNICITY,GENDER,DEATH_FN,AGE_FN_DAYS,AGE_AMLD_DAYS
0,bb37561b-ba65-7c47-db5b-0641bca883b4,2012-02-08,white,nonhispanic,M,0,1095,1095
1,678fc07c-1cb1-acc6-3553-d848200626e9,2006-02-11,white,nonhispanic,F,0,5840,5840
2,04efa71e-b8ed-980b-94a1-cd25e94b6015,2018-04-17,other,nonhispanic,F,0,1460,1460
3,1e466cbc-5018-4c1a-b132-cf8a4a4d87cf,1997-02-18,white,nonhispanic,F,0,7665,7665
4,8e9d1dd0-085f-a629-3ea6-9033f330b383,1996-03-07,white,nonhispanic,F,0,7300,7300
...,...,...,...,...,...,...,...,...
112,84c9e441-fa88-33c8-5d87-91b863998d26,1944-08-04,white,nonhispanic,F,1,730,730
113,7837ca92-1dc3-b3ef-a7f9-4207e439775c,1996-01-13,white,nonhispanic,M,0,6205,6205
114,3f3ad6c2-337b-9d48-47b7-b2197a0a0500,1969-07-18,white,nonhispanic,F,1,730,730
115,32d8410a-cc4b-4d8b-601d-3ad2b8ef912b,2006-08-23,white,nonhispanic,M,0,3285,3285
116,2e3402a9-45ff-3558-8450-375f17107ca0,2016-06-25,white,nonhispanic,M,0,1825,1825

In [414]:
for index, row in scenario01_t.iterrows():
    if row['AGE_AMLD_DAYS'] != row['AGE_FN_DAYS']:
      display(scenario01_t.loc[index])

for index, row in scenario02_t.iterrows():
    if row['AGE_AMLD_DAYS'] != row['AGE_FN_DAYS']:
      display(scenario02_t.loc[index])

PATIENT          af0d6b3e-9631-827d-6651-7565821260e2
BIRTHDATE                         2012-01-08 00:00:00
RACE                                            black
ETHNICITY                                 nonhispanic
GENDER                                              M
DEATH_FN                                            0
AGE_FN_DAYS                                      1461
AGE_AMLD_DAYS                                    1460
Name: 31, dtype: object

PATIENT          e90e1bfc-18af-2b1b-e4a2-c4fc60d8e18a
BIRTHDATE                         2002-08-25 00:00:00
RACE                                            white
ETHNICITY                                 nonhispanic
GENDER                                              M
DEATH_FN                                            1
AGE_FN_DAYS                                      1096
AGE_AMLD_DAYS                                    1095
Name: 40, dtype: object

PATIENT          9eb99407-b81e-2594-0da2-870e1d88d18c
BIRTHDATE                         2015-08-17 00:00:00
RACE                                            white
ETHNICITY                                 nonhispanic
GENDER                                              M
DEATH_FN                                            0
AGE_FN_DAYS                                      1461
AGE_AMLD_DAYS                                    1460
Name: 77, dtype: object

PATIENT          862c4dc4-c5eb-1667-47ef-21791d3c5a3c
BIRTHDATE                         2018-04-22 00:00:00
RACE                                            white
ETHNICITY                                 nonhispanic
GENDER                                              F
DEATH_FN                                            0
AGE_FN_DAYS                                       731
AGE_AMLD_DAYS                                     730
Name: 96, dtype: object

PATIENT          0ffcd85c-f4c2-de73-7f70-10169af7fa24
BIRTHDATE                         1998-04-12 00:00:00
RACE                                            white
ETHNICITY                                 nonhispanic
GENDER                                              M
DEATH_FN                                            0
AGE_FN_DAYS                                      6936
AGE_AMLD_DAYS                                    6935
Name: 64, dtype: object

PATIENT          03228b6a-edef-2a78-e3b7-bc3d34d04217
BIRTHDATE                         2008-08-28 00:00:00
RACE                                            other
ETHNICITY                                 nonhispanic
GENDER                                              F
DEATH_FN                                            0
AGE_FN_DAYS                                      3651
AGE_AMLD_DAYS                                    3650
Name: 73, dtype: object

A idade em que o paciente recebeu o diagnóstico de câncer ou de NF é sempre a mesma ou com apenas um dia de diferença...

Explorando as tabelas:

In [415]:
#Obtendo as listas de pacientes de interesse que sobreviveram ou não à NF
death01 = scenario01[scenario01['DEATH_FN'] == 1]['PATIENT'].tolist()
death02 = scenario02[scenario02['DEATH_FN'] == 1]['PATIENT'].tolist()
survive01 = scenario01[scenario01['DEATH_FN'] == 0]['PATIENT'].tolist()
survive02 = scenario02[scenario02['DEATH_FN'] == 0]['PATIENT'].tolist()

print(death01)
print(len(death01))
print(death02)
print(len(death02))
print(survive01)
print(len(survive01))
print(survive02)
print(len(survive02))

['160a53cf-63b1-790d-5e95-307e88c1dc9c', 'b60922aa-a536-e6a8-9e4b-d523d17b6929', '158fffa4-6613-055b-3d43-d88fc9860894', '5d3c03b8-74cd-941f-3df6-00c45864f1c2', 'e90e1bfc-18af-2b1b-e4a2-c4fc60d8e18a', '3075db0f-918e-3d24-0782-5b359d23e357', '3fe4eb84-cd88-aa94-fa92-e8b6c0858d94', '59541c40-a53e-37c0-9703-d88038b6eced', '8a9517bb-bd45-da96-f962-668c905ceecb', 'c9176ee2-d94c-6930-d132-0120cf1eff92', '6ada49d6-cce2-faea-781d-5f4c282c49b4', 'ccecb758-0a9b-9670-23e6-9e405f69a690', '4d85bedc-5949-08c7-ed4b-6a46a6f34b91', '2dc56646-2a96-6181-cbe4-58047d1bdb28', '17a9abd9-10dc-e261-54b7-5c441f9cb756', 'dd902384-4955-83d4-4b52-7909f0f91e51', 'c9e0aadd-a5b9-e1d2-eb34-2d9bdb872a73', 'ac3634cb-cfcd-6cf8-26c2-3e6436a0504a', 'eabfa666-29b5-64f3-105a-e8ea7653ae70', 'adf63106-46a4-e19c-349a-f0a3eec09e33', '331b91fb-bca6-ab76-2671-1bf22def011e', '810044da-b075-dd80-c4ba-f933f31d9403', 'ad1d7304-5425-7263-fc59-62cfc78051e1', '689e11ec-675a-8dd6-ccfa-f8e52182ad80', 'e56f117c-fa07-9c70-8c90-6114807c4e41', 'c815ffa4-2917-2c09-1569-e90d5a89eeb2']
26
['73bce5aa-52fc-9101-e1f1-a80e84447b25', '33469efc-5b9a-e5fe-a3be-b99e946395d3', 'f4b28b81-0c49-d919-8a75-a7a8912d5556', '81865e6e-7ce5-f2a9-202f-220bf23a3947', 'c3a6a691-c2b9-a81e-3b0e-46362af0d52e', '86897cba-5e7c-0a47-7833-d0b613f44574', '7e92403c-9dbe-241d-45fe-829d15a284bb', '5fc15bd6-a50d-04de-1931-315618b29811', '1748fa10-1d91-69e5-bc0f-2b4041712e11', '9d220797-afa3-2dbf-d979-ace542e15e86', '3c77e517-7aa2-1a38-33f3-ca2b56f7c575', '84c9e441-fa88-33c8-5d87-91b863998d26', '3f3ad6c2-337b-9d48-47b7-b2197a0a0500']
13
['4288f90b-4774-c329-3176-c1482e824c04', 'f03f50be-20b1-3eae-2ed1-bb478bceb320', '11089781-c268-6838-642e-2c2c9edbb694', 'd7b9725d-889f-d178-cf41-dbf8b373eda9', 'ed2bb6aa-1f3c-b72b-46a6-54f05cac7da7', '47c2ab95-1569-1afa-4550-ac83d53f0384', '205fa58e-7fd3-9e1f-4ae6-c0673d46a765', 'aac521a8-1ab1-43f8-73f9-7c84080e275b', 'dd16c8be-ba56-aabc-fbea-5a842a415075', '241a91d0-64e6-bd50-ba12-144a5af0311a', 'b7c67b14-bc45-951f-4be5-a7942bfd533a', '77e53fde-d641-fa26-5792-7a92af4fa260', '5c54305e-e16f-b719-b8d8-91a188e6952a', '9e2a09cd-95e3-1bef-81eb-82ac2f6da20d', 'df8177ed-fd82-5fc0-4db5-476e72df7305', '51cc7eeb-ba67-8423-51e6-b9c1100ca1f8', '27925006-9781-ba3f-19cc-af346d18fde7', '738a5bc6-78c7-2b05-d185-9741920b0497', 'd1fe5a74-fd5a-4651-4b55-2985bc8288ea', '0de86523-65de-9c63-49d8-6ef9b0f62915', '659eac70-eee6-e516-e203-51ad92734512', '22e3e441-2684-2856-3ac7-664150d509b0', '61c56ab4-d429-19d3-6eb8-be4021a8f96f', '493c4936-2813-7b3c-55b0-39b01fee5d22', 'c8d9f38a-fe45-0b77-3814-6e01a9c59702', 'e8ee0f85-558b-0c10-9ef8-c7a498983aed', '1cee6029-ca41-7786-fc4f-04aea9778336', 'af0d6b3e-9631-827d-6651-7565821260e2', '98342e81-23da-dae8-5506-8da094c7d29e', '719a83df-640b-4306-64fb-f212110fcbb4', 'e4bf70f7-a7b6-1e10-70d2-e80980fd0499', 'f6dea2c4-1620-05f5-bca3-429de52f9ebe', '009c30e1-5fa4-f50c-dfa5-bf3092116bbb', 'a12fc6b4-938f-9199-2af7-f478c30c1eac', 'a259d333-6bb2-30f5-ecb9-d5ff168905b0', '2dfb6d26-2f71-ecc5-6b9d-ea20dc1ae490', '2ca78a43-6d05-52e7-d149-607acb760c03', '114f35cc-db2d-65d7-678b-18495e4e6473', 'cfe7cd0f-57de-4f43-d870-221bba80520b', '94933579-3900-8b7d-8c05-e473910e791a', '1e92bf63-416b-c43a-fab1-7b25599ac247', '0b7f4569-6127-edae-6b43-3ba8469a21dc', '7bbcd20f-8d90-2c04-06be-e7918684239f', 'ae5f15a1-427f-ed8c-f258-f25cfb0fd85a', 'fa2fe2d8-24df-4eea-bc57-1e7515f66bce', '7cc73fa5-9d65-b03d-e139-4e348017b92f', '28897c2e-5835-3ae8-ea95-28045fa48efb', '0bf53c97-99af-af4a-9c2a-e80366de43ee', 'a08eb05d-46f4-c6cf-feeb-b0ac56f61458', 'fbb23e67-a3a6-1662-ab90-e9f717c61a97', '840526e5-34c6-8620-f27e-f7639bf1c09f', 'bee38fdb-f140-2c23-fe2e-50e0adc00c7b', '4b115fe6-e241-6571-e959-e9340b298d75', '2ed7e75f-8417-5b86-a182-63623adffacd', '9d8eda02-9d9e-6f08-f840-bf52e8722946', '721e493e-23b3-af08-8571-54b20617f159', '28911653-c9ef-e5a8-61a5-668dbb48f58f', '5d5eed01-1a47-59f4-7e77-3068a53304b4', '6884a50b-2060-67ff-0863-51569e687cc2', '05313452-3962-82d9-60a2-cd79e464cc80', '99bfcaff-0b03-90da-dad5-b23fcc28fb61', '646a689d-c588-9a91-70b6-1e0d0d44c9a1', '9eb99407-b81e-2594-0da2-870e1d88d18c', '149959d0-ce7a-5087-0b14-e5ee87737e05', '11c85df9-4085-afce-75ba-3e62f0c77609', '3fa732a0-cdca-c427-6c38-2afa3f4b2369', '11d7ecb8-1e4b-ff44-ff40-80755767512c', '764b6ef0-42d0-0f7a-5af1-0f455acc008e', '63f9799b-e770-b92d-d74e-d57609cd775e', '0b9466c2-6526-1ccc-9a62-c9cb2390489d', '7c2d7821-5781-20ff-1b7d-9c0b48d02151', 'e7e52291-59e3-52f1-310c-a232fd7be114', '0ecf6b43-7c73-0458-ab56-19de89acf41e', '49bd843b-b75e-ac60-a452-605e324c9df2', '8b35b4c6-aa09-d002-619b-ac63d58d4603', 'b54ad3df-4750-0941-f1ae-8b7236f8f6dc', 'ee42b995-8fc5-d8bf-5c09-205408bb76fd', 'f0f510b2-9888-120a-a693-bcaca0f937cd', '862c4dc4-c5eb-1667-47ef-21791d3c5a3c', '3e2371ed-a630-0958-84b2-c136090b8a75', '4b8877ac-d142-dbf4-f1e0-06c638ab66c9', '84483a05-0e7c-cc01-7ef7-83e93da36d92', '8288abe0-04e8-ee34-c028-535da273c3dd', '26088591-b65b-938c-8ce0-edb6cf52ab7c', '0f652e34-7595-a919-5856-50e0d6258699', 'dd5328d0-4c53-d310-8411-2d3a7fa5ed58', 'f05e62cc-d39b-c0a4-4cda-7af990fafd7f', 'fcacc452-c0ff-6fbe-c8b7-4b77e3807232', '80b894a4-6440-0c84-5a96-807c73e1cb4d', 'cff1efd9-43ea-20e9-5ac1-7e7ad231148b', 'edaa094b-f3b2-fd6c-a2a8-cdc90f712882', 'eb3f650d-b6f4-583b-88d5-62171ec857d1', '9ec806b0-2d6d-5182-ccf0-a4c2eeaac153', 'a0a39700-f3b2-a365-b6e2-4f41cd34a706', '9f6157ab-37f1-c912-bc1a-11b97113e8ba', '70a574b3-eddf-abcb-9a64-1e6e27d13f02', '7796fd57-7cb0-c895-5b1a-24dd98001bf0', '03ecc624-4fba-ad89-6a8c-5f197dd1a9fc', '8cb98c08-63e2-9e85-41ca-629241316b09', '2b7f1733-b575-269e-39d0-a96df81c410d', '65f05f7c-2de0-d736-fb91-2876c2ef2014', '49714bc2-76cf-9eb4-457c-f36d710ad603', '4d74c4cd-8a68-6fc0-4f75-15317fd67a01', '641e6b8a-54f1-66e7-44d4-79ecd29127d9', '14926a7c-3a05-375c-fa96-88bb922504ee', '74e0e505-9e75-787c-5b31-94c88c9dbd41', 'b4aa64cc-948b-e193-1626-754cf0ab7944', '6c4ae233-d267-e416-50d5-ab48a6842ba8', 'c022272d-ecd2-92b6-32f4-3769ef3514f9', '7d87bdff-2df1-8162-80e4-2e406304515d', 'd5c0cc48-5f8a-4533-325c-25a9c3284185', 'a4cabcbc-8282-5599-6b69-01e28e69c045', 'eca28495-500f-ab7e-356b-176f31382569']
113
['bb37561b-ba65-7c47-db5b-0641bca883b4', '678fc07c-1cb1-acc6-3553-d848200626e9', '04efa71e-b8ed-980b-94a1-cd25e94b6015', '1e466cbc-5018-4c1a-b132-cf8a4a4d87cf', '8e9d1dd0-085f-a629-3ea6-9033f330b383', 'fe4a9a3a-206c-048a-94ff-5c15a2ce745a', '0b33cdec-f69f-d533-1841-cff1c3cc17dc', 'f889ed71-2cd9-25c0-e8f3-45e5cc2d23b2', '86b7c6c8-d523-17ca-38d8-a40ff92ffffd', '2bf20537-d380-be8f-c0f9-ddac7d315d34', 'cea409fe-95a2-abd4-52ff-f7b6b0402c89', 'bf17b3d6-8405-672d-3685-a0a78ad7b4ec', '0dc670fe-5d98-e434-d1f6-4f253535f817', 'c78eed45-20a3-2522-a096-07bdcb9c0a27', '88d26be4-93fc-0254-98a2-4cc3f8259220', '5429227f-c53f-74a3-2636-1a19fc58c4ac', '3f3006ef-27bf-6259-6db6-2b87e4b46b24', '485e1481-6b29-0b93-d96f-efc9fa3d2c5f', '4b7bb9f6-5aba-da84-b8b5-d7eb362e51d8', '3ad364dd-9b86-0a69-3a14-4323f141a630', '87e7b2e1-cbf0-5e1f-d0a9-9a916522221b', '4638c14d-45e5-0834-8783-fd8971080b9b', 'ea652b8e-8d60-007e-b861-0086ead314ef', '38a5661c-416a-08e9-6aed-3bccb151e7e4', '83b45fe6-567c-aa27-5853-4125ea3d27cf', 'eae75d29-6652-18e9-f5bf-07fa75b5ebce', '8679d90d-1b99-b8a8-6fc8-f5274f7e9e80', '420233c9-8b17-3505-56ee-4a36659faf13', 'e36a494a-1a8a-2029-edd9-1b2f768232ba', '3cce2a59-ea56-29b7-7f81-00d8dd52b6ea', 'fd8fcc36-68e9-c3ae-9e6b-f0e023cfac27', 'f4cd1424-0a65-96d3-e184-56b02e74398f', '7011f231-ff8e-2605-61da-de2f2d86c68a', '7191d0ae-428f-da64-469a-82e9fb352db6', '0fdf6b0f-5954-0563-c023-851d12bac175', '8aa8ae8f-9cde-fee6-26cc-e0fafb499dc5', '9fcdfd12-39a9-a5a9-cbe8-6b3f394663ec', 'f5625e35-e54f-9614-cf5e-2d284fd6baed', 'e1b08886-e93d-ff5b-5c80-dacbbd8375c0', 'd8fbb6b0-e632-b596-3923-815158308c82', '576f9753-a16f-cde4-f56e-daf6454ae022', '689d3181-b15f-7a7d-3bfa-02b85a37c43b', 'cf9f4af6-2430-13d6-6f3f-605714b8a6ab', 'e28969c1-cc28-2b27-9424-ffa59d85d673', '24345c85-28bc-fe07-29a9-5aa6f006adc9', '1b89ae9b-abcd-689f-eea1-298026950beb', '31c1ab33-80b5-d97b-2cb3-b88cad539e7d', '70c119f4-92d4-a341-a924-a11f5d0ab51f', '430cd3b5-d230-f7f7-925e-4a5318da09cd', 'cd1762bb-df22-3c40-7ff3-6a4b118a4985', 'abe694ea-3597-56a0-df2c-ce8ec0252de4', '0abb2932-da50-ba64-cc11-c24e1fb1da05', '26f6ee70-7d6f-0b52-ffba-7361a8d6b10c', '1e122d57-fdc8-eebc-d6ed-c876ed8db15c', '7d7283df-7ed5-3b10-ab28-ef79ab14d120', 'c5afd70c-1466-5035-af33-d51418577f7a', 'c622620c-2687-a641-eabe-286ed4692265', '0ffcd85c-f4c2-de73-7f70-10169af7fa24', '575a367d-32dd-eb98-6852-dd726be2638a', '774dd3ba-4ad9-d7b5-6cc1-1fd279c4a2ba', 'a519942f-78b5-f321-1824-b36cdcde170c', 'e3dc2754-0b44-08f0-daa3-25dcaef3709d', '6ee7401a-30cb-537b-d226-fee9ff802aeb', '0e7b4f02-574d-0902-1e8f-fabfa7a876fa', '2a372f10-22e0-8773-72e1-108775c5aee9', '03228b6a-edef-2a78-e3b7-bc3d34d04217', 'fe9e8ecf-79e1-545d-a28b-26274781bd97', 'eba28f1d-1db0-e1a8-9f7f-33cdf61c8af2', '79aef403-f202-d7f5-a7bd-17d41eee268a', 'a1462169-9a8a-2090-f8ba-5a156f097e35', '5327a9d8-374f-ab74-23f2-eb542438b056', '8178457c-4eba-11f7-14a1-21b06e02c761', '9d96f2d8-333d-8d8d-19ba-10ed334c06a5', '5d102f9f-543b-d0bc-e509-6887faddb0da', '1ac16be4-9c27-bc83-e3cb-1ea35040406f', '6b17b083-39c0-f107-e905-ee89ad02d0ed', '3edd7198-2494-cc95-d844-ab3a3adb562f', '1ede9f9d-ba2b-7e4c-dc7d-6e461139250c', '03edc846-5e5d-00d6-e7a5-7e687f084b40', '4f2cb070-d506-05e6-74bf-828f9000f269', '2aebdebf-c1bf-b10c-a833-15cc26901628', '3b71c71e-a941-014d-b2b1-71a4b8d80c1d', 'd8ffc486-d61a-8dcf-fd09-19b12534eef9', '936a793c-34c8-6023-4047-13ae8c1eace8', '66cbb189-8ebd-df78-4bc7-26dbb1d4f7cb', '3a0500f6-a2fc-7092-a406-f0622ac3a61b', '805d1919-fd1f-6313-79a1-d37e82014404', '4e11fddc-9e90-5da5-3685-c01d0efb8542', '243d3ef4-0fb2-edb0-441f-45b5701bf2db', 'c8c17f8f-5d4d-5f59-0f25-87ae32e6e16a', '4907e10f-4a61-2ea0-598a-633faa36da2c', 'f100ec51-5788-6bbc-a99a-a710500de6ae', 'df7426fb-f175-f64f-a0f3-f9b0737ed28c', 'f452cd4d-b46a-2649-b1b9-e8b723d42f01', 'f3c141cf-3c2a-df1b-0be7-71d0e1b0506d', '028062c4-4a54-dd30-b166-51641d3ec9fc', '02ad7d05-1836-3305-e941-c94e79d4283b', '10545fda-0b7f-f479-a9eb-a50534aba634', '7bc234c8-14f5-134f-9fd7-d02b752cc1d3', '33dda6d1-bc76-060b-77c4-e278d1a93291', '0b299455-7c54-03f3-2812-0d6509d5b286', '7837ca92-1dc3-b3ef-a7f9-4207e439775c', '32d8410a-cc4b-4d8b-601d-3ad2b8ef912b', '2e3402a9-45ff-3558-8450-375f17107ca0']
104

In [416]:
#Filtrando apenas as tabelas apenas para os pacientes de interesse (que tiveram NF)
patients01_i = patients01.query("Id in @nf01_p_l")
conditions01_i = conditions01.query("PATIENT in @nf01_p_l")
encounters01_i = encounters01.query("PATIENT in @nf01_p_l")
medications01_i = medications01.query("PATIENT in @nf01_p_l")
procedures01_i = procedures01.query("PATIENT in @nf01_p_l")
allergies01_i = allergies01.query("PATIENT in @nf01_p_l")
careplans01_i = careplans01.query("PATIENT in @nf01_p_l")
devices01_i = devices01.query("PATIENT in @nf01_p_l")
immunizations01_i = immunizations01.query("PATIENT in @nf01_p_l")
observations01_i = observations01.query("PATIENT in @nf01_p_l")
supplies01_i = supplies01.query("PATIENT in @nf01_p_l")

patients02_i = patients02.query("Id in @nf02_p_l")
conditions02_i = conditions02.query("PATIENT in @nf02_p_l")
encounters02_i = encounters02.query("PATIENT in @nf02_p_l")
medications02_i = medications02.query("PATIENT in @nf02_p_l")
procedures02_i = procedures02.query("PATIENT in @nf02_p_l")
allergies02_i = allergies02.query("PATIENT in @nf02_p_l")
careplans02_i = careplans02.query("PATIENT in @nf02_p_l")
devices02_i = devices02.query("PATIENT in @nf02_p_l")
immunizations02_i = immunizations02.query("PATIENT in @nf02_p_l")
observations02_i = observations02.query("PATIENT in @nf02_p_l")
supplies02_i = supplies02.query("PATIENT in @nf02_p_l")

In [417]:
#Obtendo as condições que os pacientes de interesse apresentaram antes ou no dia que a NF começou
conditions01_i_b = pd.DataFrame(columns=['PATIENT', 'START', 'DESCRIPTION'])
for p in nf01_p_l:
  date = nf01.loc[nf01['PATIENT'] == p, 'START'].values[0]
  conditions01_i_b = pd.concat([conditions01_i_b, conditions01_i.query('PATIENT == @p & START <= @date')[['PATIENT', 'START', 'DESCRIPTION']]], ignore_index=True)

display(conditions01_i_b)

conditions02_i_b = pd.DataFrame(columns=['PATIENT', 'START', 'DESCRIPTION'])
for p in nf02_p_l:
  date = nf02.loc[nf02['PATIENT'] == p, 'START'].values[0]
  conditions02_i_b = pd.concat([conditions02_i_b, conditions02_i.query('PATIENT == @p & START <= @date')[['PATIENT', 'START', 'DESCRIPTION']]], ignore_index=True)

display(conditions02_i_b)

,PATIENT,START,DESCRIPTION
0,4288f90b-4774-c329-3176-c1482e824c04,2012-07-12,Acute myeloid leukemia disease (disorder)
1,4288f90b-4774-c329-3176-c1482e824c04,2012-07-12,Febrile neutropenia (disorder)
2,ee42b995-8fc5-d8bf-5c09-205408bb76fd,2012-07-23,Viral sinusitis (disorder)
3,ee42b995-8fc5-d8bf-5c09-205408bb76fd,2015-11-16,Acute myeloid leukemia disease (disorder)
4,ee42b995-8fc5-d8bf-5c09-205408bb76fd,2015-11-16,Febrile neutropenia (disorder)
...,...,...,...
730,c815ffa4-2917-2c09-1569-e90d5a89eeb2,1944-04-18,Viral sinusitis (disorder)
731,c815ffa4-2917-2c09-1569-e90d5a89eeb2,1946-04-12,Streptococcal sore throat (disorder)
732,c815ffa4-2917-2c09-1569-e90d5a89eeb2,1947-06-01,Viral sinusitis (disorder)
733,c815ffa4-2917-2c09-1569-e90d5a89eeb2,1948-05-19,Acute myeloid leukemia disease (disorder)
734,c815ffa4-2917-2c09-1569-e90d5a89eeb2,1948-05-19,Febrile neutropenia (disorder)

,PATIENT,START,DESCRIPTION
0,bb37561b-ba65-7c47-db5b-0641bca883b4,2013-02-08,Viral sinusitis (disorder)
1,bb37561b-ba65-7c47-db5b-0641bca883b4,2013-04-11,Acute allergic reaction
2,bb37561b-ba65-7c47-db5b-0641bca883b4,2014-10-25,Otitis media
3,bb37561b-ba65-7c47-db5b-0641bca883b4,2014-12-19,Fracture of ankle
4,bb37561b-ba65-7c47-db5b-0641bca883b4,2015-02-07,Acute myeloid leukemia disease (disorder)
...,...,...,...
609,2e3402a9-45ff-3558-8450-375f17107ca0,2020-05-28,Fracture subluxation of wrist
610,2e3402a9-45ff-3558-8450-375f17107ca0,2021-06-12,Fracture of forearm
611,2e3402a9-45ff-3558-8450-375f17107ca0,2021-06-24,Acute myeloid leukemia disease (disorder)
612,2e3402a9-45ff-3558-8450-375f17107ca0,2021-06-24,Febrile neutropenia (disorder)
613,2e3402a9-45ff-3558-8450-375f17107ca0,2021-06-24,Bacteremia (finding)

In [418]:
#Verificando quantas vezes as condições apareceram nos conjuntos de dados
cd01 = conditions01_i_b.query('PATIENT in @death01')['DESCRIPTION'].value_counts()
for d in cd01.index:
  print(d, cd01[d])
print()
cs01 = conditions01_i_b.query('PATIENT in @survive01')['DESCRIPTION'].value_counts()
for d in cs01.index:
  print(d, cs01[d])
print()
cd02 = conditions02_i_b.query('PATIENT in @death02')['DESCRIPTION'].value_counts()
for d in cd02.index:
  print(d, cd02[d])
print()
cs02 = conditions02_i_b.query('PATIENT in @survive02')['DESCRIPTION'].value_counts()
for d in cs02.index:
  print(d, cs02[d])

Febrile neutropenia (disorder) 26
Acute myeloid leukemia  disease (disorder) 25
Viral sinusitis (disorder) 21
Otitis media 18
Acute viral pharyngitis (disorder) 11
Acute bronchitis (disorder) 10
Bacteremia (finding) 10
Streptococcal sore throat (disorder) 3
Concussion with no loss of consciousness 2
Sprain of ankle 2
Risk activity involvement (finding) 2
Whiplash injury to neck 1
Sinusitis (disorder) 1
Laceration of thigh 1
Chronic sinusitis (disorder) 1
Tear of meniscus of knee 1
Sprain of wrist 1
Stress (finding) 1
Normal pregnancy 1
Injury of tendon of the rotator cuff of shoulder 1
Social isolation (finding) 1
Unemployed (finding) 1
Received higher education (finding) 1
Fracture of forearm 1
Acute allergic reaction 1
History of appendectomy 1
Appendicitis 1
Rupture of appendix 1
Perennial allergic rhinitis 1
Second degree burn 1

Acute myeloid leukemia  disease (disorder) 113
Febrile neutropenia (disorder) 113
Viral sinusitis (disorder) 44
Acute viral pharyngitis (disorder) 29
Bacteremia (finding) 27
Otitis media 26
Acute bronchitis (disorder) 25
Full-time employment (finding) 20
Streptococcal sore throat (disorder) 13
Risk activity involvement (finding) 12
Received higher education (finding) 10
Stress (finding) 8
Perennial allergic rhinitis 8
Normal pregnancy 8
Concussion with no loss of consciousness 6
Childhood asthma 6
Sprain of ankle 6
Hypertension 5
Acute allergic reaction 5
Sprain of wrist 5
Social isolation (finding) 5
Not in labor force (finding) 4
Fracture of ankle 4
Lack of access to transportation (finding) 4
Body mass index 30+ - obesity (finding) 4
Limited social contact (finding) 4
Chronic sinusitis (disorder) 3
Fracture subluxation of wrist 3
Perennial allergic rhinitis with seasonal variation 3
Reports of violence in the environment (finding) 3
Fracture of forearm 2
Laceration of foot 2
Laceration of hand 2
Severe anxiety (panic) (finding 2
Child attention deficit disorder 2
Closed fracture of hip 2
Seizure disorder 2
History of single seizure (situation) 2
Epilepsy 2
Housing unsatisfactory (finding) 2
Atopic dermatitis 2
First degree burn 2
Laceration of thigh 2
Whiplash injury to neck 2
Chronic low back pain (finding) 2
Concussion injury of brain 1
Appendicitis 1
History of appendectomy 1
History of cardiac arrest (situation) 1
Cardiac Arrest 1
Only received primary school education (finding) 1
Preeclampsia 1
Unhealthy alcohol drinking behavior (finding) 1
Part-time employment (finding) 1
Victim of intimate partner abuse (finding) 1
Injury of tendon of the rotator cuff of shoulder 1
Sinusitis (disorder) 1
Received certificate of high school equivalency (finding) 1
Anemia (disorder) 1
Spasticity (finding) 1
Epilepsy (disorder) 1
Cough (finding) 1
Concussion with loss of consciousness 1
Second degree burn 1
Sore throat symptom (finding) 1
Fatigue (finding) 1
Fever (finding) 1
Loss of taste (finding) 1
Suspected COVID-19 1
Laceration of forearm 1
COVID-19 1
Cerebral palsy (disorder) 1
Pneumonia (disorder) 1
Gastroesophageal reflux disease (disorder) 1
Chronic neck pain (finding) 1

Febrile neutropenia (disorder) 13
Acute myeloid leukemia  disease (disorder) 13
Bacteremia (finding) 7
Acute viral pharyngitis (disorder) 6
Otitis media 5
Viral sinusitis (disorder) 3
Acute bronchitis (disorder) 2
Streptococcal sore throat (disorder) 2
Stress (finding) 1
Epilepsy 1
History of single seizure (situation) 1
Seizure disorder 1
Laceration of forearm 1
Part-time employment (finding) 1
Received higher education (finding) 1
Child attention deficit disorder 1
Risk activity involvement (finding) 1
Sinusitis (disorder) 1
Second degree burn 1

Acute myeloid leukemia  disease (disorder) 104
Febrile neutropenia (disorder) 104
Viral sinusitis (disorder) 53
Bacteremia (finding) 33
Otitis media 32
Acute viral pharyngitis (disorder) 28
Risk activity involvement (finding) 17
Acute bronchitis (disorder) 16
Streptococcal sore throat (disorder) 11
Full-time employment (finding) 10
Childhood asthma 10
Stress (finding) 9
Chronic sinusitis (disorder) 6
Atopic dermatitis 6
Fracture of clavicle 6
Acute allergic reaction 5
Received certificate of high school equivalency (finding) 5
Part-time employment (finding) 5
Received higher education (finding) 4
Social isolation (finding) 4
Limited social contact (finding) 4
Normal pregnancy 4
Perennial allergic rhinitis 4
Victim of intimate partner abuse (finding) 3
Chronic low back pain (finding) 3
Fracture of ankle 3
Only received primary school education (finding) 3
Sprain of ankle 3
Sinusitis (disorder) 3
Perennial allergic rhinitis with seasonal variation 3
Hypertension 3
Fracture subluxation of wrist 2
Chronic neck pain (finding) 2
Second degree burn 2
Laceration of thigh 2
Laceration of foot 2
Unemployed (finding) 2
Acute bacterial sinusitis (disorder) 2
Child attention deficit disorder 2
Sprain of wrist 2
Fracture of forearm 2
Whiplash injury to neck 1
Unhealthy alcohol drinking behavior (finding) 1
History of single seizure (situation) 1
Seizure disorder 1
Dribbling from mouth (finding) 1
Excessive salivation (disorder) 1
Dislocation of hip joint (disorder) 1
Poor muscle tone (finding) 1
Dystonia (disorder) 1
Cerebral palsy (disorder) 1
Meningocele (disorder) 1
Cystitis 1
Antepartum eclampsia 1
Sputum finding (finding) 1
Concussion with loss of consciousness 1
Fever (finding) 1
Loss of taste (finding) 1
Not in labor force (finding) 1
Chronic pain 1
Impacted molars 1
Chronic intractable migraine without aura 1
Suspected COVID-19 1
COVID-19 1
Concussion with no loss of consciousness 1
Body mass index 30+ - obesity (finding) 1
History of cardiac arrest (situation) 1
Cardiac Arrest 1
Injury of medial collateral ligament of knee 1

In [419]:
#Verificando quantas vezes cada paciente teve a "bacteremia"
print(conditions01_i_b.query("PATIENT in @death01 & DESCRIPTION == 'Bacteremia (finding)'")[['PATIENT', 'DESCRIPTION']].value_counts())
print()
print(conditions01_i_b.query("PATIENT in @survive01 & DESCRIPTION == 'Bacteremia (finding)'")[['PATIENT', 'DESCRIPTION']].value_counts())
print()
print(conditions02_i_b.query("PATIENT in @death02 & DESCRIPTION == 'Bacteremia (finding)'")[['PATIENT', 'DESCRIPTION']].value_counts())
print()
print(conditions02_i_b.query("PATIENT in @survive02 & DESCRIPTION == 'Bacteremia (finding)'")[['PATIENT', 'DESCRIPTION']].value_counts())

PATIENT                               DESCRIPTION
158fffa4-6613-055b-3d43-d88fc9860894  Bacteremia (finding)    1
17a9abd9-10dc-e261-54b7-5c441f9cb756  Bacteremia (finding)    1
ac3634cb-cfcd-6cf8-26c2-3e6436a0504a  Bacteremia (finding)    1
adf63106-46a4-e19c-349a-f0a3eec09e33  Bacteremia (finding)    1
b60922aa-a536-e6a8-9e4b-d523d17b6929  Bacteremia (finding)    1
c9176ee2-d94c-6930-d132-0120cf1eff92  Bacteremia (finding)    1
c9e0aadd-a5b9-e1d2-eb34-2d9bdb872a73  Bacteremia (finding)    1
ccecb758-0a9b-9670-23e6-9e405f69a690  Bacteremia (finding)    1
dd902384-4955-83d4-4b52-7909f0f91e51  Bacteremia (finding)    1
eabfa666-29b5-64f3-105a-e8ea7653ae70  Bacteremia (finding)    1
dtype: int64

PATIENT                               DESCRIPTION
009c30e1-5fa4-f50c-dfa5-bf3092116bbb  Bacteremia (finding)    1
719a83df-640b-4306-64fb-f212110fcbb4  Bacteremia (finding)    1
f05e62cc-d39b-c0a4-4cda-7af990fafd7f  Bacteremia (finding)    1
f03f50be-20b1-3eae-2ed1-bb478bceb320  Bacteremia (finding)    1
dd5328d0-4c53-d310-8411-2d3a7fa5ed58  Bacteremia (finding)    1
d5c0cc48-5f8a-4533-325c-25a9c3284185  Bacteremia (finding)    1
c022272d-ecd2-92b6-32f4-3769ef3514f9  Bacteremia (finding)    1
bee38fdb-f140-2c23-fe2e-50e0adc00c7b  Bacteremia (finding)    1
b7c67b14-bc45-951f-4be5-a7942bfd533a  Bacteremia (finding)    1
aac521a8-1ab1-43f8-73f9-7c84080e275b  Bacteremia (finding)    1
98342e81-23da-dae8-5506-8da094c7d29e  Bacteremia (finding)    1
94933579-3900-8b7d-8c05-e473910e791a  Bacteremia (finding)    1
721e493e-23b3-af08-8571-54b20617f159  Bacteremia (finding)    1
70a574b3-eddf-abcb-9a64-1e6e27d13f02  Bacteremia (finding)    1
0b9466c2-6526-1ccc-9a62-c9cb2390489d  Bacteremia (finding)    1
6884a50b-2060-67ff-0863-51569e687cc2  Bacteremia (finding)    1
659eac70-eee6-e516-e203-51ad92734512  Bacteremia (finding)    1
63f9799b-e770-b92d-d74e-d57609cd775e  Bacteremia (finding)    1
49714bc2-76cf-9eb4-457c-f36d710ad603  Bacteremia (finding)    1
3fa732a0-cdca-c427-6c38-2afa3f4b2369  Bacteremia (finding)    1
2b7f1733-b575-269e-39d0-a96df81c410d  Bacteremia (finding)    1
1e92bf63-416b-c43a-fab1-7b25599ac247  Bacteremia (finding)    1
1cee6029-ca41-7786-fc4f-04aea9778336  Bacteremia (finding)    1
14926a7c-3a05-375c-fa96-88bb922504ee  Bacteremia (finding)    1
11d7ecb8-1e4b-ff44-ff40-80755767512c  Bacteremia (finding)    1
0f652e34-7595-a919-5856-50e0d6258699  Bacteremia (finding)    1
f6dea2c4-1620-05f5-bca3-429de52f9ebe  Bacteremia (finding)    1
dtype: int64

PATIENT                               DESCRIPTION
33469efc-5b9a-e5fe-a3be-b99e946395d3  Bacteremia (finding)    1
3c77e517-7aa2-1a38-33f3-ca2b56f7c575  Bacteremia (finding)    1
3f3ad6c2-337b-9d48-47b7-b2197a0a0500  Bacteremia (finding)    1
7e92403c-9dbe-241d-45fe-829d15a284bb  Bacteremia (finding)    1
81865e6e-7ce5-f2a9-202f-220bf23a3947  Bacteremia (finding)    1
84c9e441-fa88-33c8-5d87-91b863998d26  Bacteremia (finding)    1
c3a6a691-c2b9-a81e-3b0e-46362af0d52e  Bacteremia (finding)    1
dtype: int64

PATIENT                               DESCRIPTION
028062c4-4a54-dd30-b166-51641d3ec9fc  Bacteremia (finding)    1
6b17b083-39c0-f107-e905-ee89ad02d0ed  Bacteremia (finding)    1
f889ed71-2cd9-25c0-e8f3-45e5cc2d23b2  Bacteremia (finding)    1
f452cd4d-b46a-2649-b1b9-e8b723d42f01  Bacteremia (finding)    1
eba28f1d-1db0-e1a8-9f7f-33cdf61c8af2  Bacteremia (finding)    1
d8fbb6b0-e632-b596-3923-815158308c82  Bacteremia (finding)    1
cf9f4af6-2430-13d6-6f3f-605714b8a6ab  Bacteremia (finding)    1
cea409fe-95a2-abd4-52ff-f7b6b0402c89  Bacteremia (finding)    1
c622620c-2687-a641-eabe-286ed4692265  Bacteremia (finding)    1
abe694ea-3597-56a0-df2c-ce8ec0252de4  Bacteremia (finding)    1
9fcdfd12-39a9-a5a9-cbe8-6b3f394663ec  Bacteremia (finding)    1
9d96f2d8-333d-8d8d-19ba-10ed334c06a5  Bacteremia (finding)    1
8e9d1dd0-085f-a629-3ea6-9033f330b383  Bacteremia (finding)    1
8178457c-4eba-11f7-14a1-21b06e02c761  Bacteremia (finding)    1
7d7283df-7ed5-3b10-ab28-ef79ab14d120  Bacteremia (finding)    1
79aef403-f202-d7f5-a7bd-17d41eee268a  Bacteremia (finding)    1
66cbb189-8ebd-df78-4bc7-26dbb1d4f7cb  Bacteremia (finding)    1
03228b6a-edef-2a78-e3b7-bc3d34d04217  Bacteremia (finding)    1
575a367d-32dd-eb98-6852-dd726be2638a  Bacteremia (finding)    1
5429227f-c53f-74a3-2636-1a19fc58c4ac  Bacteremia (finding)    1
4b7bb9f6-5aba-da84-b8b5-d7eb362e51d8  Bacteremia (finding)    1
420233c9-8b17-3505-56ee-4a36659faf13  Bacteremia (finding)    1
3b71c71e-a941-014d-b2b1-71a4b8d80c1d  Bacteremia (finding)    1
38a5661c-416a-08e9-6aed-3bccb151e7e4  Bacteremia (finding)    1
33dda6d1-bc76-060b-77c4-e278d1a93291  Bacteremia (finding)    1
2e3402a9-45ff-3558-8450-375f17107ca0  Bacteremia (finding)    1
2a372f10-22e0-8773-72e1-108775c5aee9  Bacteremia (finding)    1
1e466cbc-5018-4c1a-b132-cf8a4a4d87cf  Bacteremia (finding)    1
1b89ae9b-abcd-689f-eea1-298026950beb  Bacteremia (finding)    1
0ffcd85c-f4c2-de73-7f70-10169af7fa24  Bacteremia (finding)    1
0e7b4f02-574d-0902-1e8f-fabfa7a876fa  Bacteremia (finding)    1
0b33cdec-f69f-d533-1841-cff1c3cc17dc  Bacteremia (finding)    1
fe4a9a3a-206c-048a-94ff-5c15a2ce745a  Bacteremia (finding)    1
dtype: int64

In [420]:
#Verificando se todos eles tiveram a "bacteremia" no mesmo dia que a NF

#Listas dos pacientes com "bacteremia"
bacteremia01 = conditions01_i_b.query("DESCRIPTION == 'Bacteremia (finding)'")
bacteremia02 = conditions02_i_b.query("DESCRIPTION == 'Bacteremia (finding)'")
bacteremia01_pl = bacteremia01['PATIENT'].tolist()
bacteremia02_pl = bacteremia02['PATIENT'].tolist()

print(len(bacteremia01_pl))
print(len(bacteremia02_pl))

cont = 0;
for p in bacteremia01_pl:
  date = nf01.loc[nf01['PATIENT'] == p, 'START'].values[0]
  if bacteremia01[bacteremia01['PATIENT'] == p]['START'].values[0] == date:
    cont += 1
  else:
    print(p)

print(cont)


cont = 0;
for p in bacteremia02_pl:
  date = nf02.loc[nf02['PATIENT'] == p, 'START'].values[0]
  if bacteremia02[bacteremia02['PATIENT'] == p]['START'].values[0] == date:
    cont += 1
  else:
    print(p)

print(cont)

37
40
37
40

In [421]:
#Acrescentando a presenção ou não de bacteremia nas tabelas pro orange:
scenario01 = scenario01.merge(bacteremia01[['PATIENT', 'DESCRIPTION']], on='PATIENT', how='left')

scenario01['BACTEREMIA'] = scenario01['DESCRIPTION'].apply(lambda x: 0 if x != x else 1)
scenario01 = scenario01.drop(['DESCRIPTION'], axis=1)

display(scenario01)

scenario02 = scenario02.merge(bacteremia02[['PATIENT', 'DESCRIPTION']], on='PATIENT', how='left')

scenario02['BACTEREMIA'] = scenario02['DESCRIPTION'].apply(lambda x: 0 if x != x else 1)
scenario02 = scenario02.drop(['DESCRIPTION'], axis=1)

display(scenario02)

,PATIENT,BIRTHDATE,RACE,ETHNICITY,GENDER,DEATH_FN,AGE_FN_DAYS,BACTEREMIA
0,4288f90b-4774-c329-3176-c1482e824c04,2010-07-13,white,nonhispanic,M,0,730,0
1,f03f50be-20b1-3eae-2ed1-bb478bceb320,2002-07-12,white,nonhispanic,M,0,5840,1
2,11089781-c268-6838-642e-2c2c9edbb694,2011-07-17,white,nonhispanic,F,0,3285,0
3,d7b9725d-889f-d178-cf41-dbf8b373eda9,2010-10-18,black,nonhispanic,F,0,2190,0
4,ed2bb6aa-1f3c-b72b-46a6-54f05cac7da7,2008-04-09,asian,nonhispanic,M,0,4380,0
...,...,...,...,...,...,...,...,...
134,7d87bdff-2df1-8162-80e4-2e406304515d,2011-06-17,white,nonhispanic,M,0,730,0
135,d5c0cc48-5f8a-4533-325c-25a9c3284185,2017-10-05,other,nonhispanic,F,0,1095,1
136,a4cabcbc-8282-5599-6b69-01e28e69c045,2004-09-24,black,nonhispanic,M,0,5840,0
137,eca28495-500f-ab7e-356b-176f31382569,2017-03-03,white,nonhispanic,F,0,1095,0
138,c815ffa4-2917-2c09-1569-e90d5a89eeb2,1933-05-23,white,nonhispanic,M,1,5475,0

,PATIENT,BIRTHDATE,RACE,ETHNICITY,GENDER,DEATH_FN,AGE_FN_DAYS,BACTEREMIA
0,bb37561b-ba65-7c47-db5b-0641bca883b4,2012-02-08,white,nonhispanic,M,0,1095,0
1,678fc07c-1cb1-acc6-3553-d848200626e9,2006-02-11,white,nonhispanic,F,0,5840,0
2,04efa71e-b8ed-980b-94a1-cd25e94b6015,2018-04-17,other,nonhispanic,F,0,1460,0
3,1e466cbc-5018-4c1a-b132-cf8a4a4d87cf,1997-02-18,white,nonhispanic,F,0,7665,1
4,8e9d1dd0-085f-a629-3ea6-9033f330b383,1996-03-07,white,nonhispanic,F,0,7300,1
...,...,...,...,...,...,...,...,...
112,84c9e441-fa88-33c8-5d87-91b863998d26,1944-08-04,white,nonhispanic,F,1,730,1
113,7837ca92-1dc3-b3ef-a7f9-4207e439775c,1996-01-13,white,nonhispanic,M,0,6205,0
114,3f3ad6c2-337b-9d48-47b7-b2197a0a0500,1969-07-18,white,nonhispanic,F,1,730,1
115,32d8410a-cc4b-4d8b-601d-3ad2b8ef912b,2006-08-23,white,nonhispanic,M,0,3285,0
116,2e3402a9-45ff-3558-8450-375f17107ca0,2016-06-25,white,nonhispanic,M,0,1825,1

In [422]:
conditions01_i_b.query("DESCRIPTION == 'Viral sinusitis (disorder)'")[['PATIENT', 'DESCRIPTION']].value_counts()

PATIENT                               DESCRIPTION
eabfa666-29b5-64f3-105a-e8ea7653ae70  Viral sinusitis (disorder)    5
5d5eed01-1a47-59f4-7e77-3068a53304b4  Viral sinusitis (disorder)    4
c815ffa4-2917-2c09-1569-e90d5a89eeb2  Viral sinusitis (disorder)    4
160a53cf-63b1-790d-5e95-307e88c1dc9c  Viral sinusitis (disorder)    3
3075db0f-918e-3d24-0782-5b359d23e357  Viral sinusitis (disorder)    2
d1fe5a74-fd5a-4651-4b55-2985bc8288ea  Viral sinusitis (disorder)    2
98342e81-23da-dae8-5506-8da094c7d29e  Viral sinusitis (disorder)    2
dd902384-4955-83d4-4b52-7909f0f91e51  Viral sinusitis (disorder)    2
70a574b3-eddf-abcb-9a64-1e6e27d13f02  Viral sinusitis (disorder)    2
9eb99407-b81e-2594-0da2-870e1d88d18c  Viral sinusitis (disorder)    2
26088591-b65b-938c-8ce0-edb6cf52ab7c  Viral sinusitis (disorder)    2
f0f510b2-9888-120a-a693-bcaca0f937cd  Viral sinusitis (disorder)    2
11c85df9-4085-afce-75ba-3e62f0c77609  Viral sinusitis (disorder)    2
fbb23e67-a3a6-1662-ab90-e9f717c61a97  Viral sinusitis (disorder)    2
b4aa64cc-948b-e193-1626-754cf0ab7944  Viral sinusitis (disorder)    2
f03f50be-20b1-3eae-2ed1-bb478bceb320  Viral sinusitis (disorder)    1
ee42b995-8fc5-d8bf-5c09-205408bb76fd  Viral sinusitis (disorder)    1
b54ad3df-4750-0941-f1ae-8b7236f8f6dc  Viral sinusitis (disorder)    1
ed2bb6aa-1f3c-b72b-46a6-54f05cac7da7  Viral sinusitis (disorder)    1
df8177ed-fd82-5fc0-4db5-476e72df7305  Viral sinusitis (disorder)    1
f05e62cc-d39b-c0a4-4cda-7af990fafd7f  Viral sinusitis (disorder)    1
d5c0cc48-5f8a-4533-325c-25a9c3284185  Viral sinusitis (disorder)    1
fa2fe2d8-24df-4eea-bc57-1e7515f66bce  Viral sinusitis (disorder)    1
ccecb758-0a9b-9670-23e6-9e405f69a690  Viral sinusitis (disorder)    1
b60922aa-a536-e6a8-9e4b-d523d17b6929  Viral sinusitis (disorder)    1
009c30e1-5fa4-f50c-dfa5-bf3092116bbb  Viral sinusitis (disorder)    1
ad1d7304-5425-7263-fc59-62cfc78051e1  Viral sinusitis (disorder)    1
9f6157ab-37f1-c912-bc1a-11b97113e8ba  Viral sinusitis (disorder)    1
0f652e34-7595-a919-5856-50e0d6258699  Viral sinusitis (disorder)    1
9d8eda02-9d9e-6f08-f840-bf52e8722946  Viral sinusitis (disorder)    1
94933579-3900-8b7d-8c05-e473910e791a  Viral sinusitis (disorder)    1
7cc73fa5-9d65-b03d-e139-4e348017b92f  Viral sinusitis (disorder)    1
689e11ec-675a-8dd6-ccfa-f8e52182ad80  Viral sinusitis (disorder)    1
659eac70-eee6-e516-e203-51ad92734512  Viral sinusitis (disorder)    1
646a689d-c588-9a91-70b6-1e0d0d44c9a1  Viral sinusitis (disorder)    1
493c4936-2813-7b3c-55b0-39b01fee5d22  Viral sinusitis (disorder)    1
3fa732a0-cdca-c427-6c38-2afa3f4b2369  Viral sinusitis (disorder)    1
22e3e441-2684-2856-3ac7-664150d509b0  Viral sinusitis (disorder)    1
158fffa4-6613-055b-3d43-d88fc9860894  Viral sinusitis (disorder)    1
11d7ecb8-1e4b-ff44-ff40-80755767512c  Viral sinusitis (disorder)    1
11089781-c268-6838-642e-2c2c9edbb694  Viral sinusitis (disorder)    1
fcacc452-c0ff-6fbe-c8b7-4b77e3807232  Viral sinusitis (disorder)    1
dtype: int64

In [423]:
def cond_30days(cond):
  sinusitis01 = conditions01_i_b.query("DESCRIPTION == @cond")
  sinusitis02 = conditions02_i_b.query("DESCRIPTION == @cond")
  sinusitis01_pl = sinusitis01['PATIENT'].value_counts().index
  sinusitis02_pl = sinusitis02['PATIENT'].value_counts().index

  print(len(sinusitis01_pl))
  print(len(sinusitis02_pl))

  #Pegando só os que tiveram no intervalo de um 30 dias antes da NF
  for p in sinusitis01_pl:
    date = nf01.loc[nf01['PATIENT'] == p, 'START'].values[0]
    date_i = date - np.timedelta64(30,'D')
    if not sinusitis01.query('PATIENT == @p & START >= @date_i & START <= @date').empty:
      display(sinusitis01.query('PATIENT == @p & START >= @date_i & START <= @date'))

  print()

  for p in sinusitis02_pl:
    date = nf02.loc[nf02['PATIENT'] == p, 'START'].values[0]
    date_i = date - np.timedelta64(30,'D')
    if not sinusitis02.query('PATIENT == @p & START >= @date_i & START <= @date').empty:
      display(sinusitis02.query('PATIENT == @p & START >= @date_i & START <= @date'))

In [424]:
cond_30days('Viral sinusitis (disorder)')
cond_30days('Otitis media')
cond_30days('Acute viral pharyngitis (disorder)')
cond_30days('Acute bronchitis (disorder)')

42
40

,PATIENT,START,DESCRIPTION
116,11d7ecb8-1e4b-ff44-ff40-80755767512c,2013-09-07,Viral sinusitis (disorder)

,PATIENT,START,DESCRIPTION
52,9d96f2d8-333d-8d8d-19ba-10ed334c06a5,2013-07-20,Viral sinusitis (disorder)

,PATIENT,START,DESCRIPTION
508,cf9f4af6-2430-13d6-6f3f-605714b8a6ab,2020-09-30,Viral sinusitis (disorder)

,PATIENT,START,DESCRIPTION
429,8e9d1dd0-085f-a629-3ea6-9033f330b383,2016-02-21,Viral sinusitis (disorder)

36
29

                                  PATIENT      START   DESCRIPTION
655  59541c40-a53e-37c0-9703-d88038b6eced 1932-03-26  Otitis media

35
29

,PATIENT,START,DESCRIPTION
407,af0d6b3e-9631-827d-6651-7565821260e2,2016-01-02,Acute viral pharyngitis (disorder)

31
16

,PATIENT,START,DESCRIPTION
607,4b115fe6-e241-6571-e959-e9340b298d75,1961-04-22,Acute bronchitis (disorder)

,PATIENT,START,DESCRIPTION
397,e8ee0f85-558b-0c10-9ef8-c7a498983aed,2018-02-20,Acute bronchitis (disorder)

,PATIENT,START,DESCRIPTION
25,3edd7198-2494-cc95-d844-ab3a3adb562f,2017-08-09,Acute bronchitis (disorder)

In [425]:
encounters01_i['START'] = encounters01_i['START'].dt.date
encounters01_i['START'] = pd.to_datetime(encounters01_i['START'])

encounters02_i['START'] = encounters02_i['START'].dt.date
encounters02_i['START'] = pd.to_datetime(encounters02_i['START'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [426]:
#Obtendo os encontros dos pacientes de interesse antes ou no dia que a NF começou
encounters01_i_b = pd.DataFrame(columns=['PATIENT', 'START', 'ENCOUNTERCLASS', 'DESCRIPTION', 'REASONDESCRIPTION'])
for p in nf01_p_l:
  date = nf01.loc[nf01['PATIENT'] == p, 'START'].values[0]
  encounters01_i_b = pd.concat([encounters01_i_b, encounters01_i.query('PATIENT == @p & START <= @date')[['PATIENT', 'START', 'ENCOUNTERCLASS', 'DESCRIPTION', 'REASONDESCRIPTION']]], ignore_index=True)

display(encounters01_i_b)

encounters02_i_b = pd.DataFrame(columns=['PATIENT', 'START', 'ENCOUNTERCLASS', 'DESCRIPTION', 'REASONDESCRIPTION'])
for p in nf02_p_l:
  date = nf02.loc[nf02['PATIENT'] == p, 'START'].values[0]
  encounters02_i_b = pd.concat([encounters02_i_b, encounters02_i.query('PATIENT == @p & START <= @date')[['PATIENT', 'START', 'ENCOUNTERCLASS', 'DESCRIPTION', 'REASONDESCRIPTION']]], ignore_index=True)

display(encounters02_i_b)

,PATIENT,START,ENCOUNTERCLASS,DESCRIPTION,REASONDESCRIPTION
0,4288f90b-4774-c329-3176-c1482e824c04,2012-06-19,wellness,Well child visit (procedure),NaN
1,4288f90b-4774-c329-3176-c1482e824c04,2012-07-12,inpatient,Encounter for problem (procedure),Acute myeloid leukemia disease (disorder)
2,ee42b995-8fc5-d8bf-5c09-205408bb76fd,2012-07-26,wellness,Well child visit (procedure),NaN
3,ee42b995-8fc5-d8bf-5c09-205408bb76fd,2012-07-23,ambulatory,Encounter for symptom,Viral sinusitis (disorder)
4,ee42b995-8fc5-d8bf-5c09-205408bb76fd,2012-10-25,wellness,Well child visit (procedure),NaN
...,...,...,...,...,...
1874,c815ffa4-2917-2c09-1569-e90d5a89eeb2,1946-04-12,ambulatory,Encounter for symptom,Streptococcal sore throat (disorder)
1875,c815ffa4-2917-2c09-1569-e90d5a89eeb2,1946-06-18,wellness,Well child visit (procedure),NaN
1876,c815ffa4-2917-2c09-1569-e90d5a89eeb2,1947-06-01,ambulatory,Encounter for symptom,Viral sinusitis (disorder)
1877,c815ffa4-2917-2c09-1569-e90d5a89eeb2,1947-06-24,wellness,Well child visit (procedure),NaN
1878,c815ffa4-2917-2c09-1569-e90d5a89eeb2,1948-05-19,inpatient,Encounter for problem (procedure),Acute myeloid leukemia disease (disorder)

,PATIENT,START,ENCOUNTERCLASS,DESCRIPTION,REASONDESCRIPTION
0,bb37561b-ba65-7c47-db5b-0641bca883b4,2012-05-16,wellness,Well child visit (procedure),NaN
1,bb37561b-ba65-7c47-db5b-0641bca883b4,2012-07-18,wellness,Well child visit (procedure),NaN
2,bb37561b-ba65-7c47-db5b-0641bca883b4,2012-10-17,wellness,Well child visit (procedure),NaN
3,bb37561b-ba65-7c47-db5b-0641bca883b4,2013-01-16,wellness,Well child visit (procedure),NaN
4,bb37561b-ba65-7c47-db5b-0641bca883b4,2013-02-08,ambulatory,Encounter for symptom,Viral sinusitis (disorder)
...,...,...,...,...,...
1676,2e3402a9-45ff-3558-8450-375f17107ca0,2020-05-29,emergency,Emergency room admission (procedure),NaN
1677,2e3402a9-45ff-3558-8450-375f17107ca0,2020-07-27,ambulatory,Encounter for 'check-up',Fracture subluxation of wrist
1678,2e3402a9-45ff-3558-8450-375f17107ca0,2021-06-05,wellness,Well child visit (procedure),NaN
1679,2e3402a9-45ff-3558-8450-375f17107ca0,2021-06-13,emergency,Emergency room admission (procedure),NaN
1680,2e3402a9-45ff-3558-8450-375f17107ca0,2021-06-24,inpatient,Encounter for problem (procedure),Acute myeloid leukemia disease (disorder)

In [427]:
wellness01 = encounters01_i_b.query("ENCOUNTERCLASS == 'wellness'")['PATIENT'].value_counts().reset_index()
wellness01.columns = ['PATIENT', 'WELLNESS_CONT']
wellness01

                                  PATIENT  WELLNESS_CONT
0    6ada49d6-cce2-faea-781d-5f4c282c49b4             17
1    cfe7cd0f-57de-4f43-d870-221bba80520b             17
2    8a9517bb-bd45-da96-f962-668c905ceecb             16
3    94933579-3900-8b7d-8c05-e473910e791a             16
4    2b7f1733-b575-269e-39d0-a96df81c410d             15
..                                    ...            ...
131  241a91d0-64e6-bd50-ba12-144a5af0311a              1
132  03ecc624-4fba-ad89-6a8c-5f197dd1a9fc              1
133  ae5f15a1-427f-ed8c-f258-f25cfb0fd85a              1
134  c022272d-ecd2-92b6-32f4-3769ef3514f9              1
135  4288f90b-4774-c329-3176-c1482e824c04              1

[136 rows x 2 columns]

In [428]:
wellness01 = wellness01.merge(scenario01[['PATIENT', 'DEATH_FN', 'AGE_FN_DAYS']], on='PATIENT', how='left')
wellness01

,PATIENT,WELLNESS_CONT,DEATH_FN,AGE_FN_DAYS
0,6ada49d6-cce2-faea-781d-5f4c282c49b4,17,1,3285
1,cfe7cd0f-57de-4f43-d870-221bba80520b,17,0,6935
2,8a9517bb-bd45-da96-f962-668c905ceecb,16,1,2555
3,94933579-3900-8b7d-8c05-e473910e791a,16,0,6935
4,2b7f1733-b575-269e-39d0-a96df81c410d,15,0,6570
...,...,...,...,...
131,241a91d0-64e6-bd50-ba12-144a5af0311a,1,0,1460
132,03ecc624-4fba-ad89-6a8c-5f197dd1a9fc,1,0,6570
133,ae5f15a1-427f-ed8c-f258-f25cfb0fd85a,1,0,0
134,c022272d-ecd2-92b6-32f4-3769ef3514f9,1,0,3651
135,4288f90b-4774-c329-3176-c1482e824c04,1,0,730

In [429]:
for i,r in wellness01[['WELLNESS_CONT', 'DEATH_FN']].iterrows():
  print(r)

WELLNESS_CONT    17
DEATH_FN          1
Name: 0, dtype: int64
WELLNESS_CONT    17
DEATH_FN          0
Name: 1, dtype: int64
WELLNESS_CONT    16
DEATH_FN          1
Name: 2, dtype: int64
WELLNESS_CONT    16
DEATH_FN          0
Name: 3, dtype: int64
WELLNESS_CONT    15
DEATH_FN          0
Name: 4, dtype: int64
WELLNESS_CONT    15
DEATH_FN          0
Name: 5, dtype: int64
WELLNESS_CONT    14
DEATH_FN          0
Name: 6, dtype: int64
WELLNESS_CONT    14
DEATH_FN          0
Name: 7, dtype: int64
WELLNESS_CONT    14
DEATH_FN          0
Name: 8, dtype: int64
WELLNESS_CONT    14
DEATH_FN          0
Name: 9, dtype: int64
WELLNESS_CONT    14
DEATH_FN          0
Name: 10, dtype: int64
WELLNESS_CONT    14
DEATH_FN          1
Name: 11, dtype: int64
WELLNESS_CONT    14
DEATH_FN          1
Name: 12, dtype: int64
WELLNESS_CONT    13
DEATH_FN          0
Name: 13, dtype: int64
WELLNESS_CONT    13
DEATH_FN          0
Name: 14, dtype: int64
WELLNESS_CONT    13
DEATH_FN          0
Name: 15, dtype: int64
WELLNESS_CONT    13
DEATH_FN          0
Name: 16, dtype: int64
WELLNESS_CONT    12
DEATH_FN          0
Name: 17, dtype: int64
WELLNESS_CONT    11
DEATH_FN          1
Name: 18, dtype: int64
WELLNESS_CONT    11
DEATH_FN          1
Name: 19, dtype: int64
WELLNESS_CONT    11
DEATH_FN          0
Name: 20, dtype: int64
WELLNESS_CONT    11
DEATH_FN          1
Name: 21, dtype: int64
WELLNESS_CONT    11
DEATH_FN          1
Name: 22, dtype: int64
WELLNESS_CONT    11
DEATH_FN          0
Name: 23, dtype: int64
WELLNESS_CONT    11
DEATH_FN          0
Name: 24, dtype: int64
WELLNESS_CONT    11
DEATH_FN          0
Name: 25, dtype: int64
WELLNESS_CONT    11
DEATH_FN          1
Name: 26, dtype: int64
WELLNESS_CONT    11
DEATH_FN          0
Name: 27, dtype: int64
WELLNESS_CONT    11
DEATH_FN          0
Name: 28, dtype: int64
WELLNESS_CONT    11
DEATH_FN          0
Name: 29, dtype: int64
WELLNESS_CONT    11
DEATH_FN          1
Name: 30, dtype: int64
WELLNESS_CONT    11
DEATH_FN          0
Name: 31, dtype: int64
WELLNESS_CONT    11
DEATH_FN          1
Name: 32, dtype: int64
WELLNESS_CONT    11
DEATH_FN          0
Name: 33, dtype: int64
WELLNESS_CONT    11
DEATH_FN          0
Name: 34, dtype: int64
WELLNESS_CONT    11
DEATH_FN          0
Name: 35, dtype: int64
WELLNESS_CONT    10
DEATH_FN          0
Name: 36, dtype: int64
WELLNESS_CONT    10
DEATH_FN          1
Name: 37, dtype: int64
WELLNESS_CONT    10
DEATH_FN          1
Name: 38, dtype: int64
WELLNESS_CONT    9
DEATH_FN         0
Name: 39, dtype: int64
WELLNESS_CONT    9
DEATH_FN         1
Name: 40, dtype: int64
WELLNESS_CONT    9
DEATH_FN         0
Name: 41, dtype: int64
WELLNESS_CONT    9
DEATH_FN         0
Name: 42, dtype: int64
WELLNESS_CONT    9
DEATH_FN         0
Name: 43, dtype: int64
WELLNESS_CONT    9
DEATH_FN         1
Name: 44, dtype: int64
WELLNESS_CONT    9
DEATH_FN         0
Name: 45, dtype: int64
WELLNESS_CONT    9
DEATH_FN         0
Name: 46, dtype: int64
WELLNESS_CONT    9
DEATH_FN         0
Name: 47, dtype: int64
WELLNESS_CONT    9
DEATH_FN         0
Name: 48, dtype: int64
WELLNESS_CONT    9
DEATH_FN         1
Name: 49, dtype: int64
WELLNESS_CONT    9
DEATH_FN         0
Name: 50, dtype: int64
WELLNESS_CONT    9
DEATH_FN         0
Name: 51, dtype: int64
WELLNESS_CONT    9
DEATH_FN         0
Name: 52, dtype: int64
WELLNESS_CONT    9
DEATH_FN         0
Name: 53, dtype: int64
WELLNESS_CONT    9
DEATH_FN         0
Name: 54, dtype: int64
WELLNESS_CONT    9
DEATH_FN         0
Name: 55, dtype: int64
WELLNESS_CONT    9
DEATH_FN         0
Name: 56, dtype: int64
WELLNESS_CONT    9
DEATH_FN         1
Name: 57, dtype: int64
WELLNESS_CONT    9
DEATH_FN         1
Name: 58, dtype: int64
WELLNESS_CONT    9
DEATH_FN         1
Name: 59, dtype: int64
WELLNESS_CONT    9
DEATH_FN         1
Name: 60, dtype: int64
WELLNESS_CONT    9
DEATH_FN         1
Name: 61, dtype: int64
WELLNESS_CONT    9
DEATH_FN         0
Name: 62, dtype: int64
WELLNESS_CONT    8
DEATH_FN         0
Name: 63, dtype: int64
WELLNESS_CONT    8
DEATH_FN         0
Name: 64, dtype: int64
WELLNESS_CONT    8
DEATH_FN         0
Name: 65, dtype: int64
WELLNESS_CONT    8
DEATH_FN         0
Name: 66, dtype: int64
WELLNESS_CONT    8
DEATH_FN         0
Name: 67, dtype: int64
WELLNESS_CONT    7
DEATH_FN         0
Name: 68, dtype: int64
WELLNESS_CONT    7
DEATH_FN         0
Name: 69, dtype: int64
WELLNESS_CONT    7
DEATH_FN         0
Name: 70, dtype: int64
WELLNESS_CONT    7
DEATH_FN         0
Name: 71, dtype: int64
WELLNESS_CONT    7
DEATH_FN         0
Name: 72, dtype: int64
WELLNESS_CONT    7
DEATH_FN         0
Name: 73, dtype: int64
WELLNESS_CONT    7
DEATH_FN         0
Name: 74, dtype: int64
WELLNESS_CONT    6
DEATH_FN         1
Name: 75, dtype: int64
WELLNESS_CONT    6
DEATH_FN         0
Name: 76, dtype: int64
WELLNESS_CONT    6
DEATH_FN         0
Name: 77, dtype: int64
WELLNESS_CONT    6
DEATH_FN         0
Name: 78, dtype: int64
WELLNESS_CONT    6
DEATH_FN         0
Name: 79, dtype: int64
WELLNESS_CONT    6
DEATH_FN         0
Name: 80, dtype: int64
WELLNESS_CONT    6
DEATH_FN         1
Name: 81, dtype: int64
WELLNESS_CONT    6
DEATH_FN         0
Name: 82, dtype: int64
WELLNESS_CONT    6
DEATH_FN         0
Name: 83, dtype: int64
WELLNESS_CONT    6
DEATH_FN         0
Name: 84, dtype: int64
WELLNESS_CONT    6
DEATH_FN         0
Name: 85, dtype: int64
WELLNESS_CONT    5
DEATH_FN         0
Name: 86, dtype: int64
WELLNESS_CONT    5
DEATH_FN         0
Name: 87, dtype: int64
WELLNESS_CONT    5
DEATH_FN         0
Name: 88, dtype: int64
WELLNESS_CONT    5
DEATH_FN         0
Name: 89, dtype: int64
WELLNESS_CONT    5
DEATH_FN         0
Name: 90, dtype: int64
WELLNESS_CONT    4
DEATH_FN         0
Name: 91, dtype: int64
WELLNESS_CONT    4
DEATH_FN         0
Name: 92, dtype: int64
WELLNESS_CONT    4
DEATH_FN         0
Name: 93, dtype: int64
WELLNESS_CONT    4
DEATH_FN         0
Name: 94, dtype: int64
WELLNESS_CONT    4
DEATH_FN         0
Name: 95, dtype: int64
WELLNESS_CONT    4
DEATH_FN         0
Name: 96, dtype: int64
WELLNESS_CONT    4
DEATH_FN         0
Name: 97, dtype: int64
WELLNESS_CONT    4
DEATH_FN         0
Name: 98, dtype: int64
WELLNESS_CONT    4
DEATH_FN         0
Name: 99, dtype: int64
WELLNESS_CONT    4
DEATH_FN         0
Name: 100, dtype: int64
WELLNESS_CONT    4
DEATH_FN         0
Name: 101, dtype: int64
WELLNESS_CONT    3
DEATH_FN         0
Name: 102, dtype: int64
WELLNESS_CONT    3
DEATH_FN         0
Name: 103, dtype: int64
WELLNESS_CONT    3
DEATH_FN         0
Name: 104, dtype: int64
WELLNESS_CONT    3
DEATH_FN         0
Name: 105, dtype: int64
WELLNESS_CONT    3
DEATH_FN         0
Name: 106, dtype: int64
WELLNESS_CONT    3
DEATH_FN         0
Name: 107, dtype: int64
WELLNESS_CONT    3
DEATH_FN         0
Name: 108, dtype: int64
WELLNESS_CONT    3
DEATH_FN         0
Name: 109, dtype: int64
WELLNESS_CONT    2
DEATH_FN         0
Name: 110, dtype: int64
WELLNESS_CONT    2
DEATH_FN         0
Name: 111, dtype: int64
WELLNESS_CONT    2
DEATH_FN         0
Name: 112, dtype: int64
WELLNESS_CONT    2
DEATH_FN         0
Name: 113, dtype: int64
WELLNESS_CONT    2
DEATH_FN         0
Name: 114, dtype: int64
WELLNESS_CONT    2
DEATH_FN         0
Name: 115, dtype: int64
WELLNESS_CONT    2
DEATH_FN         0
Name: 116, dtype: int64
WELLNESS_CONT    2
DEATH_FN         0
Name: 117, dtype: int64
WELLNESS_CONT    2
DEATH_FN         0
Name: 118, dtype: int64
WELLNESS_CONT    2
DEATH_FN         0
Name: 119, dtype: int64
WELLNESS_CONT    2
DEATH_FN         0
Name: 120, dtype: int64
WELLNESS_CONT    1
DEATH_FN         0
Name: 121, dtype: int64
WELLNESS_CONT    1
DEATH_FN         0
Name: 122, dtype: int64
WELLNESS_CONT    1
DEATH_FN         0
Name: 123, dtype: int64
WELLNESS_CONT    1
DEATH_FN         0
Name: 124, dtype: int64
WELLNESS_CONT    1
DEATH_FN         1
Name: 125, dtype: int64
WELLNESS_CONT    1
DEATH_FN         0
Name: 126, dtype: int64
WELLNESS_CONT    1
DEATH_FN         0
Name: 127, dtype: int64
WELLNESS_CONT    1
DEATH_FN         1
Name: 128, dtype: int64
WELLNESS_CONT    1
DEATH_FN         1
Name: 129, dtype: int64
WELLNESS_CONT    1
DEATH_FN         0
Name: 130, dtype: int64
WELLNESS_CONT    1
DEATH_FN         0
Name: 131, dtype: int64
WELLNESS_CONT    1
DEATH_FN         0
Name: 132, dtype: int64
WELLNESS_CONT    1
DEATH_FN         0
Name: 133, dtype: int64
WELLNESS_CONT    1
DEATH_FN         0
Name: 134, dtype: int64
WELLNESS_CONT    1
DEATH_FN         0
Name: 135, dtype: int64

In [430]:
wellness01[0:67]['DEATH_FN'].sum()

21

In [431]:
wellness01[68:135]['DEATH_FN'].sum()

5

In [432]:
encounters01_i_b.query("ENCOUNTERCLASS == 'ambulatory'")

,PATIENT,START,ENCOUNTERCLASS,DESCRIPTION,REASONDESCRIPTION
3,ee42b995-8fc5-d8bf-5c09-205408bb76fd,2012-07-23,ambulatory,Encounter for symptom,Viral sinusitis (disorder)
13,e7e52291-59e3-52f1-310c-a232fd7be114,2013-01-10,ambulatory,Encounter for symptom,Acute viral pharyngitis (disorder)
31,e7e52291-59e3-52f1-310c-a232fd7be114,2017-05-21,ambulatory,Hypertension follow-up encounter,Hypertension
32,e7e52291-59e3-52f1-310c-a232fd7be114,2017-07-20,ambulatory,Hypertension follow-up encounter,Hypertension
35,e7e52291-59e3-52f1-310c-a232fd7be114,2017-09-18,ambulatory,Hypertension follow-up encounter,Hypertension
...,...,...,...,...,...
1868,c815ffa4-2917-2c09-1569-e90d5a89eeb2,1943-05-03,ambulatory,Encounter for symptom,Acute viral pharyngitis (disorder)
1870,c815ffa4-2917-2c09-1569-e90d5a89eeb2,1943-09-12,ambulatory,Encounter for symptom,Streptococcal sore throat (disorder)
1871,c815ffa4-2917-2c09-1569-e90d5a89eeb2,1944-04-18,ambulatory,Encounter for symptom,Viral sinusitis (disorder)
1874,c815ffa4-2917-2c09-1569-e90d5a89eeb2,1946-04-12,ambulatory,Encounter for symptom,Streptococcal sore throat (disorder)
1876,c815ffa4-2917-2c09-1569-e90d5a89eeb2,1947-06-01,ambulatory,Encounter for symptom,Viral sinusitis (disorder)

In [433]:
encounters01_i_b.query("ENCOUNTERCLASS == 'ambulatory'")[['DESCRIPTION','REASONDESCRIPTION']].value_counts()

DESCRIPTION                                                            REASONDESCRIPTION
Encounter for symptom                                                  Viral sinusitis (disorder)                             68
Prenatal visit                                                         Normal pregnancy                                       46
Encounter for symptom                                                  Acute viral pharyngitis (disorder)                     40
                                                                       Acute bronchitis (disorder)                            37
                                                                       Streptococcal sore throat (disorder)                   16
Encounter for problem                                                  Child attention deficit disorder                       15
Hypertension follow-up encounter                                       Hypertension                                           15
Prenatal initial visit                                                 Normal pregnancy                                       10
Encounter for symptom                                                  Sinusitis (disorder)                                    9
                                                                       Perennial allergic rhinitis                             9
Asthma follow-up                                                       Childhood asthma                                        9
Encounter for 'check-up'                                               Concussion with no loss of consciousness                7
Encounter for symptom                                                  Childhood asthma                                        6
Encounter for 'check-up'                                               Fracture of ankle                                       4
Encounter for symptom                                                  Perennial allergic rhinitis with seasonal variation     3
Encounter for 'check-up'                                               Fracture subluxation of wrist                           3
                                                                       Fracture of forearm                                     3
Encounter for problem                                                  Atopic dermatitis                                       2
Encounter for 'check-up'                                               First degree burn                                       2
Encounter for problem                                                  Anemia (disorder)                                       2
Encounter for 'check-up'                                               Injury of tendon of the rotator cuff of shoulder        2
                                                                       Closed fracture of hip                                  2
                                                                       Second degree burn                                      2
Encounter for problem                                                  Injury of tendon of the rotator cuff of shoulder        2
Encounter for 'check-up'                                               Concussion with loss of consciousness                   1
Patient-initiated encounter                                            Normal pregnancy                                        1
Physician visit with evaluation AND/OR management service (procedure)  Cerebral palsy (disorder)                               1
Encounter for 'check-up'                                               Concussion injury of brain                              1
dtype: int64

In [434]:
ambulatory01 = encounters01_i_b.query("ENCOUNTERCLASS == 'ambulatory' & REASONDESCRIPTION == 'Viral sinusitis (disorder)'")['PATIENT'].value_counts().reset_index()
ambulatory01.columns = ['PATIENT', 'AMBULATORY_CONT']
ambulatory01

                                 PATIENT  AMBULATORY_CONT
0   eabfa666-29b5-64f3-105a-e8ea7653ae70                5
1   c815ffa4-2917-2c09-1569-e90d5a89eeb2                4
2   5d5eed01-1a47-59f4-7e77-3068a53304b4                4
3   160a53cf-63b1-790d-5e95-307e88c1dc9c                3
4   d1fe5a74-fd5a-4651-4b55-2985bc8288ea                2
5   70a574b3-eddf-abcb-9a64-1e6e27d13f02                2
6   b4aa64cc-948b-e193-1626-754cf0ab7944                2
7   98342e81-23da-dae8-5506-8da094c7d29e                2
8   26088591-b65b-938c-8ce0-edb6cf52ab7c                2
9   fbb23e67-a3a6-1662-ab90-e9f717c61a97                2
10  dd902384-4955-83d4-4b52-7909f0f91e51                2
11  3075db0f-918e-3d24-0782-5b359d23e357                2
12  9eb99407-b81e-2594-0da2-870e1d88d18c                2
13  11c85df9-4085-afce-75ba-3e62f0c77609                2
14  f0f510b2-9888-120a-a693-bcaca0f937cd                2
15  ed2bb6aa-1f3c-b72b-46a6-54f05cac7da7                1
16  b60922aa-a536-e6a8-9e4b-d523d17b6929                1
17  df8177ed-fd82-5fc0-4db5-476e72df7305                1
18  cfe7cd0f-57de-4f43-d870-221bba80520b                1
19  94933579-3900-8b7d-8c05-e473910e791a                1
20  11089781-c268-6838-642e-2c2c9edbb694                1
21  9d8eda02-9d9e-6f08-f840-bf52e8722946                1
22  ccecb758-0a9b-9670-23e6-9e405f69a690                1
23  fa2fe2d8-24df-4eea-bc57-1e7515f66bce                1
24  7cc73fa5-9d65-b03d-e139-4e348017b92f                1
25  009c30e1-5fa4-f50c-dfa5-bf3092116bbb                1
26  158fffa4-6613-055b-3d43-d88fc9860894                1
27  ee42b995-8fc5-d8bf-5c09-205408bb76fd                1
28  493c4936-2813-7b3c-55b0-39b01fee5d22                1
29  689e11ec-675a-8dd6-ccfa-f8e52182ad80                1
30  b54ad3df-4750-0941-f1ae-8b7236f8f6dc                1
31  11d7ecb8-1e4b-ff44-ff40-80755767512c                1
32  3fa732a0-cdca-c427-6c38-2afa3f4b2369                1
33  646a689d-c588-9a91-70b6-1e0d0d44c9a1                1
34  0f652e34-7595-a919-5856-50e0d6258699                1
35  ad1d7304-5425-7263-fc59-62cfc78051e1                1
36  74e0e505-9e75-787c-5b31-94c88c9dbd41                1
37  659eac70-eee6-e516-e203-51ad92734512                1
38  d5c0cc48-5f8a-4533-325c-25a9c3284185                1
39  7796fd57-7cb0-c895-5b1a-24dd98001bf0                1
40  9f6157ab-37f1-c912-bc1a-11b97113e8ba                1
41  fcacc452-c0ff-6fbe-c8b7-4b77e3807232                1
42  f03f50be-20b1-3eae-2ed1-bb478bceb320                1
43  22e3e441-2684-2856-3ac7-664150d509b0                1
44  f05e62cc-d39b-c0a4-4cda-7af990fafd7f                1

In [435]:
ambulatory01 = ambulatory01.merge(scenario01[['PATIENT', 'DEATH_FN', 'AGE_FN_DAYS']], on='PATIENT', how='left')
ambulatory01

,PATIENT,AMBULATORY_CONT,DEATH_FN,AGE_FN_DAYS
0,eabfa666-29b5-64f3-105a-e8ea7653ae70,5,1,4745
1,c815ffa4-2917-2c09-1569-e90d5a89eeb2,4,1,5475
2,5d5eed01-1a47-59f4-7e77-3068a53304b4,4,0,3285
3,160a53cf-63b1-790d-5e95-307e88c1dc9c,3,1,7665
4,d1fe5a74-fd5a-4651-4b55-2985bc8288ea,2,0,1825
5,70a574b3-eddf-abcb-9a64-1e6e27d13f02,2,0,1095
6,b4aa64cc-948b-e193-1626-754cf0ab7944,2,0,3650
7,98342e81-23da-dae8-5506-8da094c7d29e,2,0,7665
8,26088591-b65b-938c-8ce0-edb6cf52ab7c,2,0,5475
9,fbb23e67-a3a6-1662-ab90-e9f717c61a97,2,0,3285
10,dd902384-4955-83d4-4b52-7909f0f91e51,2,1,4745
11,3075db0f-918e-3d24-0782-5b359d23e357,2,1,4380
12,9eb99407-b81e-2594-0da2-870e1d88d18c,2,0,1461
13,11c85df9-4085-afce-75ba-3e62f0c77609,2,0,1095
14,f0f510b2-9888-120a-a693-bcaca0f937cd,2,0,1825
15,ed2bb6aa-1f3c-b72b-46a6-54f05cac7da7,1,0,4380
16,b60922aa-a536-e6a8-9e4b-d523d17b6929,1,1,1825
17,df8177ed-fd82-5fc0-4db5-476e72df7305,1,0,5840
18,cfe7cd0f-57de-4f43-d870-221bba80520b,1,0,6935
19,94933579-3900-8b7d-8c05-e473910e791a,1,0,6935
20,11089781-c268-6838-642e-2c2c9edbb694,1,0,3285
21,9d8eda02-9d9e-6f08-f840-bf52e8722946,1,0,7665
22,ccecb758-0a9b-9670-23e6-9e405f69a690,1,1,4380
23,fa2fe2d8-24df-4eea-bc57-1e7515f66bce,1,0,5110
24,7cc73fa5-9d65-b03d-e139-4e348017b92f,1,0,3650
25,009c30e1-5fa4-f50c-dfa5-bf3092116bbb,1,0,6570
26,158fffa4-6613-055b-3d43-d88fc9860894,1,1,730
27,ee42b995-8fc5-d8bf-5c09-205408bb76fd,1,0,1460
28,493c4936-2813-7b3c-55b0-39b01fee5d22,1,0,3650
29,689e11ec-675a-8dd6-ccfa-f8e52182ad80,1,1,6205
30,b54ad3df-4750-0941-f1ae-8b7236f8f6dc,1,0,5110
31,11d7ecb8-1e4b-ff44-ff40-80755767512c,1,0,2555
32,3fa732a0-cdca-c427-6c38-2afa3f4b2369,1,0,1095
33,646a689d-c588-9a91-70b6-1e0d0d44c9a1,1,0,1460
34,0f652e34-7595-a919-5856-50e0d6258699,1,0,1825
35,ad1d7304-5425-7263-fc59-62cfc78051e1,1,1,730
36,74e0e505-9e75-787c-5b31-94c88c9dbd41,1,0,2920
37,659eac70-eee6-e516-e203-51ad92734512,1,0,1460
38,d5c0cc48-5f8a-4533-325c-25a9c3284185,1,0,1095
39,7796fd57-7cb0-c895-5b1a-24dd98001bf0,1,0,5475
40,9f6157ab-37f1-c912-bc1a-11b97113e8ba,1,0,6205
41,fcacc452-c0ff-6fbe-c8b7-4b77e3807232,1,0,4380
42,f03f50be-20b1-3eae-2ed1-bb478bceb320,1,0,5840
43,22e3e441-2684-2856-3ac7-664150d509b0,1,0,1095
44,f05e62cc-d39b-c0a4-4cda-7af990fafd7f,1,0,6570

In [436]:
for i,r in ambulatory01[['AMBULATORY_CONT', 'DEATH_FN']].iterrows():
  print(r)

AMBULATORY_CONT    5
DEATH_FN           1
Name: 0, dtype: int64
AMBULATORY_CONT    4
DEATH_FN           1
Name: 1, dtype: int64
AMBULATORY_CONT    4
DEATH_FN           0
Name: 2, dtype: int64
AMBULATORY_CONT    3
DEATH_FN           1
Name: 3, dtype: int64
AMBULATORY_CONT    2
DEATH_FN           0
Name: 4, dtype: int64
AMBULATORY_CONT    2
DEATH_FN           0
Name: 5, dtype: int64
AMBULATORY_CONT    2
DEATH_FN           0
Name: 6, dtype: int64
AMBULATORY_CONT    2
DEATH_FN           0
Name: 7, dtype: int64
AMBULATORY_CONT    2
DEATH_FN           0
Name: 8, dtype: int64
AMBULATORY_CONT    2
DEATH_FN           0
Name: 9, dtype: int64
AMBULATORY_CONT    2
DEATH_FN           1
Name: 10, dtype: int64
AMBULATORY_CONT    2
DEATH_FN           1
Name: 11, dtype: int64
AMBULATORY_CONT    2
DEATH_FN           0
Name: 12, dtype: int64
AMBULATORY_CONT    2
DEATH_FN           0
Name: 13, dtype: int64
AMBULATORY_CONT    2
DEATH_FN           0
Name: 14, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 15, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           1
Name: 16, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 17, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 18, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 19, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 20, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 21, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           1
Name: 22, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 23, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 24, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 25, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           1
Name: 26, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 27, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 28, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           1
Name: 29, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 30, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 31, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 32, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 33, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 34, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           1
Name: 35, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 36, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 37, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 38, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 39, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 40, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 41, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 42, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 43, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 44, dtype: int64

In [437]:
ambulatory01[0:21]['DEATH_FN'].sum()

6

In [438]:
ambulatory01[22:44]['DEATH_FN'].sum()

4

In [439]:
wellness02 = encounters02_i_b.query("ENCOUNTERCLASS == 'wellness'")['PATIENT'].value_counts().reset_index()
wellness02.columns = ['PATIENT', 'WELLNESS_CONT']
wellness02

                                  PATIENT  WELLNESS_CONT
0    c8c17f8f-5d4d-5f59-0f25-87ae32e6e16a             17
1    d8ffc486-d61a-8dcf-fd09-19b12534eef9             17
2    8178457c-4eba-11f7-14a1-21b06e02c761             17
3    1748fa10-1d91-69e5-bc0f-2b4041712e11             16
4    c3a6a691-c2b9-a81e-3b0e-46362af0d52e             16
..                                    ...            ...
110  243d3ef4-0fb2-edb0-441f-45b5701bf2db              1
111  10545fda-0b7f-f479-a9eb-a50534aba634              1
112  4907e10f-4a61-2ea0-598a-633faa36da2c              1
113  38a5661c-416a-08e9-6aed-3bccb151e7e4              1
114  1b89ae9b-abcd-689f-eea1-298026950beb              1

[115 rows x 2 columns]

In [440]:
wellness02 = wellness02.merge(scenario02[['PATIENT', 'DEATH_FN', 'AGE_FN_DAYS']], on='PATIENT', how='left')
wellness02

,PATIENT,WELLNESS_CONT,DEATH_FN,AGE_FN_DAYS
0,c8c17f8f-5d4d-5f59-0f25-87ae32e6e16a,17,0,3285
1,d8ffc486-d61a-8dcf-fd09-19b12534eef9,17,0,6570
2,8178457c-4eba-11f7-14a1-21b06e02c761,17,0,2920
3,1748fa10-1d91-69e5-bc0f-2b4041712e11,16,1,2555
4,c3a6a691-c2b9-a81e-3b0e-46362af0d52e,16,1,2555
...,...,...,...,...
110,243d3ef4-0fb2-edb0-441f-45b5701bf2db,1,0,0
111,10545fda-0b7f-f479-a9eb-a50534aba634,1,0,0
112,4907e10f-4a61-2ea0-598a-633faa36da2c,1,0,1825
113,38a5661c-416a-08e9-6aed-3bccb151e7e4,1,0,0
114,1b89ae9b-abcd-689f-eea1-298026950beb,1,0,2920

In [441]:
wellness02[0:56]['DEATH_FN'].sum()

11

In [442]:
wellness02[57:114]['DEATH_FN'].sum()

2

In [443]:
encounters02_i_b.query("ENCOUNTERCLASS == 'ambulatory'")

,PATIENT,START,ENCOUNTERCLASS,DESCRIPTION,REASONDESCRIPTION
4,bb37561b-ba65-7c47-db5b-0641bca883b4,2013-02-08,ambulatory,Encounter for symptom,Viral sinusitis (disorder)
7,bb37561b-ba65-7c47-db5b-0641bca883b4,2013-04-12,ambulatory,Encounter for problem,NaN
8,bb37561b-ba65-7c47-db5b-0641bca883b4,2013-04-29,ambulatory,Encounter for problem,NaN
15,bb37561b-ba65-7c47-db5b-0641bca883b4,2015-01-22,ambulatory,Encounter for 'check-up',Fracture of ankle
17,fe9e8ecf-79e1-545d-a28b-26274781bd97,2010-01-23,ambulatory,Encounter for symptom,Acute bacterial sinusitis (disorder)
...,...,...,...,...,...
1631,f4b28b81-0c49-d919-8a75-a7a8912d5556,2016-02-21,ambulatory,Encounter for symptom,Acute viral pharyngitis (disorder)
1636,f4b28b81-0c49-d919-8a75-a7a8912d5556,2017-01-02,ambulatory,Encounter for symptom,Streptococcal sore throat (disorder)
1661,2e3402a9-45ff-3558-8450-375f17107ca0,2017-02-22,ambulatory,Encounter for symptom,Acute viral pharyngitis (disorder)
1663,2e3402a9-45ff-3558-8450-375f17107ca0,2017-05-09,ambulatory,Encounter for symptom,Acute viral pharyngitis (disorder)
1677,2e3402a9-45ff-3558-8450-375f17107ca0,2020-07-27,ambulatory,Encounter for 'check-up',Fracture subluxation of wrist

In [444]:
encounters02_i_b.query("ENCOUNTERCLASS == 'ambulatory'")[['DESCRIPTION','REASONDESCRIPTION']].value_counts()

DESCRIPTION                                                            REASONDESCRIPTION
Encounter for symptom                                                  Viral sinusitis (disorder)                             56
                                                                       Acute viral pharyngitis (disorder)                     35
Asthma follow-up                                                       Childhood asthma                                       24
Prenatal visit                                                         Normal pregnancy                                       24
Encounter for symptom                                                  Acute bronchitis (disorder)                            21
                                                                       Sinusitis (disorder)                                   14
                                                                       Streptococcal sore throat (disorder)                   13
                                                                       Childhood asthma                                       10
Hypertension follow-up encounter                                       Hypertension                                            9
Encounter for problem                                                  Atopic dermatitis                                       7
Encounter for symptom                                                  Acute bacterial sinusitis (disorder)                    6
Encounter for 'check-up'                                               Fracture of clavicle                                    6
Prenatal initial visit                                                 Normal pregnancy                                        4
Encounter for symptom                                                  Perennial allergic rhinitis                             4
Encounter for problem                                                  Child attention deficit disorder                        4
Encounter for symptom                                                  Perennial allergic rhinitis with seasonal variation     3
Encounter for 'check-up'                                               Second degree burn                                      3
                                                                       Fracture subluxation of wrist                           2
                                                                       Fracture of ankle                                       2
Encounter for symptom                                                  Cystitis                                                1
Encounter for 'check-up'                                               Concussion with no loss of consciousness                1
Patient encounter procedure (procedure)                                Meningocele (disorder)                                  1
Patient-initiated encounter                                            Normal pregnancy                                        1
Physician visit with evaluation AND/OR management service (procedure)  Cerebral palsy (disorder)                               1
Encounter for 'check-up'                                               Fracture of forearm                                     1
dtype: int64

In [445]:
ambulatory02 = encounters02_i_b.query("ENCOUNTERCLASS == 'ambulatory' & DESCRIPTION == 'Encounter for symptom'")['PATIENT'].value_counts().reset_index()
ambulatory02.columns = ['PATIENT', 'AMBULATORY_CONT']
ambulatory02

                                 PATIENT  AMBULATORY_CONT
0   1e466cbc-5018-4c1a-b132-cf8a4a4d87cf               10
1   8178457c-4eba-11f7-14a1-21b06e02c761               10
2   3edd7198-2494-cc95-d844-ab3a3adb562f                6
3   fe9e8ecf-79e1-545d-a28b-26274781bd97                5
4   1748fa10-1d91-69e5-bc0f-2b4041712e11                4
..                                   ...              ...
68  84c9e441-fa88-33c8-5d87-91b863998d26                1
69  028062c4-4a54-dd30-b166-51641d3ec9fc                1
70  f3c141cf-3c2a-df1b-0be7-71d0e1b0506d                1
71  df7426fb-f175-f64f-a0f3-f9b0737ed28c                1
72  bb37561b-ba65-7c47-db5b-0641bca883b4                1

[73 rows x 2 columns]

In [446]:
ambulatory02 = ambulatory02.merge(scenario02[['PATIENT', 'DEATH_FN', 'AGE_FN_DAYS']], on='PATIENT', how='left')
ambulatory02

,PATIENT,AMBULATORY_CONT,DEATH_FN,AGE_FN_DAYS
0,1e466cbc-5018-4c1a-b132-cf8a4a4d87cf,10,0,7665
1,8178457c-4eba-11f7-14a1-21b06e02c761,10,0,2920
2,3edd7198-2494-cc95-d844-ab3a3adb562f,6,0,6935
3,fe9e8ecf-79e1-545d-a28b-26274781bd97,5,0,4380
4,1748fa10-1d91-69e5-bc0f-2b4041712e11,4,1,2555
...,...,...,...,...
68,84c9e441-fa88-33c8-5d87-91b863998d26,1,1,730
69,028062c4-4a54-dd30-b166-51641d3ec9fc,1,0,6205
70,f3c141cf-3c2a-df1b-0be7-71d0e1b0506d,1,0,4745
71,df7426fb-f175-f64f-a0f3-f9b0737ed28c,1,0,3285
72,bb37561b-ba65-7c47-db5b-0641bca883b4,1,0,1095

In [447]:
for i,r in ambulatory02[['AMBULATORY_CONT', 'DEATH_FN']].iterrows():
  print(r)

AMBULATORY_CONT    10
DEATH_FN            0
Name: 0, dtype: int64
AMBULATORY_CONT    10
DEATH_FN            0
Name: 1, dtype: int64
AMBULATORY_CONT    6
DEATH_FN           0
Name: 2, dtype: int64
AMBULATORY_CONT    5
DEATH_FN           0
Name: 3, dtype: int64
AMBULATORY_CONT    4
DEATH_FN           1
Name: 4, dtype: int64
AMBULATORY_CONT    4
DEATH_FN           0
Name: 5, dtype: int64
AMBULATORY_CONT    4
DEATH_FN           0
Name: 6, dtype: int64
AMBULATORY_CONT    4
DEATH_FN           0
Name: 7, dtype: int64
AMBULATORY_CONT    4
DEATH_FN           0
Name: 8, dtype: int64
AMBULATORY_CONT    4
DEATH_FN           0
Name: 9, dtype: int64
AMBULATORY_CONT    4
DEATH_FN           0
Name: 10, dtype: int64
AMBULATORY_CONT    3
DEATH_FN           0
Name: 11, dtype: int64
AMBULATORY_CONT    3
DEATH_FN           0
Name: 12, dtype: int64
AMBULATORY_CONT    3
DEATH_FN           0
Name: 13, dtype: int64
AMBULATORY_CONT    3
DEATH_FN           1
Name: 14, dtype: int64
AMBULATORY_CONT    3
DEATH_FN           0
Name: 15, dtype: int64
AMBULATORY_CONT    3
DEATH_FN           0
Name: 16, dtype: int64
AMBULATORY_CONT    3
DEATH_FN           0
Name: 17, dtype: int64
AMBULATORY_CONT    3
DEATH_FN           0
Name: 18, dtype: int64
AMBULATORY_CONT    2
DEATH_FN           1
Name: 19, dtype: int64
AMBULATORY_CONT    2
DEATH_FN           0
Name: 20, dtype: int64
AMBULATORY_CONT    2
DEATH_FN           0
Name: 21, dtype: int64
AMBULATORY_CONT    2
DEATH_FN           1
Name: 22, dtype: int64
AMBULATORY_CONT    2
DEATH_FN           0
Name: 23, dtype: int64
AMBULATORY_CONT    2
DEATH_FN           0
Name: 24, dtype: int64
AMBULATORY_CONT    2
DEATH_FN           0
Name: 25, dtype: int64
AMBULATORY_CONT    2
DEATH_FN           0
Name: 26, dtype: int64
AMBULATORY_CONT    2
DEATH_FN           0
Name: 27, dtype: int64
AMBULATORY_CONT    2
DEATH_FN           0
Name: 28, dtype: int64
AMBULATORY_CONT    2
DEATH_FN           0
Name: 29, dtype: int64
AMBULATORY_CONT    2
DEATH_FN           0
Name: 30, dtype: int64
AMBULATORY_CONT    2
DEATH_FN           0
Name: 31, dtype: int64
AMBULATORY_CONT    2
DEATH_FN           0
Name: 32, dtype: int64
AMBULATORY_CONT    2
DEATH_FN           0
Name: 33, dtype: int64
AMBULATORY_CONT    2
DEATH_FN           0
Name: 34, dtype: int64
AMBULATORY_CONT    2
DEATH_FN           0
Name: 35, dtype: int64
AMBULATORY_CONT    2
DEATH_FN           0
Name: 36, dtype: int64
AMBULATORY_CONT    2
DEATH_FN           0
Name: 37, dtype: int64
AMBULATORY_CONT    2
DEATH_FN           0
Name: 38, dtype: int64
AMBULATORY_CONT    2
DEATH_FN           0
Name: 39, dtype: int64
AMBULATORY_CONT    2
DEATH_FN           0
Name: 40, dtype: int64
AMBULATORY_CONT    2
DEATH_FN           0
Name: 41, dtype: int64
AMBULATORY_CONT    2
DEATH_FN           0
Name: 42, dtype: int64
AMBULATORY_CONT    2
DEATH_FN           0
Name: 43, dtype: int64
AMBULATORY_CONT    2
DEATH_FN           0
Name: 44, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 45, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 46, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           1
Name: 47, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 48, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 49, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 50, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 51, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 52, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           1
Name: 53, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 54, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 55, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 56, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 57, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 58, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 59, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 60, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 61, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 62, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 63, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 64, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 65, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 66, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 67, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           1
Name: 68, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 69, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 70, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 71, dtype: int64
AMBULATORY_CONT    1
DEATH_FN           0
Name: 72, dtype: int64

In [448]:
ambulatory02[0:35]['DEATH_FN'].sum()

4

In [449]:
ambulatory02[36:72]['DEATH_FN'].sum()

3

In [450]:
#Acrescentando a contagem de encontros do tipo "wellness" nas tabelas pro orange:
scenario01 = scenario01.merge(wellness01[['PATIENT', 'WELLNESS_CONT']], on='PATIENT', how='left')

scenario01['WELLNESS_CONT'] = scenario01['WELLNESS_CONT'].apply(lambda x: 0 if x != x else x)

display(scenario01)

scenario02 = scenario02.merge(wellness02[['PATIENT', 'WELLNESS_CONT']], on='PATIENT', how='left')

scenario02['WELLNESS_CONT'] = scenario02['WELLNESS_CONT'].apply(lambda x: 0 if x != x else x)

display(scenario02)

,PATIENT,BIRTHDATE,RACE,ETHNICITY,GENDER,DEATH_FN,AGE_FN_DAYS,BACTEREMIA,WELLNESS_CONT
0,4288f90b-4774-c329-3176-c1482e824c04,2010-07-13,white,nonhispanic,M,0,730,0,1.0
1,f03f50be-20b1-3eae-2ed1-bb478bceb320,2002-07-12,white,nonhispanic,M,0,5840,1,6.0
2,11089781-c268-6838-642e-2c2c9edbb694,2011-07-17,white,nonhispanic,F,0,3285,0,12.0
3,d7b9725d-889f-d178-cf41-dbf8b373eda9,2010-10-18,black,nonhispanic,F,0,2190,0,7.0
4,ed2bb6aa-1f3c-b72b-46a6-54f05cac7da7,2008-04-09,asian,nonhispanic,M,0,4380,0,7.0
...,...,...,...,...,...,...,...,...,...
134,7d87bdff-2df1-8162-80e4-2e406304515d,2011-06-17,white,nonhispanic,M,0,730,0,4.0
135,d5c0cc48-5f8a-4533-325c-25a9c3284185,2017-10-05,other,nonhispanic,F,0,1095,1,11.0
136,a4cabcbc-8282-5599-6b69-01e28e69c045,2004-09-24,black,nonhispanic,M,0,5840,0,8.0
137,eca28495-500f-ab7e-356b-176f31382569,2017-03-03,white,nonhispanic,F,0,1095,0,11.0
138,c815ffa4-2917-2c09-1569-e90d5a89eeb2,1933-05-23,white,nonhispanic,M,1,5475,0,9.0

,PATIENT,BIRTHDATE,RACE,ETHNICITY,GENDER,DEATH_FN,AGE_FN_DAYS,BACTEREMIA,WELLNESS_CONT
0,bb37561b-ba65-7c47-db5b-0641bca883b4,2012-02-08,white,nonhispanic,M,0,1095,0,9.0
1,678fc07c-1cb1-acc6-3553-d848200626e9,2006-02-11,white,nonhispanic,F,0,5840,0,9.0
2,04efa71e-b8ed-980b-94a1-cd25e94b6015,2018-04-17,other,nonhispanic,F,0,1460,0,13.0
3,1e466cbc-5018-4c1a-b132-cf8a4a4d87cf,1997-02-18,white,nonhispanic,F,0,7665,1,4.0
4,8e9d1dd0-085f-a629-3ea6-9033f330b383,1996-03-07,white,nonhispanic,F,0,7300,1,3.0
...,...,...,...,...,...,...,...,...,...
112,84c9e441-fa88-33c8-5d87-91b863998d26,1944-08-04,white,nonhispanic,F,1,730,1,9.0
113,7837ca92-1dc3-b3ef-a7f9-4207e439775c,1996-01-13,white,nonhispanic,M,0,6205,0,15.0
114,3f3ad6c2-337b-9d48-47b7-b2197a0a0500,1969-07-18,white,nonhispanic,F,1,730,1,9.0
115,32d8410a-cc4b-4d8b-601d-3ad2b8ef912b,2006-08-23,white,nonhispanic,M,0,3285,0,8.0
116,2e3402a9-45ff-3558-8450-375f17107ca0,2016-06-25,white,nonhispanic,M,0,1825,1,14.0

Considerando os medicamentos: